<style>
	.itmeTime::after {
		left: 15px !important;
	}
	
	.list .item-thumbnail-left:after,
	.popup .popup-head:after {
		left: 100%;
	}
</style>
<ion-view view-title="活动详情" id="activity_details">
	<ion-content overflow-scroll="false" has-bouncing="true">
		<ion-refresher pulling-text="下拉刷新" on-refresh="pulldownRefresh_()"></ion-refresher>
		<div class="nodata_textdiv" ng-if="activity==null">
			童鞋，你还木有该活动信息哟~~！
		</div>
		<div ng-if="activity" style="padding-bottom: 100px;" ng-if="activity">
			<div class="swiper-container" id="swiper-container-detail">
				<div class="swiper-wrapper" id="swiper-wrapper-detail">
					<div ng-repeat="item in activity.imgUrl" class="swiper-slide">
						<div style="background-repeat: no-repeat;" ng-style="{'background-image': 'url('+(item | formatDbImgUrl)+')'}" ng-init="$last && swiper_init()" class="carousel-image">
						</div>
						<!--<img ng-click="imageNavigate(item)" src="{{item.fileImgUrl | formatDbImgUrl}}" data-holder-rendered="true" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()"/>-->
					</div>
				</div>
				<div class="swiper-pagination" id="swiper-pagination-detail"></div>
			</div>
			<div class="activity-signup">
				<div class="signup" style="z-index: 100;">
					<span>已报名：</span>
					<span class="abiEnrollmentNum">{{activity.abiSignNum || 0}}/</span>
					<span>{{activity.limitSignNum || 0}}</span>
				</div>
				<div class="signup-no-back" style="z-index: 100;">
					<span>已报名：</span>
					<span class="abiEnrollmentNum">{{activity.abiSignNum || 0}}/</span>
					<span>{{activity.limitSignNum || 0}}</span>
				</div>
			</div>
			<ul class="list">
				<li class="item">
					<div style="margin-bottom: 10px;">
						<span>{{activity.abiName}}</span>
					</div>
					<div>
						<span class="icon-home_activity_del_time" style="color:#999999;display: block;float: left;margin-top: 2px;margin-right: 5px;"></span>
						<label class="timeTitle">{{activity.abiStatusName}}</label>
					</div>
				</li>
			</ul>
			<ul class="list">
				<li class="item itmeTime">
					<span>活动主办方：</span>
					<label class="timeTitle" ng-repeat="sponsor in activity.activitySponsors">{{sponsor.sdiName}} </label>
				</li>
				<li class="item itmeTime" style="display:block">
					<span>开始时间：　</span>
					<label class="time">{{activity.abiStartTime | formatDate}}</label><br />
					<span>结束时间：　</span>
					<label class="time">{{activity.abiEndTime| formatDate}}</label><br />
					<span>报名截止：　</span>
					<label class="deadline">{{activity.abiRegistrationDeadline | formatDate}}</label><br />
				</li>
				<li class="item" style="display:block" ng-click="toMap()">
					<span>活动地点：　</span>
					<label class="timeTitle">{{activity.abiGpsPlace}}</label>
					<span class="icon-home_add place"></span>
				</li>
			</ul>
			<ul class="list" ng-if="activity.abiPurpose">
				<li class="item" style="display:block">
					<span>活动意义：</span><br />
					<label class="timeTitle">{{activity.abiPurpose}}</label>
				</li>
			</ul>
			<ul class="list" ng-if="activity.abiDescription ">
				<li class="item" style="display:block">
					<span>活动简介：</span><br />
					<label class="timeTitle" ng-bind-html="activity.abiDescription | unsafe"></label>
				</li>
			</ul>
			<ul class="list">
				<li class="item itmeTime" style="display:block;max-height: 122px;">
					<span>发起人</span>
					<div class="item item-thumbnail-left" style="padding-top:15px;padding-bottom: 0px;min-height: 80px;padding-left: 100px;">
						<img ng-src="{{activity.createId.imgUrl | formatImgUrl}}" style="border-radius: 15px;max-width: 60px;max-height: 60px;margin-left: -10px;" ng-click="toUser(activity.createId.createId)">
						<span>{{activity.createName}}</span><br />
						<span class="timeTitle">{{activity.createDate | formatDate}}
			      	<i class="icon" style="float: right; margin-top: -10px; margin-right: -7px;"><span style="font-size: 24px;" class="icon-common_rightarrow item_common_arrow_right" ng-click="commentSponsorInfo(activity.createId.createId)"></span></i>
						</span>
					</div>
				</li>
				<li class="item itmeTime" style="display:block" ng-if="activity.abiOrganisers.length>0">
					<span style="display: block;margin-bottom: 10px;">组织人</span>
					<div class="ui centered tiny image circular headStyle" ng-if="activity.abiOrganisers.length == 0"></div>
					<img class="ui centered tiny image circular headStyle" ng-src="{{orgImg.imgUrl | formatImgUrl}}" ng-repeat="orgImg in activity.abiOrganisers" ng-click="toUser(orgImg.aoiUserId)">
					<i class="icon" style="float: right;margin-top:20px"><span style="font-size: 24px;" class="icon-common_rightarrow item_common_arrow_right"  ng-click="getMoreOrganize()" ></span></i>
				</li>
				<li class="item" style="display:block" ng-if="apply.length>0">
					<span style="display: block;margin-bottom: 10px;">报名人</span>
					<div class="ui centered tiny image circular headStyle" ng-if="apply.length == 0"></div>
					<img class="ui centered tiny image circular headStyle" ng-src="{{applyImg.imgUrl | formatImgUrl}}" ng-repeat="applyImg in apply" ng-click="toUser(applyImg.aoiUserId)">
					<i class="icon" style="float: right;margin-top:20px"><span style="font-size: 24px;" class="icon-common_rightarrow item_common_arrow_right" ng-click="getMoreApply()"></span></i>
				</li>
			</ul>
			<!--评论-->
			<div ng-if="activity && (activity.allowComment !=2) && (activity.abiStatus == 3 || activity.abiStatus == 4)">
				<ion-list>
					<li class="item comment-bar">
						评论
						<!--ng-if="isEdit && changeActivity || true"-->
						<span class="float-right comment-bar-edit" ng-show="(isEdit ==0 || isEdit ==1) && isComment !=2" ng-click="isCommentEdit=!isCommentEdit">{{isCommentEdit?'完成':'编辑'}}</span>
						<span class="float-right comment-bar-comment" ng-if="isEdit==2 && isComment==0" ng-click="toComment()">
			    			<span class="icon-Rectangle-584"></span>评论
						</span>
						<span class="float-right have-ratings" ng-if="isEdit==2 && isComment==1">已评论</span>
					</li>
					<ion-item class="item item-thumbnail-left comment-list {{isCommentEdit?'is-comment-edit':''}}" ng-repeat="c in comment">
						<div class="comment-delete" ng-if="isCommentEdit" ng-click="clearComment(c.aciId)">
							<span class="icon-create_-activity_cancel">
                				<span class="path1"></span><span class="path2"></span>
							</span>
							<p>屏蔽</p>
						</div>
						<img class="ui centered tiny image circular {{isCommentEdit?'is-comment-edit':''}}" ng-src="{{c.imgUrl | formatImgUrl}}" ng-click="toUser(c.uuiId)">
						<h2>
							{{c.createName}}
							<span class="ui rating">
								<i class="icon active" ng-if="c.aciScore>=1"></i>
								<i class="icon active" ng-if="c.aciScore>=2"></i>
								<i class="icon active" ng-if="c.aciScore>=3"></i>
								<i class="icon active" ng-if="c.aciScore>=4"></i>
								<i class="icon active" ng-if="c.aciScore>=5"></i>
							</span>
							<span class="comment-reply-sum" ng-click="commentInfo(c.aciId)">{{c.sum}}</span>
							<span class="icon-my_comment_del_reply" ng-click="commentInfo(c.aciId)"></span>
						</h2>
						<p class="comment-time">{{c.createDate | formatCommentDate}}</p>
						<p class="comment-content" ng-click="commentInfo(c.aciId)">{{c.aciContent}}</p>
					</ion-item>
				</ion-list>
				<div class="item bottom-more" ng-if="comment.length > 5" ng-click="getoActivityComment()">
					查看更多
				</div>
				<div class="nodata_textdiv" style="margin-top: 40px;" ng-if="comment.length ==0">
					<div ng-if="(isEdit == 0 || isEdit ==1) && isComment !=2 && comment.length ==0">稍点~</div>
					<div ng-if="isEdit == 2 && isComment !=2 && comment.length ==0">快来抢沙发~</div>
					<div ng-if="isEdit == 3 && isComment !=2  && comment.length ==0">热评论进行中~</div>
				</div>
			</div>
		</div>
		<ion-infinite-scroll immediate-check="false" ng-if="moredata" on-infinite="pullupRefresh_()" distance="1%"></ion-infinite-scroll>
	</ion-content>
	<!--参与人 报名按钮-->
	<button class="button button-full button-calm apply" style="background-color: #39d0e7;" ng-if="activity && !flagDeadlineTime && !changeActivity && (activity.abiStatus == 1 && (activity.abiSignNum != activity.limitSignNum)) && isApply.isEnroll == 0 " ng-click="activityJoin(activity.id)">马上报名</button>
	<!--参与人 过了截止时间-->
	<button class="button button-full button-calm apply" style="background-color: #666666;" ng-if="activity && flagDeadlineTime && !changeActivity && activity.abiStatus == 1">报名结束</button>
	<!--参与人 报名成功-->
	<button class="button button-full button-assertive apply" style="background-color: #FF3434;" ng-if="activity && !changeActivity && (activity.abiStatus == 1 && (activity.abiSignNum != activity.limitSignNum)) && isApply.isEnroll == 1" ng-click="cancelApply(activity.id,activity.abiName)">取消报名</button>

	<!--参与人 签到按钮-->
	<button class="button button-full button-calm apply" style="background-color: #39d0e7;" ng-if="activity && !changeActivity && !flagApply && activity.abiStatus == 2 && isApply.isSign == 0 " ng-click="activitySignIn(activity.id)">马上签到</button>
	<!--参与人 签到成功-->
	<button class="button button-full button-balanced apply" ng-if="activity && !changeActivity && !flagApply && activity.abiStatus == 2 && isApply.isSign == 1 ">签到成功</button>

	<!--组织者/发起人  开启活动-->
	<button class="button button-full button-calm apply" style="background-color: #39d0e7;" ng-if="activity && changeActivity && activity.abiStatus == 1" ng-click="changeActivityStatus(activity.id,2)">开始活动</button>

	<!--组织者/发起人  结束活动-->
	<button class="button button-full button-assertive apply" style="background-color: #FF3434;" ng-if="activity && changeActivity && activity.abiStatus == 2" ng-click="changeActivityStatus(activity.id,3)">结束活动</button>

</ion-view>
<script type="text/javascript">
	var offset = 0;
	var limit = 10;
	var cancelApply = null;
	var changeActivityStatus = null;

	function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading, $stateParams, $sce, $parse, $interpolate) {

		$scope.activity = "";
		$scope.apply = [];
		$scope.comment = [];
		$scope.isComment = 3; // 0:未评；1：已评；2：已过期，3：游客
		$scope.isEdit = 3; // 0创建者； 1：织都者；2：参与者，3：游客
		$scope.params = $scope.pageParams();
		$scope.activityId = $scope.params.id; //活动ID
		$scope.qrCodeType = $scope.params.type; //扫描类型：1自动报名,2自动签到,3自动报名 自动签到
		$scope.changeActivity = false; //是否创建人或组织人
		$scope.flagApply = false; //是否报名
		$scope.flagDeadlineTime = false; //是否超过截止时间
		$scope.isCommentEdit = false; //是否是评论编辑状态

		$scope.$parent.getUser();
		//用户数据刷新事件订阅
		EventBus.on("notice.index.getUser", function(evt) {
			if($scope.$parent) {
				$scope.userId = evt.data.id;
			}
		});

		//跳转到用户信息
		$scope.toUser = function(userId) {
			if(userId)
				$scope.openWindow("user_home", {
					uuiId: userId
				})
		}

		//跳转到百度地图
		$scope.toMap = function() {
			if($scope.activity.abiGpsLng && $scope.activity.abiGpsLat)
				$scope.openWindow("baidumapinfo", {
					lng: $scope.activity.abiGpsLng,
					lat: $scope.activity.abiGpsLat,
					loc: $scope.activity.abiGpsPlace
				})
		}

		//写评论
		$scope.toComment = function() {
			$scope.openWindow("comment_activity", {
				id: $scope.activityId
			})
		}

		//查看更多报名人
		$scope.getMoreApply = function() {
			$scope.openWindow("activity_enroll_list", {
				abiId: $scope.activityId
			})
		}

		//查看更多组织人
		$scope.getMoreOrganize = function() {
			$scope.openWindow("activity_organize_list", {
				abiId: $scope.activityId,
				createId: $scope.activity.createId.createId
			})
		}

		//创建人或组织人更改活动状态
		$scope.changeActivityStatus = function(activityId, status) {
			var title = "";
			switch(status) {
				case 2:
					title = "确认 开始活动吗 ？"
					break;
				case 3:
					title = "确认 结束活动吗 ？"
					break;
			}
			changeActivityStatus = $ionicPopup.show({
				title: '',
				template: title,
				scope: $scope,
				buttons: [{
					text: '取消 ',
					type: 'button',
					onTap: function(e) {
						changeActivityStatus.close();
					}
				}, {
					text: '确认',
					type: 'button-positive',
					onTap: function(e) {
						ajaxPost.call($scope, $http, API_appserverurl + "/api/activitybaseinfo/changeActivityStatus", {
							abiId: activityId,
							status: status
						}, "更改活动状态", function(ret) {
							changeActivityStatus.close();
							$scope.init();
						});
					}
				}]
			});
		}

		//活动签到
		$scope.activitySignIn = function(activityId) {
			var activitySignIn = $ionicPopup.show({
				title: '',
				template: '确认签到吗？',
				scope: $scope,
				buttons: [{
					text: '取消 ',
					type: 'button',
					onTap: function(e) {
						activitySignIn.close();
					}
				}, {
					text: '确认',
					type: 'button-positive',
					onTap: function(e) {
						ajaxPost.call($scope, $http, API_appserverurl + "/api/activitycheckinfo/signIn", {
							abiId: activityId
						}, "活动签到", function(ret) {
							activitySignIn.close();
							$scope.init();
							zn.showToast("签到成功")
						});
					}
				}]
			});
		}

		//活动报名
		$scope.activityJoin = function(activityId) {
			var activityJoin = $ionicPopup.show({
				title: '',
				template: '确认报名吗？',
				scope: $scope,
				buttons: [{
					text: '取消 ',
					type: 'button',
					onTap: function(e) {
						activityJoin.close();
					}
				}, {
					text: '确认',
					type: 'button-positive',
					onTap: function(e) {
						ajaxPost.call($scope, $http, API_appserverurl + "/api/activitycheckinfo/enroll", {
							abiId: activityId
						}, "活动报名", function(ret) {
							activityJoin.close();
							$scope.init();
							zn.showToast("报名成功")
						});
					}
				}]
			});
		}

		//取消报名
		$scope.cancelApply = function(activityId, activityName) {
			cancelApply = $ionicPopup.show({
				title: '',
				template: '确认取消  ' + activityName + ' 报名吗？',
				scope: $scope,
				buttons: [{
					text: '取消 ',
					type: 'button',
					onTap: function(e) {
						cancelApply.close();
					}
				}, {
					text: '确认',
					type: 'button-positive',
					onTap: function(e) {
						ajaxPost.call($scope, $http, API_appserverurl + "/api/activitycheckinfo/cancelCheck", {
							abiId: activityId
						}, "取消报名", function(ret) {
							cancelApply.close();
							$scope.init();
						});
					}
				}]
			});
		}

		//关闭取消活动弹出框
		$scope.closeHonorPopup = function() {
			cancelApply.close();
			changeActivityStatus.close();
		}

		//下拉刷新
		$scope.pulldownRefresh_ = function() {
			$scope.getActivity();
			$scope.$broadcast('scroll.refreshComplete');
		}

		//上拉加载更多评论
		$scope.pullupRefresh_ = function() {
				$scope.moredata = false;
				$scope.getScore(2, offset);
				$scope.$broadcast('scroll.infiniteScrollComplete');
			}
			//获取评论
		$scope.getScore = function(type, skip) {
			var data = {
				abiId: $scope.activityId
			};

			switch(type) {
				case 0:
				case 1:
					offset = 0;
					$.extend(data, {
						limit: limit,
						skip: 0
					});
					break;
				case 2:
					$.extend(data, {
						limit: limit,
						skip: skip
					});
					break;
			}

			ajaxPost.call($scope, $http, API_appserverurl + "/api/activitycommentinfo/getCommentList", data, "获取活动评论", function(ret) {
				console.log(JSON.stringify(ret));
				if(offset == 0) {
					$scope.comment = [];
				}
				if(ret.arydata) {
					if(ret.arydata.length > 0) {
						offset += ret.arydata.length;

						$scope.comment = $scope.comment.concat(ret.arydata);
						$scope.isComment = ret.isHave;
						$scope.isEdit = ret.role;
						$scope.moredata = true;
					}
				} else {
					$scope.moredata = false;
				}
			})
		}

		//获取是否报名
		$scope.checkApply = function() {
			ajaxPost.call($scope, $http, API_appserverurl + "/api/activitycheckInfo/getEnrollStatus", {
				abiId: $scope.activityId
			}, "获取是否报名", function(ret) {
				console.log("是否报名：" + JSON.stringify(ret));
				// isEnroll：0、未报名 1、已报名
				// 	 isSign：0、未签到 1、已签到
				$scope.isApply = ret;
			})
		}

		//初始化 获取活动数据
		$scope.init = function() {

			ajaxPost.call($scope, $http, API_appserverurl + "/api/activitybaseinfo/getModel", {
				id: $scope.activityId
			}, "获取活动数据", function(ret) {
				//				console.log("活动："+JSON.stringify(ret));
				$scope.activity = ret;
				if(ret == null)
					return;

				//活动待开始,进行中,获取是否报名 签到
				if($scope.activity.abiStatus == 1 || $scope.activity.abiStatus == 2) {
					$scope.checkApply();
				}

				//活动结束,获取评论
				if($scope.activity.abiStatus == 3 || $scope.activity.abiStatus == 4) {
					$scope.getScore(0, 0);
				}

				//判断用户是否创建人或者组织人
				if($scope.activity.createId.createId == $scope.userId)
					$scope.changeActivity = true;

				angular.forEach($scope.activity.abiOrganisers, function(item) {
					if(item.aoiUserId == $scope.userId)
						$scope.changeActivity = true;

				});

				var tempDeadline = moment(ret.abiRegistrationDeadline).format('YYYY-MM-DD HH:mm:ss').toString();
				var tempNow = moment(new Date()).format("YYYY-MM-DD HH:mm:ss").toString();
				//判断是否超过报名截止时间
				if(tempDeadline < tempNow) {
					$scope.flagDeadlineTime = true;
				}

				//截取前4个组织人员
				if($scope.activity.abiOrganisers.length > 4) {
					$scope.activity.abiOrganisers = $scope.activity.abiOrganisers.slice(0, 4);
				}

				ajaxPost.call($scope, $http, API_appserverurl + "/api/activitycheckinfo/getEnrollList", {
					abiId: $scope.activityId
				}, "获取报名人员", function(ret) {
					//					console.log("报名人员"+JSON.stringify(ret))

					//判断用户是否报名人员
					if($scope.activity.createId.createId == $scope.userId)
						$scope.flagApply = true;

					angular.forEach(ret, function(item) {
						if(item.aoiUserId == $scope.userId)
							$scope.flagApply = true;
					});

					$scope.apply = ret;
					//截取前4个组织人员
					if($scope.apply.length > 4) {
						$scope.apply = $scope.apply.slice(0, 4);
					}

				})

			}, function(err) {
				$scope.activity = null;
			})

		}

		//初始化先判断是否二维码
		$scope.getActivity = function() {
			//获取活动信息
			ajaxPost.call($scope, $http, API_appserverurl + "/api/activitybaseinfo/getModel", {
				id: $scope.activityId
			}, "获取活动数据", function(ret) {
				//判断用户是否创建人或者组织人
				if(ret.createId.createId == $scope.userId)
					$scope.changeActivity = true;

				angular.forEach(ret.abiOrganisers, function(item) {
					if(item.aoiUserId == $scope.userId)
						$scope.changeActivity = true;

				});

				if($scope.qrCodeType && !$scope.changeActivity) {
					ajaxPost.call($scope, $http, API_appserverurl + "/api/activitycheckInfo/getEnrollStatus", {
						abiId: $scope.activityId
					}, "获取是否报名", function(ret) {
						console.log("是否报名：" + JSON.stringify(ret));
						// isEnroll：0、未报名 1、已报名
						// 	 isSign：0、未签到 1、已签到
						$scope.isApply = ret;
						switch($scope.qrCodeType) {
							case "1": //自动报名
								if($scope.isApply.isEnroll == 0) {
									ajaxPost.call($scope, $http, API_appserverurl + "/api/activitycheckinfo/enroll", {
										abiId: $scope.activityId
									}, "活动报名", function(ret) {
										zn.showToast("报名成功")
									});
								}
								break;
							case "2": //自动签到
								if($scope.isApply.isSign == 0) {
									ajaxPost.call($scope, $http, API_appserverurl + "/api/activitycheckinfo/signIn", {
										abiId: $scope.activityId
									}, "活动签到", function(ret) {
										zn.showToast("签到成功")
									});
								}
								break;
							case "3": //自动报名，签到
								if($scope.isApply.isEnroll == 0 && $scope.isApply.isSign == 0) {
									ajaxPost.call($scope, $http, API_appserverurl + "/api/activitycheckinfo/enroll", {
										abiId: $scope.activityId
									}, "活动报名", function(ret) {
										ajaxPost.call($scope, $http, API_appserverurl + "/api/activitycheckinfo/signIn", {
											abiId: $scope.activityId
										}, "活动签到", function(ret) {
											zn.showToast("报名，签到成功")
										});
									});
								} else if($scope.isApply.isEnroll == 1 && $scope.isApply.isSign == 0) {
									ajaxPost.call($scope, $http, API_appserverurl + "/api/activitycheckinfo/signIn", {
										abiId: $scope.activityId
									}, "活动签到", function(ret) {
										zn.showToast("签到成功")
									});
								}
								break;
						}
					})
				}
			});

			$scope.init();
		}

		$scope.getActivity();

		var swiperSettings = {
			slidesPerView: 1,
			pagination: '#swiper-pagination-detail',
			paginationClickable: true,
			spaceBetween: 0,
			loop: true,
			autoplay: 2500,
			grabCursor: true,
			autoplayDisableOnInteraction: false
		}

		$scope.swiper_init = function() {
			setTimeout(function() {
				var detailSwiper = $('#swiper-container-detail').swiper(swiperSettings);
			}, 200);
		};

		// 评论详情
		$scope.commentInfo = function(aciId) {
			$scope.openWindow('comment_activity_info', {
				aciId: aciId,
				abiId: $scope.activityId
			});
		};
		// 查看发起人评分
		$scope.commentSponsorInfo = function(usrid) {
			$scope.openWindow('comment_personage_info', {
				aciUserid: usrid,
				abiId: $scope.activityId
			});
		};

		// 组织或活动管理提交后台审核
		$scope.clearComment = function(aciId) {
			ajaxPost.call(
				$scope, $http,
				API_appserverurl + '/api/activitycommentinfo/editData', {
					id: aciId,
					abiId: $scope.activityId
				},
				'活动个人评论提交后台审核',
				function(data) {
					$scope.comment = [];
					$scope.getScore(0, 0);
				},
				function(error) {});
		};
		// 查看更多[评论信息]
		$scope.getoActivityComment = function() {
			$scope.openWindow('activity_comment', {
				abiId: $scope.activityId
			});
		};

	}
</script>