<ion-view view-title="活动类别" id="activity_category">
	<ion-nav-buttons side="right">
		<a class="button button-blue btnsubmit" ng-href="" ng-click="onSubmit()">提交</a>
	</ion-nav-buttons>

  <ion-content overflow-scroll="false" has-bouncing="true">
  	<div class="item item-input-inset" style="margin-bottom: 10px;">
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="请输入活动类别标签" ng-model="model.keyword">
	    </label>
	    <span class="icon-topbar_search search" ng-click="search()"></span>
	  </div>
	  <!--<button ng-repeat="item in category" ng-class="{'button button-outline button-positive': true , 'active': category[$index].cls}" ng-click="toggleBgColor($index,item)" >{{item.sdiName}}</button>-->
	  <button ng-repeat="item in category" ng-class="{'ui {{color[$index]}} basic button':!category[$index].cls,'ui {{color[$index]}} button':category[$index].cls}" ng-click="toggleBgColor($index,item)" >{{item.sdiName}}</button>
  </ion-content>
</ion-view>
<script type="text/javascript">
  var offset = 0;
  var limit = 10;
  function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {

	$scope.model={keyword:""};
	$scope.selectCategory=[];
	$scope.color =["red","orange","yellow","olive","green","teal","blue","violet","purple","pink","grey","black","brown"];
	$scope.select = true;

	//标签搜索
	$scope.search = function(){
		if($scope.model.keyword){
			ajaxPost.call($scope,$http,API_appserverurl + "/api/sysdictionaryinfo/getDictList",{
				scdId:activityCategory,
				key:$scope.model.keyword
			},"获取标签",function(ret){
				$scope.category =  ret;
			})
		}else{
			$scope.category = $scope.initCategory;
		}
	}

	//切换button css
	$scope.toggleBgColor = function(index,category){
		$scope.category[index].cls=!$scope.category[index].cls;
//		$scope.category[index]=!$scope.category[index];


		if($scope.selectCategory.length==0){//第一次添加
			$scope.selectCategory.push(category);
		}else{
			var flag =true;
			for(var i = 0; i < $scope.selectCategory.length ; i++){
				var tempId = $scope.selectCategory[i].id;
				if(tempId == category.id){//去除相同的元素
					$scope.selectCategory.splice(i,1);
					flag=false;
				}
			}
			if(flag)//没有相同的元素添加
				$scope.selectCategory.push(category);
		}

	};

	//确认提交
	$scope.onSubmit = function(){

		EventBus.fire({type: "notice.activity_category.onSubmit", data:$scope.selectCategory});
    	$ionicHistory.goBack();
	}

	//初始化 获取标签数据
	$scope.init = function(){
		ajaxPost.call($scope,$http,API_appserverurl + "/api/sysdictionaryinfo/getDictList",{
			scdId:activityCategory
		},"获取标签",function(ret){
			$scope.category =  ret;
			$scope.initCategory = ret;
		})
	}

	$scope.init();
  }

</script>
