<style>
/*.list .item:after,
	.popup .popup-head:after {
		background: transparent;
	}*/

</style>
<ion-view id="activity_enroll_list" view-title="活动成员">
	<ion-nav-buttons side="right">
		<label style="font-size: 1.2em;margin-top: 3px;margin-right: 10px;" ng-if="isActivityEnd==0&&userId == abiCreateId" ng-click="editTitle(title)">{{title}}</label>
	</ion-nav-buttons>
	<ion-content lazy-scroll overflow-scroll="false" has-bouncing="true" class="has-header" style="background-color: #f8f8f8;">
		<div class="nodata_textdiv" ng-if="hasData==0">
			该活动还没人报名哟~~！
		</div>
		<ion-refresher pulling-text="下拉刷新" on-refresh="pulldownRefresh_()"></ion-refresher>
		<!--<div class="list1">
			<div class="item1" ng-repeat="item in data">
				<img src="img/null.png" class="headimg" />
					<p style="margin-top: 20px;"><span class="userName">{{(item.userName)}}</span><span class="badge badge-assertive" style="left: 160px;right: auto;background-color: coral;">Lv.{{item.uuiGrade}}</span></p>
					<p><span style="color: #eeeeee;">{{item.uoiName}}</span></p>
			</div>
		</div>-->
		<ion-list show-delete="shouldShowDelete">
			<ion-item class="item item-thumbnail-left orgList noAfter" ng-repeat="item in data" style="border: 0px;">
				<img image-lazy-src="{{item.imgUrl | formatImgUrl}}" ng-click="toUser(item.aoiUserId)">
				<!--<img src="img/null.png" ng-click="clickLook(item.aciId)">-->
				<p>
					<h2 class="name">{{item.aoiUserName}}</h2><span class="badge badge-assertive" style="margin-top: 5px;left: 160px;right: auto;background-color: orange;display: none;">Lv.{{item.uuiGrade}}</span>
					<span class="icon-common_cancel right" ng-if="showDelete" ng-click="cancelEnroll(item.aoiUserId)"></span>
					<!--<span class="icon-Rectangle584 right" ng-if="item.isComment==0" ng-click="goToJudge(item.aoiUserId)"></span>
					<div class="judge" ng-if="item.isComment==2" align="center">已评论</div>-->
				</p>
				<p class="department">{{item.uoiName}}</p>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll immediate-check="false" ng-if="moredata" on-infinite="pullupRefresh_()" distance="1%"></ion-infinite-scroll>

	</ion-content>
</ion-view>
<script type="text/javascript">
	var offset = 0;
	var limit = 10;

	function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {
		$scope.data = [];
		$scope.data1 = [];
		$scope.hasData = 1;
		$scope.abiId = $scope.pageParams().abiId;
		$scope.isActivityEnd = 0; //0未结束  1结束
		$scope.isCanJudge = 0; //0可以评论，1不可评论
		$scope.title = "编辑";
		$scope.showDelete = false;
		$scope.abiCreateId = null;
		$scope.userId = 0;

		/**
		 * 页面初始化
		 */
		$scope.init = function() {
				$scope.getSysMsgList(0, 0);
			}
			/**获取系统信息列表
			 * @param  int type  0初始化 1下拉刷新 2加载更多
			 * @param int coffset 已加载条数
			 */
		$scope.getSysMsgList = function(type, coffset) {
				var data = {
					offset: coffset,
					limit: limit,
					abiId: $scope.abiId
				}
				if ($scope.$parent.userInfo)
					$scope.userId = $scope.$parent.userInfo.id;
				ajaxPost.call($scope, $http, API_appserverurl + "/api/activitybaseinfo/getModel", {
						id: $scope.abiId
					}, "获取活动详情", function(ret) {
						if (ret) {
							$scope.abiCreateId = ret.createId.createId;
							if (ret.abiStatus == 3 || ret.abiStatus == 4)
								$scope.isActivityEnd = 1
						}

					})
					//获取活动报名人列表
				ajaxPost.call($scope, $http, API_appserverurl + "/api/activitycheckinfo/getEnrollList", data, "系统消息列表",
					function(ret) {
						console.log(JSON.stringify(ret));
						if (ret && ret.length > 0) {
							switch (type) {
								case 0:
									$scope.data = ret;
									offset = ret.length;
									break;
								case 1:
									$scope.data = ret;
									offset = ret.length;
									$scope.$broadcast('scroll.refreshComplete');
									break;
								case 2:
									offset += ret.length;
									$.each(ret, function(j, item) {
										$scope.data.push(item);
									});
									$scope.$broadcast('scroll.infiniteScrollComplete');
									break;
							}
							if (ret.length < limit)
								$scope.moredata = false;
							else
								$scope.moredata = true;
						} else {
							switch (type) {
								case 0:
									$scope.data = [];
									$scope.hasData = 0;
									break;
								case 1:
									$scope.data = [];
									$scope.hasData = 0;
									$scope.$broadcast('scroll.refreshComplete');
									break;
								case 2:
									$scope.$broadcast('scroll.infiniteScrollComplete');
									break;
							}
							$scope.moredata = false;
						}
						printLog("return Data=" + JSON.stringify(ret));
						printLog("总记录数：##############################" + offset);
					},
					function(err) {
						if (type == 1)
							$scope.$broadcast('scroll.refreshComplete');
						if (type == 2)
							$scope.$broadcast('scroll.infiniteScrollComplete');
						printLog("错误信息：" + JSON.stringify(err));
					}, false, false, false, true);
			}
			//下拉刷新
		$scope.pulldownRefresh_ = function() {
				$scope.getSysMsgList(1, 0);
			}
			//上拉加载更多
		$scope.pullupRefresh_ = function() {
				$scope.getSysMsgList(2, offset);
			}
			//时间格式化
		$scope.add0 = function(m) {
			return m < 10 ? '0' + m : m
		}
		$scope.getDate = function(date) {
			if (date != null) {
				var time = new Date(date);
				var y = time.getFullYear();
				var m = time.getMonth() + 1;
				var d = time.getDate();
				var h = time.getHours();
				var mm = time.getMinutes();
				var s = time.getSeconds();
				var d = y + '-' + $scope.add0(m) + '-' + $scope.add0(d) + ' ' + $scope.add0(h) + ':' + $scope.add0(mm) + ':' + $scope.add0(s);
				return d;
			}
			return "";
		}

		//切换编辑状态
		$scope.editTitle = function(title) {
			if (title == '编辑') {
				$scope.title = "完成"
				$scope.showDelete = true;
			} else {
				$scope.title = "编辑"
				$scope.showDelete = false;
			}
		}

		//删除报名人员
		$scope.cancelEnroll = function(aciId) {
			cancelEnroll = $ionicPopup.show({
				title: '',
				template: '确认取消用户的报名 ？',
				scope: $scope,
				buttons: [{
					text: '取消 ',
					type: 'button',
					onTap: function(e) {
						cancelEnroll.close();
					}
				}, {
					text: '确认',
					type: 'button-positive',
					onTap: function(e) {
						ajaxPost.call($scope, $http, API_appserverurl + "/api/activitycheckinfo/cancelCheck", {
							aoiUserId: aciId,
							abiId: $scope.abiId
						}, "删除报名", function(ret) {
							showInfo("报名取消成功！")
							$scope.getSysMsgList(0, 0);
						});
					}
				}]
			});
		}
		
		//跳转到用户信息
  		$scope.toUser = function(userId){
  			if(userId)
				$scope.openWindow("user_home",{uuiId:userId})	
  		}
		/*$scope.goToJudge = function(userId) {
			$scope.openWindow('comment_personage', {
				id: userId,
				abiId: $scope.abiId
			});
		}*/
		$scope.init();
	}
</script>
