<ion-view hide-back-button="true" hide-nav-bar="true" id="activity_search">
	<ion-content overflow-scroll="true" has-bouncing="false" style="background-color: white;">
		<div class="head">
			<div class="item item-input-inset" style="margin-bottom: 10px;width: 90%;border-color: transparent;float: left;">
				<div class="item-input-wrapper">
					<form ng-submit="search()">
						<span class="icon-topbar_search_grey search" ng-click="search()"></span>
				     	<input type="text" placeholder="搜索活动" ng-model="model.keyword" class="ng-pristine ng-untouched ng-valid ng-empty" focus-me>
			     	</form>
			   </div>
		  	</div>
		   <div style="float: left;min-height: 30px;margin-top: 14.667px;width: 10%;" ng-click="black()">取消</div>
		</div>

	  	<div style="clear: both;margin-left: 15px" ng-if="category.length>0">
	  		<p style="color: #4A4A4A;">标签搜索</p>

	  		<div class="ui fluid dropdown selection multiple" tabindex="0">
				<a class="ui label transition visible" style="display: inline-block !important;" ng-repeat="c in category" ng-click="searchCategory(c.id)">{{c.sdiName}}</a>
			</div>
	  	</div>

	</ion-content>
</ion-view>
<script type="text/javascript">
  function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {

		$scope.model={keyword:""};

		//取消
		$scope.black =function(){
			$scope.keyword="";
			$ionicHistory.goBack();
		}

		//搜索
		$scope.search =function(){
			if($scope.model.keyword){
				$scope.openWindow('activity_search_list',{
					categoryId:"",
					keyword:$scope.model.keyword
				})
			}else{
				zn.showToast("请输入关键字")
			}

		}

		//点击标签搜索
		$scope.searchCategory =function(categoryId){

 			$scope.openWindow('activity_search_list',{
				categoryId:categoryId,
				keyword:$scope.model.keyword
			})

		}

		//初始化 获取标签数据
		$scope.init = function(){
			ajaxPost.call($scope,$http,API_appserverurl + "/api/sysdictionaryinfo/getDictList",{
				scdId:activityCategory
			},"获取标签",function(ret){
				$scope.category =  ret;
			})
		}

		$scope.init();
  }

</script>
