<style type="text/css">

</style>
<ion-view hide-back-button="false" id="activity_comment">
	<ion-nav-title align-title="center">
		<span class="ui inverted header">评论</span>
	</ion-nav-title>
	<ion-content overflow-scroll="false" has-bouncing="true">
		<ion-refresher pulling-text="下拉刷新" on-refresh="pulldownRefresher()"></ion-refresher>
		<ion-list>
			<li class="item comment-bar">
				评论
				<span class="float-right comment-bar-edit" ng-show="(isEdit ==0 || isEdit ==1) && isComment !=2" ng-click="isCommentEdit=!isCommentEdit">{{isCommentEdit?'完成':'编辑'}}</span>
				<!--<span class="float-right comment-bar-edit" ng-if="isEdit" ng-click="isCommentEdit=!isCommentEdit">{{isCommentEdit?'完成':'编辑'}}</span>-->
				<span class="float-right comment-bar-comment" ng-if="isEdit==2 && isComment==0" ng-click="toComment()">
			    	<span class="icon-Rectangle-584"></span>评论
				</span>
				<span class="float-right have-ratings" ng-if="isEdit==2 && isComment==1">已评论</span>
			</li>
			<ion-item class="item item-thumbnail-left no-thin-border comment-list {{isCommentEdit?'is-comment-edit':''}}" ng-repeat="c in model.comment">
				<div class="comment-delete" ng-if="isCommentEdit" ng-click="clearComment(c.aciId)">
					<span class="icon-create_-activity_cancel">
                				<span class="path1"></span><span class="path2"></span>
					</span>
					<p>屏蔽</p>
				</div>
				<img class="ui centered tiny image circular {{isCommentEdit?'is-comment-edit':''}}" ng-src="{{c.imgUrl | formatImgUrl}}" ng-click="toUser(c.uuiId)">
				<h2>
					{{c.createName}}
					<span class="ui rating">
						<i class="icon active" ng-if="c.aciScore>=1"></i>
						<i class="icon active" ng-if="c.aciScore>=2"></i>
						<i class="icon active" ng-if="c.aciScore>=3"></i>
						<i class="icon active" ng-if="c.aciScore>=4"></i>
						<i class="icon active" ng-if="c.aciScore>=5"></i>
					</span>
					<span class="comment-reply-sum" ng-click="commentInfo(c.aciId)">{{c.sum}}</span>
					<span class="icon-my_comment_del_reply" ng-click="commentInfo(c.aciId)"></span>
				</h2>
				<p class="comment-time">{{c.createDate | formatCommentDate}}</p>
				<p class="comment-content" ng-click="commentInfo(c.aciId)">{{c.aciContent}}</p>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="model.isMore" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>

<script type="text/javascript">
	function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {
		var params = $scope.pageParams();
		console.log(JSON.stringify(params));
		$scope.isCommentEdit = false; //是否是评论编辑状态
		$scope.isComment = 3; // 0:未评；1：已评；2：已过期，3：游客
		$scope.isEdit = 3; // 0创建者； 1：织都者；2：参与者，3：游客
		$scope.model = {
				limit: 5,
				page: 1,
				hasData: 1,
				isMore: true,
				comment: []
			}
			// 初始化，并获取第一个切面数据
		$scope.init = function() {
			console.log("limit:" + $scope.model.limit + " skip:" + ($scope.model.page - 1) * $scope.model.limit)
			ajaxPost.call(
				$scope, $http,
				API_appserverurl + '/api/activitycommentinfo/getCommentList', {
					abiId: params.abiId,
					limit: $scope.model.limit,
					skip: ($scope.model.page - 1) * $scope.model.limit
				},
				'获取我的评分数据',
				function(data) {
					// var type = 0;// 是否能评：0:无权（包括未参加及过期)；1：报名人；2：组织人；3：发起人; 4:已评
					$timeout(function() {
						console.log(JSON.stringify(data) + "===初始化数据")
						if($scope.model.page == 1) {
							$scope.model.comment = [];
						}
						if(data && data.arydata) {
							if(data && data.arydata.length > 0) {
								angular.forEach(data.arydata, function(value, key) {
									$scope.model.comment.push(value);
								});
								$scope.isComment = data.isHave;
								$scope.isEdit = data.role;
								$scope.model.hasData = 1;
								$scope.model.isMore = true;
							}
						} else {
							if($scope.model.page == 1) {
								$scope.model.comment = [];
								$scope.model.hasData = 0;
							}
							$scope.model.isMore = false;
						}
					});
				},
				function(error) {
					//TODO
				});
		};
		// 初始化切面
		$scope.init();

		//下拉刷新
		$scope.pulldownRefresher = function() {
			$scope.model.page = 1;
			$scope.init();
			$scope.$broadcast('scroll.refreshComplete');
		};
		//上拉加载更多
		$scope.loadMore = function() {
			$scope.init($scope.model.page++);
			$scope.$broadcast('scroll.infiniteScrollComplete');
		};
		// 评论详情
		$scope.commentInfo = function(aciId) {
			$scope.openWindow('comment_activity_info', {
				aciId: aciId,
				abiId: params.abiId
			});
		};

		//写评论
		$scope.toComment = function() {
			$scope.openWindow("comment_activity", {
				id: params.abiId
			})
		}

		// 个人中心
		$scope.getoUserHome = function(usrid) {
			$scope.openWindow('user_home', {
				uuiId: usrid,
			});
		};
		// 组织或活动管理提交后台审核
		$scope.clearComment = function(aciId) {
			ajaxPost.call(
				$scope, $http,
				API_appserverurl + '/api/activitycommentinfo/editData', {
					id: aciId,
					abiId: params.abiId
				},
				'活动个人评论提交后台审核',
				function(data) {
					$scope.comment = [];
					$scope.model.page = 1;
					$scope.init();
				},
				function(error) {});
		};
	}
</script>