<ion-view view-title="人员名单" id="activity_organiser">
	<ion-nav-buttons side="right">
    <a class="button button-blue btnsubmit" ng-href="" ng-click="onSubmit()">提交</a>
	</ion-nav-buttons>

  <ion-content overflow-scroll="false" has-bouncing="true">

  	<div class="ui fluid dropdown selection multiple" tabindex="0" ng-if="selectUserName.length != 0">
		<a class="ui label transition visible" style="display: inline-block !important;" ng-repeat="select in selectUserName">{{select.gradeCode}} {{select.uuiName}}<i class="delete icon" ng-click="delete(select)"></i></a>
	</div>

  	<div class="item item-input-inset" style="margin-bottom: 10px;">
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="请输入学号" ng-model="model.keyword">
	    </label>
	    <span class="icon-topbar_search search" ng-click="search()"></span>
	</div>

	<div class="nodata_textdiv" ng-if="hasData==0">
		还没有人员哟~~！
	</div>

	<ion-list>
		<ion-checkbox ng-repeat="item in userName" ng-model="item.checked" ng-click="select(item)" style="color: #222222;"><span>{{item.gradeCode}}</span><span class="name">{{item.uuiName}}</span></ion-checkbox>
	</ion-list>

	<ion-infinite-scroll immediate-check="false" ng-if="moredata" on-infinite="pullupRefresh_()" distance="1%"></ion-infinite-scroll>

  </ion-content>
</ion-view>

<script type="text/javascript">
	var offset = 0;
	var limit = 10;

 	function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {

  		$scope.model={keyword:""};
		$scope.userName = [];
		$scope.selectUserName =[];
		$scope.hasData = 1;

		//上拉加载更多
		$scope.pullupRefresh_ = function() {
			$scope.moredata = false;
			$scope.init(2, offset);
			$scope.$broadcast('scroll.infiniteScrollComplete');
		}

		//把选择的item重新赋值
		$scope.setItem = function(obj){
			angular.forEach(obj, function (item) {
				angular.forEach($scope.selectUserName, function (subItem) {
					if(item.id == subItem.id){
						item.checked = true;
					}
				});
			});
		}

		//组织人员搜索
		$scope.search = function(){
			$scope.moredata = false;
			if($scope.model.keyword){
				ajaxPost.call($scope,$http,API_appserverurl + "/api/user/getUserList",{
					key:$scope.model.keyword,
					isNotUserSelf:1
				},"获取组织人员",function(ret){
					$scope.userName =  ret;
					$scope.setItem($scope.userName);
				})
			}else{
				$scope.moredata = true;
				$scope.userName = $scope.initUserName;
				$scope.setItem($scope.userName);
			}
		}

		//添加到已选择的组织人员
		$scope.select = function(userName){

			if($scope.selectUserName.length==0){//第一次添加
				$scope.selectUserName.push(userName);
			}else{
				var flag =true;
				for(var i = 0; i < $scope.selectUserName.length ; i++){
					var tempId = $scope.selectUserName[i].id;
					if(tempId == userName.id){//去除相同的元素
						$scope.selectUserName.splice(i,1);
						flag=false;
					}

				}
				if(flag){//没有相同的元素添加
					$scope.selectUserName.push(userName);
					userName.checked = true;
				}
			}

		}

		//删除已选择的组织人员
		$scope.delete = function(userName){

			for(item in $scope.userName){
				if(userName.id == $scope.userName[item].id){
					$scope.userName[item].checked = false;
				}
			}

			for(selectItem in $scope.selectUserName){
				if(userName.id == $scope.selectUserName[selectItem].id){//去除相同的元素
					$scope.selectUserName.splice(selectItem,1);
				}
			}
		}

		//确认提交
		$scope.onSubmit = function(){

			EventBus.fire({type: "notice.activity_organiser.onSubmit", data:$scope.selectUserName});
		 	$ionicHistory.goBack();
		}

		//初始化 获取组织人员数据
		$scope.init = function(type,skip){
			var data ={isNotUserSelf:1};

			switch (type){
				case 0:
				case 1:
					offset = 0;
					$.extend(data,{limit:limit,offset:0});
					break;
				case 2:
					$.extend(data,{limit:limit,offset:skip});
					break;
			}

			console.log("参数："+JSON.stringify(data))
			ajaxPost.call($scope,$http,API_appserverurl + "/api/user/getUserList",data,"获取组织人员",function(ret){
				if(ret.length==0){
					if($scope.userName.length==0)
						$scope.hasData = 0;
					$scope.moredata = false;
				}else{
					offset += ret.length;
					$scope.hasData = 1;
					$scope.userName =  $scope.userName.concat(ret);
					$scope.moredata = true;
					$scope.initUserName = $scope.userName;
					$scope.setItem($scope.userName);
				}
			})
		}

		$scope.init(0,0);

	}

</script>
