<ion-view hide-back-button="false" id="apply_expense">
	<ion-nav-buttons side="right">
		<a class="button button-blue btnsubmit" ng-href="" ng-click="submitNews()">提交</a>
	</ion-nav-buttons>
	<ion-nav-title align-title="center">
		<span class="ui inverted header">申请报销</span>
	</ion-nav-title>
	<ion-content overflow-scroll="false" has-bouncing="true">
		<div class="list">
			<label class="item item-input no-margin-bottom thin-border-left-16">
					<span class="input-label">活动名称</span>
					<select ng-change="selectActivity()" ng-model="postModel.abiId" ng-if="!isOne" ng-options="option.id as option.abiName for option in model.activityList"></select>
					<span ng-bind="postModel.abiName" ng-if="isOne" ng-show="postModel.abiName"></span>
					<span ng-model="postModel.ubiId" hidden="hidden">{{postModel.ubiId}}</span>
					<span ng-model="postModel.id" hidden="hidden">{{postModel.id}}</span>
					<span ng-model="postModel.ubiId" hidden="hidden">{{postModel.ubiId}}</span>
					<span class="icon-topbar_arrow_down" onclick="$('select').click();" style="position: absolute; right: 16px; top: 18px; color: #39D0E7;"></span>
					<!--<span class="pulldown-trigon"></span>-->
				</label>
			<label class="item item-input">
				<span class="input-label">活动类别</span>
				<span class="lump"> {{postModel.abiCategory}}</span>
			</label>
			<label class="item item-input thin-border-left-0 margin-bottom-10">
				<span class="input-label">活动主办方</span>
				<span class="lump">{{postModel.abiSponsor}}</span>
			</label>
			<label class="item item-input">
				<span class="input-label">预算金额</span>
				<span class="lump"> {{postModel.abiMinBudget}}-{{postModel.abiMaxBudget}}</span>
			</label>
			<div class="item item-input thin-border-left-0 margin-bottom-10">
				<span class="input-label">报销金额</span>
				<input class="min" type="button" ng-if="postModel.aeiAmount>=0" ng-click="postModel.aeiAmount=postModel.aeiAmount-1" value="－" />
				<input class="text_box" name="goodnum" type="number" ng-model="postModel.aeiAmount"></input>
				<input class="add" type="button" ng-click="postModel.aeiAmount=postModel.aeiAmount+1" value="＋" />
			</div>
			<label class="item margin-bottom-10 item-textarea">
					<span class="input-label margin-bottom-6">备注说明</span>
					<textarea id="comment" rows="5" placeholder="填写报销说明" ng-model="postModel.aeiRemarks" maxlength="255" autocomplete="off" autocorrect="off"></textarea>
					<p class="float-right textarea-sub">{{postModel.aeiRemarks.length || 0}}/255</p>
				</label>
			<div class="item item-input upload-label no-thin-border">
				<span class="input-label">上传报销图片（不限制）</span>
			</div>
			<div class="item item-input marginTop marginBottom multiple-label row">
				<!--<span>最多上传6张</span><br/>-->
				<div class="multiple-div col-33" ng-repeat="file in postModel.aeiImgUrl">
					<div class="img-span">
						<img ng-src="{{file | formatDbImgUrl}}" />
						<span class="icon-common_prompt_cancel" ng-click="deleteImg($index)"></span>
					</div>
				</div>
				<div class="multiple-div col-33">
					<span class="icon-create_add_photo col-33" ngf-multiple="true" ngf-change="uploadFiles($files)" ngf-accept="'image/*'" ngf-fix-orientation="true" ngf-capture="'camera'" ngf-drop ngf-select ngf-resize="{width: 720, quality: 0.8, type: 'image/jpeg'}" ngf-resize-if="$width > 720 || $height > 1280">
                		<span class="path1"></span><span class="path2"></span><span class="path3"></span>
					</span>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>

<script type="text/javascript">
	var filesInt = 0;

	function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {
		var params = $scope.pageParams();
		//console.log("参数  " + JSON.stringify(params));
		$scope.model = {};
		$scope.postModel = {
			aeiImgUrl: [],
			auditStatus: 0,
			ubiId: 0,
			amount: 0,
			aeiAmount: 0
		};
		//上传图片
		$scope.uploadFiles = function(files) {
				console.log('uploadFiles');
				if(files && files.length) {
					zn.showWaiting();
					filesInt = 0;
					for(var i = 0; i < files.length; i++) {
						Upload.upload({
							url: API_imgbaseurl + '/api/file/imgUploadFile',
							data: {
								image: files[i]
							}
						}).then(function(response) {
							if(response.data && response.data != '') {
								$scope.postModel.aeiImgUrl.push(response.data);
								console.log(response.data);
							}
							filesInt++;
							if(filesInt == (files.length - 1)) {
								zn.hideWaiting();
							}
						}, function(resp) {
							console.log('Error status: ' + resp.status);
							filesInt++;
							if(filesInt == (files.length - 1)) {
								zn.hideWaiting();
							}
						}, function(evt) {
							//console.log('progress:' + JSON.stringify(evt));
						});
					}
				}
			}
			//删除图片
		$scope.deleteImg = function(index) {
				$scope.postModel.aeiImgUrl.splice(index, 1);
			}
			// 获取活动ID
		$scope.model.activityList = [{
			id: "0",
			abiName: "请选择活动",
			abiCategory: "",
			abiSponsor: ""
		}];
		$scope.getActivityList = function(index) {
			var flag = true;
			if(params.abiId) {
				flag = false;
				$scope.$parent.isOne = true;
			}
			ajaxPost.call(
				$scope, $http,
				API_appserverurl + '/api/activityexpensesinfo/getBaseInfoList', flag ? {
					createId: uuiId
				} : {
					id: params.abiId
				},
				'获取我的报销',
				function(data) {
					$timeout(function() {
						if(flag) {
							//console.log(JSON.stringify(data) + 　"获取我的报销");
							if(data　 && data.length > 0) {
								angular.forEach(data, function(value, key) {
									$scope.model.activityList.push(value);
								});
								if(data.length == 1) {
									$scope.postModel.abiName = $scope.model.expense[0].abiName;
									$scope.$parent.isOne = true;
								}

								$scope.postModel.abiId = $scope.model.activityList[0].id;
								$scope.postModel.abiCategory = $scope.model.activityList[0].abiCategory;
								$scope.postModel.abiSponsor = $scope.model.activityList[0].abiSponsor;
								$scope.postModel.ubiId = $scope.model.activityList[0].ubiId;
							} else {
								showInfo("童鞋，暂时没有活动可添加报销");
								$ionicHistory.goBack();
								$scope.postModel.abiId = $scope.model.activityList[0].id;
							}

						} else {
							// console.log(JSON.stringify(data) + 　"1获取我的报销");
							$scope.model.expense = data;
							$scope.postModel.abiName = $scope.model.expense[0].abiName;
							$scope.postModel.abiCategory = $scope.model.expense[0].abiCategory;
							$scope.postModel.abiSponsor = $scope.model.expense[0].abiSponsor;
							$scope.postModel.aeiAmount = $scope.model.expense[0].abiMaxBudget ? $scope.model.expense[0].abiMaxBudget : 0;

							$scope.postModel.abiId = params.abiId;
						}
					});
				},
				function(error) {
					$scope.postModel.abiId = $scope.model.activityList[0];
				});
		}
		$scope.getActivityList();
		//提交报销
		$scope.submitNews = function() {
				if($scope.postModel.abiId <= 0) {
					showError("请选择活动名称");
					return;
				}
				if($scope.postModel.aeiAmount <= 0) {
					//console.log($scope.postModel.aeiAmount + "金额");
					showError("请正确填写金额");
					return;
				}
				if($scope.postModel.aeiImgUrl.length <= 0) {
					showError("请添加报销发票图");
					return;
				}
				if($scope.postModel.aeiImgUrl.length > 6) {
					showError("报销发最多6张");
					return;
				}
				if(!$scope.postModel.aeiRemarks) {
					showError("请填写报销说明");
					return;
				}
				if($scope.postModel.aeiRemarks.length > 255) {
					showError("报销说明文字过长");
					return;
				}
				ajaxPost.call(
					$scope, $http,
					API_appserverurl + '/api/activityexpensesinfo/addData',
					$scope.postModel,
					'活动报销提交',
					function(data) {
						console.log("成功！");
						$scope.showSubmitSuccess();
					},
					function(error) {
						console.log("失败！" + error);
					});
			}
			//提交成功
		$scope.showSubmitSuccess = function() {
			var myPopup = $ionicPopup.show({
				title: '<div style="position: relative;"><i style="top:0; right: 0;" class="icon-common_prompt_cancel"></i><div>',
				template: '<div style="text-align: center;">提交成功<div>',
				scope: $scope,
				buttons: [{
					text: '<b>查看此报销</b>',
					type: 'button',
					onTap: function(e) {
						$scope.openWindow('expense_info', {
							abiId: $scope.postModel.abiId
						});
						myPopup.close();
					}
				}, {
					text: '<b>继续申请</b>',
					type: 'button-positive',
					onTap: function(e) {
						$scope.postModel = {
							aeiImgUrl: [],
							auditStatus: 0,
							aeiAmount: 0,
							amount: 0
						};
						$scope.postModel.abiId = $scope.model.activityList[0].id;
						myPopup.close();
					}
				}]
			});
		}
		$scope.selectActivity = function() {
			for(var i = 0; i < $scope.model.activityList.length; i++) {
				if($scope.postModel.abiId == $scope.model.activityList[i].id) {
					$scope.postModel.abiCategory = $scope.model.activityList[i].abiCategory;
					$scope.postModel.abiSponsor = $scope.model.activityList[i].abiSponsor;
					$scope.postModel.ubiId = $scope.model.activityList[i].ubiId;
					$scope.postModel.amount = $scope.model.activityList[i].abiMinBudget < $scope.model.activityList[i].abiMaxBudget ? $scope.model.activityList[i].abiMaxBudget : 0;
					$scope.postModel.aeiAmount = $scope.postModel.amount > $scope.postModel.aeiAmount ? $scope.postModel.amount : $scope.postModel.aeiAmount;

				}
			}
		}
	}
</script>