<ion-view id="baidumapinfo" hide-back-button="true" hide-nav-bar="true" title="地图位置">
  <ion-content scroll="false" overflow-scroll="false" has-bouncing="true"
               style="background-color: #f8f8f8;">
    <script type="text/javascript"
            src="http://api.map.baidu.com/getscript?v=2.0&ak=2337624829697af4d7d4884ea113c174"></script>
    <div class="" style="position: relative; width: 100vw;height: 100%; min-height: 400px;background-color: #fff;">
      <div id="allmap" style="position: relative;width: 100%; height: 100%; display: block;"
           ng-init="getLoadData()"></div>
      <div class="map_geoloc_point" ng-click="setPointPublish()"></div>
      <div class="account_top_edit" ng-click="goBack()" style="font-size: 26px;left:0px;"">
        <span class="icon-common_back_sb">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </span>
    </div>
    <div class="baidumapinlineblock" style="left: 0; bottom: 0px; overflow: hidden;height:50px;">
      <div class="baidumapinlineblock" style="top:0;" ng-if="model.mapcenteraddress">
        <div class="baidumapinlineblock"
             style="height: 50px; overflow: hidden; opacity:0.49;background-color:#000000;color: #000000;padding: 8px;"
             ng-bind="model.mapcenteraddress"></div>
        <div class="baidumapinlineblock" style="height: 50px; overflow: hidden; color: #fff;padding: 8px;"
             ng-bind="model.mapcenteraddress"></div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
<script type="text/javascript">
  var baidumap;
  var mapgeoc, maplocal;
  function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {
    $scope.model = {};

    $scope.goBack = function () {
      $ionicHistory.goBack();
    }
    $scope.setPointPublish = function (isreturn) {
      var poi = baidumap.getCenter();
      mapgeoc.getLocation(poi, function (rs) {
        var addComp = rs.addressComponents;
        var txt = addComp.province + addComp.city + addComp.district + addComp.street + addComp.streetNumber;
        console.log('$scope.model.mapcenteraddress:【当前】' + txt);
//        angular.element('#geoloctxtinfo').html(txt);
        if (isreturn) {
          var tmppoi = _Wars2WgsByAlgorithm.recovery({Lng: poi.lng, Lat: poi.lat}, 'baidu');
          $scope.model.Lng = tmppoi.Lng;
          $scope.model.Lng2 = poi.lng;
          $scope.model.Lat = tmppoi.Lat;
          $scope.model.Lat2 = poi.lat;
          $scope.model.Geo = txt;
          console.log('$scope.model:' + JSON.stringify($scope.model));
          EventBus.fire({type: "notice.baidumap.setPointPublish", data: {Lng: tmppoi.Lng, Lat: tmppoi.Lat, Geo: txt}});
          $ionicHistory.goBack();
        } else {
          $scope.$apply(function () {
            $scope.model.mapcenteraddress = "【当前】" + txt;
          });
        }
      });
    }

    $scope.getLoadData = function () {
//      debugger;$scope.
      if (typeof BMap != 'undefined') {
//        console.log('typeof BMap=' + typeof BMap);
        var keyPar = $scope.pageParams();

        // 百度地图API功能
        baidumap = new BMap.Map("allmap");    // 创建Map实例
        if (_.isObject(keyPar) && _.isNumber(parseFloat(keyPar.lng)) && _.isNumber(parseFloat(keyPar.lat))) {
          var tmppoi = _Wars2WgsByAlgorithm.Wgs84ToBd09(parseFloat(keyPar.lat), parseFloat(keyPar.lng));
          baidumap.centerAndZoom(new BMap.Point(tmppoi.Lng, tmppoi.Lat), 15);  // 初始化地图,设置中心点坐标和地图级别
        } else
          baidumap.centerAndZoom(new BMap.Point(116.404, 39.915), 12);
        var tmpmaptype = new BMap.MapTypeControl({mapTypes: [BMAP_NORMAL_MAP, BMAP_HYBRID_MAP]});
        tmpmaptype.setOffset(new BMap.Size(10, 60));
        baidumap.addControl(tmpmaptype);   //添加地图类型控件
        // 添加带有定位的导航控件
        var navigationControl = new BMap.NavigationControl({
          // 靠左上角位置
          anchor: BMAP_ANCHOR_TOP_LEFT,
          // LARGE类型
          type: BMAP_NAVIGATION_CONTROL_SMALL //,
//          // 启用显示定位
//          enableGeolocation: true
        });
        navigationControl.setOffset(new BMap.Size(10, 60));
        baidumap.addControl(navigationControl);

        // 添加定位控件
        var geolocationControl = new BMap.GeolocationControl();
//        geolocationControl.addEventListener("locationSuccess", function(e){
////          // 定位成功事件
////          var address = '';
////          address += e.addressComponent.province;
////          address += e.addressComponent.city;
////          address += e.addressComponent.district;
////          address += e.addressComponent.street;
////          address += e.addressComponent.streetNumber;
////          alert("当前定位地址为：" + address);
//        });
//        geolocationControl.addEventListener("locationError",function(e){
//          // 定位失败事件
////          alert(e.message);
//        });
        geolocationControl.setOffset(new BMap.Size(10, 60));
        baidumap.addControl(geolocationControl);

//        baidumap.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
        baidumap.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
        baidumap.enableContinuousZoom();//启用地图惯性拖拽，默认禁用

        baidumap.addEventListener("dragstart", function () {
          console.log('baidumap.dragstart');
          $scope.ClearMapCenterTxt();
        });
        baidumap.addEventListener("moving", function () {
          console.log('baidumap.moving');
          $scope.ClearMapCenterTxt();
        });
        baidumap.addEventListener("zoomend", function () {
          console.log('baidumap.zoomend');
          $scope.ClearMapCenterTxt();
        });
        baidumap.addEventListener("resize", function () {
          console.log('baidumap.resize');
          $scope.ClearMapCenterTxt();
        });
        baidumap.addEventListener("touchend", function () {
          console.log('baidumap.touchend');
          $scope.ClearMapCenterTxt();
        });

        mapgeoc = new BMap.Geocoder();
        if (!_.isObject(keyPar) || keyPar.lng == '' || !_.isNumber(parseFloat(keyPar.lng)) || keyPar.lat == '' || !_.isNumber(parseFloat(keyPar.lat))) {
          var geolocation = new BMap.Geolocation();////浏览器定位
          geolocation.getCurrentPosition(function (r) {
            if (this.getStatus() == BMAP_STATUS_SUCCESS) {
              baidumap.centerAndZoom(r.point, 14);
              if(_.isObject(keyPar)  && keyPar.loc!='') {
                $timeout(function () {
                  $scope.model.mapcenteraddress = keyPar.loc;
                }, 500);
              }
            }
            else {
              var myCity = new BMap.LocalCity();//IP定位获取当前城市
              myCity.get(cbLocalCity);
            }
          }, {enableHighAccuracy: true});
        }

//        baidumap.addEventListener("zoomend", function () {
//          $scope.clearselectpoint();
//        });
//        baidumap.addEventListener("moveend", function () {
//          $scope.clearselectpoint();
//        });
        maplocal = new BMap.LocalSearch(baidumap, {
          onSearchComplete: function (results) {
            // 判断状态是否正确
            console.log('maplocal.getStatus():' + maplocal.getStatus());
            if (maplocal.getStatus() == BMAP_STATUS_SUCCESS) {
              console.log(JSON.stringify(results));
              var s = [];
              var tmptype = ['全部'];
              for (var i = 0; i < results.getCurrentNumPois(); i++) {
                var tmppoi = results.getPoi(i);
                s.push(tmppoi);
                if (_.isArray(tmppoi.tags))
                  tmptype = _.union(tmptype, tmppoi.tags);
              }
              $scope.$apply(function () {
                $scope.model.selecttype = '全部';
                $scope.model.tagslist = tmptype;
                $scope.model.searchpoilist = s;
              });
            } else {
              $scope.$apply(function () {
                $scope.model.selecttype = '';
                $scope.model.tagslist = [];
                $scope.model.searchpoilist = [];
              });
              zn.showToast("输入关键字没有信息点，请更换关键字搜索")
            }
          }
        });
//        local.search("公园");
      } else {
        $timeout(function () {
          $scope.getLoadData();
        }, 500);
      }
    }
    $scope.ClearMapCenterTxt = function () {
      if ($scope.model.mapcenteraddress) {
        $scope.model.mapcenteraddress = "";
        if ($scope.$root.$$phase != '$apply' && $scope.$root.$$phase != '$digest') {
          $scope.$apply();
        }
      }
    }

    $scope.getGeoLocData = function () {
//      maplocal.search("公园");
    }
    $scope.mapSearchData = function () {
      if ($scope.model.keyword && $scope.model.keyword.Trim() != '') {
        maplocal.search($scope.model.keyword.Trim());
      } else {
        zn.showToast("请输入关键字")
      }

    }
    $scope.selectPoint = function (poi) {
      if ($scope.model.selectuid != poi.uid) {
        $scope.model.selectuid = poi.uid
        baidumap.setCenter(new BMap.Point(poi.point.lng, poi.point.lat));
        $scope.model.mapcenteraddress = poi.title
        console.log('baidumap.setCenter:' + JSON.stringify(poi));
      }
    }
    $scope.selectPointType = function (typename) {
      $scope.model.selecttype = typename;
    }
    $scope.isShowPoiByType = function (poi) {
      if ($scope.model.selecttype == '全部' || (_.isArray(poi.tags) && _.indexOf(poi.tags, $scope.model.selecttype) != -1))
        return true;
      return false;
    }

//    mapSearchData
  }

  function cbLocalCity(result) {
    var cityName = result.name;
    baidumap.setCenter(cityName);
  }

</script>
