<ion-view hide-back-button="false" id="comment_activity_info">
	<ion-nav-title align-title="center">
		<span class="ui inverted header">活动评论详情</span>
	</ion-nav-title>
	<ion-content overflow-scroll="false" has-bouncing="true" ng-click="closeModal()">
		<ion-refresher pulling-text="下拉刷新" on-refresh="pulldownRefresher()"></ion-refresher>
		<div class="list margin-top-10">
			<div class="item item-thumbnail-left no-thin-border">
				<img class="ui centered tiny image circular" image-lazy-src="{{model.comment.imgUrl | formatImgUrl}}">
				<span>{{model.comment.createName}}</span>
				<span class="ui rating" style="margin-top: 5px;">
					<i class="icon active" ng-if="model.comment.aciScore>=1"></i>
					<i class="icon active" ng-if="model.comment.aciScore>=2"></i>
					<i class="icon active" ng-if="model.comment.aciScore>=3"></i>
					<i class="icon active" ng-if="model.comment.aciScore>=4"></i>
					<i class="icon active" ng-if="model.comment.aciScore>=5"></i>
				</span>
				<span class="float-right comment-bar-edit" ng-show="(isEdit ==0 || isEdit ==1) && isComment !=2" ng-click="isNo[0].checked=!isNo[0].checked">{{isNo[0].checked?'完成':'编辑'}}</span>
				<span class="float-right comment-bar-comment" ng-click="openPopover(model.comment.createName, model.comment.aciId, model.comment.aciId)">
	    			<!--<span class="icon-Rectangle-584">评论</span>-->
				<span class="icon-Rectangle-584" ng-if="isEdit!=3 && isComment!=2">评论</span>
				</span>
				<!--<samp class="" style="margin-left: inherit;">{{model.comment.aciScore}}</samp>-->
				<!--<ion-toggle class="off" ng-if="model.isEdit" ng-repeat="item in isNo" ng-model="item.checked" ng-checked="item.checked">{{ item.text }}</ion-toggle>-->
				<br />
				<span class="commentTime">{{model.comment.createDate | formatCommentDate}}</span><br />
				<p class="comment-text comment-white" ng-click="openPopover(model.comment.createName, model.comment.aciId, model.comment.aciId)">
					{{model.comment.aciContent}}
				</p>
			</div>
			<div class="nodata_textdiv" ng-if="model.isHave && isComment !=2">
				<div>快来抢沙发~</div>
			</div>
			<div ng-repeat="c in modal.comment" class="comment-person">
				<span class="icon-create_-activity_cancel" ng-if="isNo[0].checked" ng-click="clearComment(c.aciId)">
					<span class="path1"></span><span class="path2"></span>
				</span>
				<span class="comment-name">{{c.createName}}：</span>
				<span class="comment-text" ng-click="openPopover(c.createName, c.aciId, c.path)">{{c.aciContent}}</span>
				<br />
				<div ng-repeat="item in c.list">
					<span class="icon-create_-activity_cancel" ng-if="isNo[0].checked" ng-click="clearComment(item.aciId)">
						<span class="path1"></span><span class="path2"></span>
					</span>
					<span class="comment-name">{{item.createName}}</span>
					<span class="comment-text">&ensp;回复&ensp;</span>
					<span class="comment-name">{{item.pid.createName}}：</span>
					<span class="comment-text" ng-click="openPopover(item.createName, item.aciId, item.path)">{{item.aciContent}}</span>
					<br />
				</div>
			</div>
		</div>

		<ion-infinite-scroll immediate-check="false" ng-if="modal.isMore" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
		<!--<div class="s" style="  position: fixed; top: 0; left: 0; z-index: 10; width: 100%;height: 100%;">
			<textarea id="comment" ng-dome placeholder="回复 {{postModel.name}} :" ng-model="postModel.aciContent"></textarea>
		</div>-->
	</ion-content>
</ion-view>
<script id="comment.html" type="text/ng-template">
	<ion-postModel-view>
		<div class="chunk" ng-click="closePopover()"></div>
		<div id="list-comment">
			<textarea id="comment" ng-dome placeholder="{{postModel.name}}" ng-model="postModel.aciContent" maxlength="100"></textarea>
			<span id="send" ng-click="submitReply()">发布</span>
			<input ng-model="postModel.pid" hidden="hidden"></input>
			<input ng-model="postModel.path" hidden="hidden"></input>
		</div>
	</ion-postModel-view>
</script>
<script type="text/javascript">
	function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {
		var params = $scope.pageParams();
		//		console.log("活动评论详情~~~~~~~~参数据：" + JSON.stringify(params));
		$scope.isComment = 3; // 0:未评；1：已评；2：已过期，3：游客
		$scope.isEdit = 3; // 0创建者； 1：织都者；2：参与者，3：游客
		$scope.model = {
			comment: {},
			isHave: false
		};
		$scope.modal = {
			comment: [],
			limit: 5,
			page: 1,
			isMore: false
		};
		$scope.postModel = {};
		$scope.postModal = {};
		$scope.isNo = [{
			checked: false
		}, ];
		$scope.getComment = function() {
			ajaxPost.call(
				$scope, $http,
				API_appserverurl + '/api/activitycommentinfo/getCommentList', {
					aciId: params.aciId,
					abiId: params.abiId
				},
				'获取活动评论信息',
				function(data) {
					console.log("主评数据===" + JSON.stringify(data));
					if(data && data.arydata[0]) {
						$scope.model.comment = data.arydata[0];
						$scope.isComment = data.isHave;
						$scope.isEdit = data.role;
						if(data.arydata[0].sum > 0) {
							$scope.getCommentInfo();
						} else {
							$scope.model.isHave = true;
						}
						if(data.role != 3 && data.role !=2 && data.isHava != 3) {
							$scope.postModel.name = "评论";
							$scope.postModel.show();
						}
					}
				},
				function(error) { //TODO
				});
		}
		$scope.getComment();

		$scope.getCommentInfo = function() {
			if($scope.modal.page == 1) {
				$scope.modal.comment = [];
			}
			ajaxPost.call(
				$scope, $http,
				API_appserverurl + '/api/activitycommentinfo/getCommentInfo', {
					limit: $scope.modal.limit,
					skip: ($scope.modal.page - 1) * $scope.modal.limit,
					aciId: params.aciId
				},
				'获取追评信息',
				function(data) {
					//					console.log("追评信息=11==" + JSON.stringify(data));
					if(data && data.length > 0) {
						angular.forEach(data, function(value, key) {
							$scope.modal.comment.push(value);
						});
						$scope.modal.isMore = true;
						$scope.modal.page++;
						$scope.model.isHave = false;
					} else {
						if($scope.modal.page == 1) {
							$scope.modal.comment = [];
						}
						$scope.modal.isMore = false;
					}
				},
				function(error) {
					//TODO
				});
		}

		// 组织或活动管理提交后台审核
		$scope.clearComment = function(aciId) {
				ajaxPost.call(
					$scope, $http,
					API_appserverurl + '/api/activitycommentinfo/editData', {
						id: aciId,
						abiId: params.abiId
					},
					'活动评论提交后台审核',
					function(data) {
						$scope.closePopover();
						$scope.modal.page = 1;
						$scope.getCommentInfo();
					},
					function(error) {});

			}
			//提交评论
		$scope.submitReply = function() {
			$scope.postModel.abiId = params.abiId;
			//			console.log(" pid=======提交数据========" + $scope.postModel.pid);
			//			console.log("=abiId======提交数据========" + $scope.postModel.abiId);
			//			console.log("=path======提交数据========" + $scope.postModel.path + $scope.postModel.pid + ",");

			if(!$scope.postModel.pid) {
				$scope.postModel.pid = $scope.model.comment.aciId;
				$scope.postModel.path = $scope.model.comment.aciId;
				//				console.log(" pid=======提交数据========" + $scope.postModel.pid);
				//				console.log("=abiId======提交数据========" + $scope.postModel.abiId);
				//				console.log("=path======提交数据========" + $scope.postModel.path + $scope.postModel.pid + ",");

			}

			$scope.postModal.abiId = params.abiId;
			$scope.postModal.pid = $scope.postModel.pid;
			var tem = $scope.postModel.path + "";
			if(tem.indexOf(",") > 0) {
				$scope.postModal.path = $scope.postModel.path + $scope.postModel.pid + ",";
			} else {
				$scope.postModal.path = "0," + $scope.postModel.path + ",";
			}
			$scope.postModal.aciContent = $scope.postModel.aciContent;

			if(!$scope.postModel.aciContent) {
				showError("评论内容不能为空！");
				return;
			}
			if($scope.postModel.aciContent.length > 100) {
				showError("文字过多！");
				return;
			}

			//			console.log(" pid=======提交数据OK========" + $scope.postModel.pid);
			//			console.log("=abiId======提交数据OK========" + $scope.postModel.abiId);
			//			console.log("=path======提交数据OK========" + $scope.postModel.path + $scope.postModel.pid + ",");

			// console.log(JSON.stringify($scope.postModal) + "活动评论发送信息");
			ajaxPost.call(
				$scope, $http,
				API_appserverurl + '/api/activitycommentinfo/addData',
				$scope.postModal,
				'活动评论提交',
				function(data) {
					$scope.modal.page = 1;
					$scope.getCommentInfo();
					$scope.closePopover();
				},
				function(error) {
					console.log("失败！" + error);
				});
		}

		//下拉刷新
		$scope.pulldownRefresher = function() {
			$scope.modal.page = 1;
			$scope.getCommentInfo();
			$scope.$broadcast('scroll.refreshComplete');
		};
		//上拉加载更多
		$scope.loadMore = function() {
			$scope.modal.isMore = false;
			$scope.getCommentInfo();
			$scope.$broadcast('scroll.infiniteScrollComplete');
		};
		/**
		 * 浮动层
		 */
		$scope.postModel = $ionicPopover.fromTemplateUrl('comment.html', {
			scope: $scope
		});

		// .fromTemplateUrl() 方法
		$ionicPopover.fromTemplateUrl('comment.html', {
			scope: $scope
		}).then(function(postModel) {
			$scope.postModel = postModel;
		});

		$scope.openPopover = function(name, pid, path) {
			if($scope.isComment ==2 || $scope.isEdit == 3 || path && path.length > 180) {
				return;
			}
			$scope.postModel.aciContent = "";
			//			console.log(" name=======提交数据========" + name);
			//			console.log("pid=====提交数据========" + pid);
			//			console.log("path======提交数据========" + path);
			$scope.postModel.name = "回复 " + name + " :";
			$scope.postModel.pid = pid;
			$scope.postModel.path = path;
			$scope.postModel.show();

		};
		$scope.closePopover = function() {
			$scope.postModel.hide();
		};
		// 清除浮动框
		$scope.$on('$destroy', function() {
			$scope.postModel.remove();
		});
		// 在隐藏浮动框后执行
		$scope.$on('postModel.hidden', function() {
			// 执行代码
		});
		// 移除浮动框后执行
		$scope.$on('postModel.removed', function() {
			// 执行代码
		});

	}
</script>