<ion-view hide-back-button="false" id="comment_personage_info">
	<ion-nav-title align-title="center">
		<span class="ui inverted header">评论详情</span>
	</ion-nav-title>
	<ion-content overflow-scroll="false" has-bouncing="true" ng-click="closeModal()">
		<ion-refresher pulling-text="下拉刷新" on-refresh="pulldownRefresher()"></ion-refresher>
		<div class="list" style="top:5px ;">
			<div class="item item-thumbnail-left no-thin-border main-left">
				<img class="ui centered tiny image circular headStyle" style="border-radius: 15px;max-width: 45px; max-height: 45px; height: 45px;" image-lazy-src="{{model.main.imgUrl | formatImgUrl}}">
				<samp class="name-main">{{model.main.uuiName}}</samp>
				<span class="float-right comment-bar-edit" ng-if="isEdit" ng-click="isNo[0].checked=!isNo[0].checked">{{isNo[0].checked?'完成':'编辑'}}</span>
				<span class="float-right comment-bar-comment">
	    			<span class="icon-Rectangle-584" ng-if="isComment" ng-click="commentSponsor()">评分</span>
	    			<span class="float-right have-ratings" ng-if="model.isHave">已评论</span>
				</span>
				<p>活动：{{model.main.role}}</p>
				<span class="name-main">得分：{{model.main.sum}}</span>
			</div>
		</div>
		<div class="list" ng-repeat="c in modal.comment">
			<div class="item item-thumbnail-left no-thin-border two-left">
				<img class="ui centered tiny image circular headStyle" image-lazy-src="{{c.imgUrl | formatImgUrl}}">
				<span class="comment-name-main">{{c.createName}}</span>
				<div class="ui rating">
					<i class="icon active" ng-if="c.aciScore>=1"></i>
					<i class="icon active" ng-if="c.aciScore>=2"></i>
					<i class="icon active" ng-if="c.aciScore>=3"></i>
					<i class="icon active" ng-if="c.aciScore>=4"></i>
					<i class="icon active" ng-if="c.aciScore>=5"></i>
				</div>
				<div ng-class="{'comment-delete float-right': true, 'is-comment-edit': isNo[0].checked && !c.subDelete}" ng-if="isNo[0].checked" ng-click="c.subDelete = !c.subDelete">
					<span class="icon-create_-activity_cancel">
                		<span class="path1"></span><span class="path2"></span>
					</span>
					<p>屏蔽</p>
				</div>
				<span class="item-time">{{c.createDate | formatCommentDate}}</span>
				<div class="comment-content" ng-click="openPopover(c.createName, c.aciId, c.aciId)">{{c.aciContent}}</div>
			</div>
			<div class="item comment-reply border-top thin-border-left-16 thin-border-right-16" ng-if="c.list && c.list.length>0">
				<div class="" ng-repeat="item in c.list">
					<span ng-class="{'icon-create_-activity_cancel': true, 'is-comment-edit': c.subDelete}" ng-if="isNo[0].checked" ng-click="clearComment(item.aciId)">
						<span class="path1"></span><span class="path2"></span>
					</span>
					<span class="comment-name">{{item.createName}}</span>
					<span class="comment-text">&ensp;回复&ensp;</span>
					<span class="comment-name">{{item.pid.createName}}：</span>
					<span class="comment-text" ng-click="openPopover(item.createName, item.aciId, item.path)">{{item.aciContent}}</span>
				</div>
			</div>
		</div>
		<div class="nodata_textdiv" ng-if="model.main.sum ==0">
				<div>快来抢沙发~</div>
			</div>
		<ion-infinite-scroll ng-if="modal.isMore" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>
<script id="comment.html" type="text/ng-template">
	<ion-postModel-view>
		<div class="chunk" ng-click="closePopover()"></div>
		<div id="list-comment">
			<textarea id="comment" placeholder="回复 {{postModel.name}} :" ng-model="postModel.aciContent" maxlength="100"></textarea>
			<span id="send" ng-click="submitReply()">发布</span>
			<input ng-model="postModel.pid" hidden="hidden"></input>
			<input ng-model="postModel.path" hidden="hidden"></input>
		</div>
	</ion-postModel-view>
</script>
<script type="text/javascript">
	function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {
		var params = $scope.pageParams();
		//console.log("活动个人评论详情~~~~~~~~参数据：" + JSON.stringify(params));
		$scope.model = {
			main: {},
			isEdit: false,
			isComment: false,
			isHave: false
		};
		$scope.modal = {
			comment: [],
			limit: 5,
			page: 1,
			isMore: false
		};
		$scope.postModel = {};
		$scope.postModal = {};
		$scope.isNo = [{
			checked: false
		}];

		// 评价发起人
		$scope.commentSponsor = function() {
			$scope.openWindow('comment_personage', {
				id: params.aciUserid,
				abiId: params.abiId
			});
		};
		$scope.getOneScoreData = function() {
			ajaxPost.call($scope, $http, API_appserverurl + '/api/activityscoreinfo/getOneScoreData', {
				usId: params.aciUserid,
				abiId: params.abiId
			}, "获取评分同学成绩信息", function(data) {
				$scope.model.main = data;
				if(data.type == 1) {
					$scope.model.main.role = "发起者";
				} else {
					$scope.model.main.role = "组织者";
				}
//				console.log("评分同学成绩信息==" + JSON.stringify($scope.model.main));
			});
		}
		$scope.getOneScoreData();

		$scope.getComment = function() {
			//			debugger;
			//console.log("limit:" + $scope.modal.limit + " skip:" + ($scope.modal.page - 1) * $scope.modal.limit);
			ajaxPost.call(
				$scope, $http,
				API_appserverurl + '/api/activityscoreinfo/getCommentList', {
					limit: $scope.modal.limit,
					skip: ($scope.modal.page - 1) * $scope.modal.limit,
					aciUserid: params.aciUserid,
					abiId: params.abiId
				},
				'获取活动评论信息',
				function(data) {
					console.log($scope.modal.isMore + "==start");
//						console.log("主评数据===" + JSON.stringify(data));
					//	console.log("主评数据=wwww==" + (JSON.stringify(data) == "[]") + $scope.modal.isMore);
					console.log($scope.modal.isMore);
					if(JSON.stringify(data) != "[]") {
						if(data.arydata.length > 0) {
							if($scope.modal.page == 1) {
								$scope.modal.comment = [];
							}
							angular.forEach(data.arydata, function(value, key) {
								$scope.modal.comment.push(value);
							});
							//var role = 3; // 0创建者； 1：织都者；2：参与者，3：游客
							//var isHave = 3; // 0:未评；1：已评；2：已过期，3：游客
							if(data.role == 0 || data.role == 1)
								$scope.model.isEdit = true;
							if(data.isHave == 0)
								$scope.model.isComment = true;
							if(data.isHave == 1)
								$scope.model.isHave = true;
							
							$scope.modal.isMore = true;
							$scope.modal.page++;
						} else {
							if($scope.modal.page == 1) {
								$scope.modal.comment = [];
							}
							$scope.modal.isMore = false;
						}
					} else {
						if($scope.modal.page == 1) {
							$scope.modal.comment = [];
						}
						//console.log("主评数据=wwww==" + (JSON.stringify(data) == "[]") + $scope.modal.isMore);
						$scope.modal.isMore = false;
					}
				},
				function(error) { //TODO
				});
		}
		$scope.getComment();

		// 组织或活动管理提交后台审核
		$scope.clearComment = function(aciId) {
				ajaxPost.call(
					$scope, $http,
					API_appserverurl + '/api/activityscoreinfo/editData', {
						id: aciId,
						abiId: params.abiId
					},
					'活动个人评论提交后台审核',
					function(data) {
						$scope.modal.page = 1;
						$scope.getComment();
						$scope.closePopover();
					},
					function(error) {});
			}
			//提交个人评论
		$scope.submitReply = function() {
			$scope.postModel.abiId = params.abiId;
//				console.log(" pid=======提交数据========" + $scope.postModel.pid);
//				console.log("=abiId======提交数据========" + $scope.postModel.abiId);
//				console.log("=path======提交数据========" + $scope.postModel.path + $scope.postModel.pid + ",");

			$scope.postModal.abiId = params.abiId;
			$scope.postModal.pid = $scope.postModel.pid;
			var tem = $scope.postModel.path + "";
			if(tem.indexOf(",") > 0) {
				$scope.postModal.path = $scope.postModel.path + $scope.postModel.pid + ",";
			} else {
				$scope.postModal.path = "0," + $scope.postModel.path + ",";
			}
			$scope.postModal.aciContent = $scope.postModel.aciContent;

			console.log(JSON.stringify($scope.postModal) + "活动评论发送信息-提交前");
			if(!$scope.postModel.aciContent) {
				showError("评论内容不能为空！");
				return;
			}
			if($scope.postModel.aciContent.length > 100) {
				showError("文字过多！");
				return;
			}
			$scope.postModal.aciScore = 0;
			// 根据活动评论是否需要审核
			if($scope.model.main.commentAudit == 1) {
				$scope.postModal.auditStatus = 0;
			} else {
				$scope.postModal.auditStatus = 2;
			}
			$scope.postModal.aciUserid = $scope.model.main.usId;
			$scope.postModal.type = 1;
			 console.log(JSON.stringify($scope.postModal) + "活动评论发送信息");
			ajaxPost.call(
				$scope, $http,
				API_appserverurl + '/api/activityscoreinfo/addData',
				$scope.postModal,
				'活动个人评论提交',
				function(data) {
					$scope.modal.page = 1;
					$scope.getComment();
					$scope.closePopover();
				},
				function(error) {});
		}

		//下拉刷新
		$scope.pulldownRefresher = function() {
			$scope.modal.page = 1;
			$scope.getComment();
			$scope.$broadcast('scroll.refreshComplete');
		};
		//上拉加载更多
		$scope.loadMore = function() {
			$scope.getComment();
			$scope.$broadcast('scroll.infiniteScrollComplete');
		};

		/**
		 * 浮动层
		 */
		$scope.postModel = $ionicPopover.fromTemplateUrl('comment.html', {
			scope: $scope
		});

		// .fromTemplateUrl() 方法
		$ionicPopover.fromTemplateUrl('comment.html', {
			scope: $scope
		}).then(function(postModel) {
			$scope.postModel = postModel;
		});

		$scope.openPopover = function(name, pid, path) {
			if(!$scope.model.isComment || path && path.length > 180) {
				return;
			}
			$scope.postModel.aciContent = "";

//			console.log(" name=======提交数据========" + name);
//			console.log("pid=====提交数据========" + pid);
//			console.log("path======提交数据========" + path);
			$scope.postModel.name = name;
			$scope.postModel.pid = pid;
			$scope.postModel.path = path;
			$scope.postModel.show();
		};
		$scope.closePopover = function() {
			$scope.postModel.hide();
		};
		// 清除浮动框
		$scope.$on('$destroy', function() {
			$scope.postModel.remove();
		});
		// 在隐藏浮动框后执行
		$scope.$on('postModel.hidden', function() {
			// 执行代码
		});
		// 移除浮动框后执行
		$scope.$on('postModel.removed', function() {
			// 执行代码
		});
	}
</script>