<style>
	.noAfter:after{
		background: transparent !important;
	}
</style>
<ion-view view-title="活动信息" id="edit_activity">
	<ion-nav-buttons side="right">
    <a class="button button-blue btnsubmit" ng-href="" ng-click="editActivity()">提交</a>
	</ion-nav-buttons>
  <ion-content overflow-scroll="false" has-bouncing="true" class="has-header">

  	<div class="list marginBottom marginTop">
  		<label class="item item-input reject-reason" ng-if="model.abiStatus==5 && model.auditContent">
	    	<span>驳回理由：{{model.auditContent}}</span>
	  	</label>
		<label class="item item-input">
    		<span class="input-label">活动类别</span>
	    	<input type="text" placeholder="请添加活动类别" ng-click="openWindow('activity_category')" ng-model="model.abiCategory">
		</label>
		<label class="item item-input">
    		<span class="input-label">活动名称</span>
	    	<input type="text" placeholder="请输入活动名称" ng-model="model.abiName">
		</label>
		<label class="item item-input">
    		<span class="input-label">活动主办方</span>
	    	<input type="text" placeholder="请添加活动主办方" ng-click="openWindow('activity_sponsor')" ng-model="model.abiSponsor">
		</label>
		<label class="item item-input">
    		<span class="input-label">活动承办方</span>
	    	<input type="text" placeholder="请添加活动承办方" ng-click="openWindow('activity_organizer')" ng-model="model.abiOrganizer">
		</label>
	</div>
	<div class="list marginBottom">
		<label class="item item-input item-stacked-label noAfter item-textarea">
	  		<span class="input-label">活动意义</span>
		    <textarea placeholder="填写活动简介" rows="10" ng-model="model.abiPurpose" maxlength="2500" autocomplete="off" autocorrect="off"></textarea>
	  		<span class="words">{{model.abiPurpose.length || 0}}/2500</span>
		</label>
		<label class="item item-input item-stacked-label item-textarea">
	  		<span class="input-label">活动简介</span>
		    <textarea placeholder="填写活动简介" rows="10" ng-model="model.abiDescription" maxlength="2500" autocomplete="off" autocorrect="off"></textarea>
	  		<span class="words">{{model.abiDescription.length || 0}}/2500</span>
		</label>
	</div>
	<div class="list marginBottom">
      	<div class="item item-input upload-label no-thin-border no-margin-bottom">
			<span class="input-label">首页轮播图片（仅一张,建议尺寸720X430）</span>
		</div>
        <div class="item item-input marginTop marginBottom multiple-label row">
          <div class="multiple-div col-33"  ng-if="model.bannerUrl">
          	<div class="img-span">
	            <img ng-src="{{model.bannerUrl | formatDbImgUrl}}"/>
	            <span class="icon-common_prompt_cancel" ng-click="deleteBannerImg()" ng-if="model.bannerUrl"></span>
	          </div>
          </div>
          <div class="multiple-div col-33" ng-if="!model.bannerUrl">
            <span class="icon-create_add_photo" style="font-size: 75px;color: #999999;" ngf-multiple="true"
                  ngf-select="uploadBannerFiles($files)" ngf-accept="'image/*'" ngf-fix-orientation="true"
                  ngf-capture="'camera'" ngf-drop ngf-select ngf-resize="{width: 720, quality: 0.8, type: 'image/jpeg'}"
                  ngf-resize-if="$width > 720 || $height > 430"
                  ngf-validate="{height: {min: 430}, width: {min: 720}}"
                  ><span class="path1"></span><span
              class="path2"></span><span class="path3"></span></span>
          </div>
        </div>
      </div>
	<div class="list marginBottom">
		<div class="item item-input upload-label no-thin-border no-margin-bottom">
			<span class="input-label">上传活动图片（无限制,建议尺寸680X360）</span>
		</div>
		<div class="item item-input marginTop marginBottom multiple-label row">
	  		<div class="multiple-div col-33" ng-repeat="file in model.imgUrl">
	  			<div class="img-span">
					<img ng-src="{{file | formatDbImgUrl}}" />
					<span class="icon-common_prompt_cancel" ng-click="deleteImg($index)"></span>
				</div>
			</div>
			<div class="multiple-div col-33">
				<span class="icon-create_add_photo2" style="font-size: 75px;" ngf-multiple="true" ngf-select="uploadFiles($files)" ngf-accept="'image/*'" ngf-fix-orientation="true" ngf-capture="'camera'" ngf-drop ngf-select ngf-resize="{width: 680, quality: 0.8, type: 'image/jpeg'}" ngf-resize-if="$width > 680 || $height > 360" ngf-validate="{height: {min: 360}, width: {min: 680}}"> </span>
			</div>
		</div>
	</div>
	<div class="list marginBottom">
		<label class="item item-input marginBottom">
	  		<span class="remarks">如需上传活动策划书及其他附件，通过PC端上传！</span>
		</label>
	</div>
	<div class="list marginBottom">
		<label class="item item-input">
    		<span class="input-label">开始时间</span>
	    	<input type="datetime-local" ng-model="model.abiStartTime" placeholder="请选择活动开始时间">
		</label>
		<label class="item item-input">
    		<span class="input-label">结束时间</span>
	    	<input type="datetime-local" ng-model="model.abiEndTime" placeholder="请选择活动结束时间">
		</label>
		<label class="item item-input">
    		<span class="input-label">报名截止</span>
	    	<input type="datetime-local" ng-model="model.abiRegistrationDeadline" placeholder="请选择活动报名截止时间">
		</label>
		<div class="item item-input item-icon-right">
          <span class="input-label">活动地点</span>
          <input type="text" placeholder="请添加活动地点" ng-model="model.abiGpsPlace" style="padding-right: 45px;">
          <i class="icon" ng-click="toMap()"><span class="icon-home_add mail"></span></i>
        </div>
		<label class="item item-input">
    		<span class="input-label">组织人员</span>
	    	<input type="text" placeholder="请添加组织人员名单" ng-click="openWindow('activity_organiser')" ng-model="model.userName">
	    	<i class="icon"><span class="mail icon-create_activity_mail_list" ng-click="openWindow('activity_organiser')"></span></i>
		</label>
		<label class="item item-input">
    		<span class="input-label">报名人数</span>
	    	<input type="number" placeholder="请填写报名人数" ng-model="model.limitSignNum">
		</label>
	</div>
	<div class="list marginBottom">
		<label class="item item-input">
    		<span class="input-label">预算金额</span>
			<input type="number" placeholder="请输入金额，不填写即不申报" ng-model="model.budget">
		</label>
	</div>
  </ion-content>
</ion-view>

<script type="text/javascript">
  function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {

  	$scope.model={};
  	$scope.activityId = $scope.pageParams().abiId;

	//监听选择 活动类别
	EventBus.on("notice.activity_category.onSubmit", function (evt) {

      	if ($scope.$parent) {
		    $scope.model.abiCategory = "";
		    $scope.model.activityCategorys = evt.data;

			angular.forEach(evt.data, function (item) {
		    	$scope.model.abiCategory += item.sdiName+","
			});

		    $scope.model.abiCategory = $scope.model.abiCategory.substring(0,$scope.model.abiCategory.length-1);
		    printLog("监听选择活动类别"+JSON.stringify($scope.model.activityCategorys));
	     }
	});

	//监听选择 活动主办方
	EventBus.on("notice.activity_sponsor.onSubmit", function (evt) {
	    if ($scope.$parent) {
			$scope.model.abiSponsor ="";
		    $scope.model.activitySponsors = evt.data;

		    angular.forEach(evt.data, function (item) {
		     	$scope.model.abiSponsor += item.sdiName+","
		    });

		    $scope.model.abiSponsor = $scope.model.abiSponsor.substring(0,$scope.model.abiSponsor.length-1);
		    printLog("监听选择主办方"+JSON.stringify($scope.model.activitySponsors));
	    }

	});

	//监听选择 活动承办方
	EventBus.on("notice.activity_organizer.onSubmit", function (evt) {
	    if ($scope.$parent) {
			$scope.model.abiOrganizer ="";
		    $scope.model.activityOrganizers = evt.data;

		    angular.forEach(evt.data, function (item) {
		     	$scope.model.abiOrganizer += item.sdiName+","
		    });

		    $scope.model.abiOrganizer = $scope.model.abiOrganizer.substring(0,$scope.model.abiOrganizer.length-1);
		    printLog("监听选择承办方"+JSON.stringify($scope.model.activityOrganizers));
	    }

	});

	//监听选择 活动地点
	EventBus.on("notice.baidumap.setPointPublish", function (evt) {
	    if ($scope.$parent) {
		    $scope.gps = evt.data;
			if($scope.model.abiGpsPlace == ""){
				$scope.model.abiGpsPlace = $scope.gps.Geo;
        	}
		    $scope.model.abiGpsPlace = $scope.gps.Geo;
		    $scope.model.abiGpsLng = $scope.gps.Lng;
		    $scope.model.abiGpsLat = $scope.gps.Lat;

		    printLog("监听选择地点"+JSON.stringify($scope.gps));
	    }

	});

	//监听选择  活动组织人员
	EventBus.on("notice.activity_organiser.onSubmit", function (evt) {
	    if ($scope.$parent) {
			$scope.model.userName ="";
		    $scope.model.abiOrganisers = evt.data;

		    angular.forEach(evt.data, function (item) {
		     	$scope.model.userName += item.uuiName+","
		    });

		    $scope.model.userName = $scope.model.userName.substring(0,$scope.model.userName.length-1);
		    printLog("监听选择组织人员"+JSON.stringify($scope.model.abiOrganisers));
	    }

	});

	//上传图片
	$scope.uploadFiles = function(files) {
		console.log('uploadFiles');

		if(files==null)
			return;

		if (files && files.length) {
			for (var i = 0; i < files.length; i++) {
				Upload.upload({
					url: API_imgbaseurl + '/api/file/imgUploadFile',
					data: {
						image: files[i]
					}
				}).then(function(response) {
					if (response.data && response.data != '') {
						$scope.model.imgUrl.push(response.data);
						console.log(response.data);
					}
				}, function(resp) {
					console.log('Error status: ' + resp.status);
				}, function(evt) {
					//console.log('progress:' + JSON.stringify(evt));
				});
			}
		}else{
	    	zn.showToast("上传的图片尺寸不符合")
	    }
	}

	//上传banner图片
    $scope.uploadBannerFiles = function (files) {
      console.log('uploadBannerFiles');

      if(files==null)
		return;

      if (files && files.length==1) {
          Upload.upload({
            url: API_imgbaseurl + '/api/file/imgUploadFile',
            data: {
              image: files[0]
            }
          }).then(function (response) {
            if (response.data && response.data != '') {
              $scope.model.bannerUrl=response.data;
              console.log(response.data);
            }
          }, function (resp) {
            console.log('Error status: ' + resp.status);
          }, function (evt) {
            //console.log('progress:' + JSON.stringify(evt));
          });
      }else{
      	zn.showToast("上传的图片尺寸不符合")
      }
    }

	//删除图片
	$scope.deleteImg = function(index) {
		$scope.model.imgUrl.splice(index, 1);
	}

	//删除banner图片
    $scope.deleteBannerImg = function () {
    	$scope.showBanner = false;
      $scope.model.bannerUrl="";
    }

	//跳转到地图
	$scope.toMap = function(){
		if($scope.model.abiGpsLng && $scope.model.abiGpsLat)
			$scope.openWindow("baidumap",{lng:$scope.model.abiGpsLng,lat:$scope.model.abiGpsLat})
		else
			$scope.openWindow("baidumap")
	}

	//提交编辑活动
	$scope.editActivity = function(){
//		console.log("编辑活动："+JSON.stringify($scope.model));

	//判断参数
      if ($scope.model.categoryId == undefined || $scope.model.categoryId.length == 0) {
        zn.showToast("活动类别不能为空")
        return;
      }
      if ($scope.model.abiName == "") {
        zn.showToast("活动名称不能为空")
        return;
      }
      if ($scope.model.sponsorId == undefined || $scope.model.sponsorId.length == 0) {
        zn.showToast("活动主办方不能为空")
        return;
      }
      if ($scope.model.organizerId == undefined || $scope.model.organizerId.length == 0) {
        zn.showToast("活动承办方不能为空")
        return;
      }
      if ($scope.model.abiPurpose == undefined || $scope.model.abiPurpose.length == 0) {
        zn.showToast("活动意义不能为空")
        return;
      }
      if ($scope.model.abiDescription == undefined || $scope.model.abiDescription.length == 0) {
        zn.showToast("活动简介不能为空")
        return;
      }
      if(!$scope.model.abiStartTime){
        zn.showToast("活动开始时间 不能为空")
        return;
      }
      if(!$scope.model.abiEndTime){
        zn.showToast("活动结束时间 不能为空")
        return;
      }
      if(!$scope.model.abiRegistrationDeadline){
        zn.showToast("活动截止时间 不能为空")
        return;
      }
      if ($scope.model.abiStartTime > $scope.model.abiEndTime) {
        zn.showToast("活动开始时间 不能晚于 结束时间")
        return;
      }
      if ($scope.model.abiRegistrationDeadline > $scope.model.abiEndTime) {
        zn.showToast("活动报名截止时间 不能晚于 结束时间")
        return;
      }
      if ($scope.model.abiGpsPlace == "") {
        zn.showToast("活动地点不能为空")
        return;
      }
      if($scope.model.abiGpsLng=="" && $scope.model.abiGpsLat==""){
      	zn.showToast("请选择地图上的地点")
        return;
      }
//    if ($scope.model.organiserId == undefined || $scope.model.organiserId.length == 0) {
//      zn.showToast("活动组织人员不能为空")
//      return;
//    }
      if ($scope.model.limitSignNum == undefined ||$scope.model.limitSignNum == "") {
        zn.showToast("请填写活动人数")
        return;
      }

		ajaxPost.call($scope,$http,API_appserverurl + "/api/activitybaseinfo/editData",{
			data:$scope.model,
			id:$scope.activityId
		},"编辑活动",function(ret){
			$scope.showSubmitSuccess();
		})
	}
	//初始化 获取活动数据
	$scope.init = function(){
		ajaxPost.call($scope,$http,API_appserverurl + "/api/activitybaseinfo/getModel",{
			id:$scope.activityId
		},"获取活动",function(ret){
//		   	console.log(JSON.stringify(ret))
			$scope.model = ret;

			$scope.model.abiStartTime=new Date($scope.model.abiStartTime);
			$scope.model.abiEndTime=new Date($scope.model.abiEndTime);
			$scope.model.abiRegistrationDeadline=new Date($scope.model.abiRegistrationDeadline);

			$scope.model.userName ="";
			//组织人员
			var  tempAbiOrganisers=[];
			angular.forEach($scope.model.abiOrganisers, function (item) {

				tempAbiOrganisers.push({
					id:item.aoiUserId,
					uuiName:item.aoiUserName,
					gradeCode:item.gradeCode
				});
		     	$scope.model.userName += item.aoiUserName+","
		    });
		    $scope.model.userName = $scope.model.userName.substring(0,$scope.model.userName.length-1);

		    $scope.model.abiOrganisers = angular.copy(tempAbiOrganisers);
		})
	}

	$scope.init();

	var myPopup = null;

	//提交成功
	$scope.showSubmitSuccess = function() {
		myPopup = $ionicPopup.show({
			title: '',
			template: '<i ng-click="closeHonorPopup()" class="icon-common_prompt_cancel"></i>'
				+'<div class="submit-success-div">'
				+'<span class="icon-common_success_star_bg">'
            	+'<span class="path1"></span><span class="path2"></span>'
            	+'<span class="path3"></span><span class="path4">'
            	+'</span><span class="path5"></span>'
            	+'</span><br/><div class="desc">编辑成功</div><div>',
			scope: $scope,
			buttons: [{
				text: '查看此活动 ',
				type: 'button',
				onTap: function(e) {
					$scope.openWindow('activity_details', {id: $scope.activityId});
				}
			}, {
				text: '返回',
				type: 'button-positive',
				onTap: function(e) {
					$ionicHistory.goBack();
					myPopup.close();
				}
			}]
		});
	}

	//关闭成功弹出框
	$scope.closeHonorPopup = function() {
		myPopup.close();
	}

  }

</script>
