<ion-view hide-back-button="false" id="expense_edit">
	<ion-nav-buttons side="right">
		<a class="button button-blue btnsubmit" ng-href="" ng-click="submitNews()">提交</a>
	</ion-nav-buttons>
	<ion-nav-title align-title="center">
		<span class="ui inverted header">编辑报销</span>
	</ion-nav-title>
	<ion-content overflow-scroll="false" has-bouncing="true">
		<dir class="caution" class="item item-input reject-reason" ng-if="postModel.auditStatus == 1 && postModel.auditStatus">
			<p>驳回理由：{{postModel.auditContent}}</p>
		</dir>
		<div class="list">
			<label class="item item-input no-thin-border">
				<span class="input-label">活动名称</span>
				<span class="lump" ng-bind="postModel.abiName" ng-show="postModel.abiName"></span>
			</label>
			<label class="item item-input no-thin-border">
				<span class="input-label">活动类别</span>
				<span class="lump"> {{postModel.abiCategory}}</span>
			</label>
			<label class="item item-input margin-bottom-10">
				<span class="input-label">活动主办方</span>
				<span class="lump">{{postModel.abiSponsor}}</span>
			</label>
			<label class="item item-input no-thin-border">
				<span class="input-label">预算金额</span>
				<span class="lump"> {{postModel.abiMinBudget}}-{{postModel.abiMaxBudget}}</span>
			</label>
			<a class="item item-input margin-bottom-10">
				<span class="input-label">报销金额</span>
				<input class="min" type="button" ng-click="postModel.aeiAmount=postModel.aeiAmount-1" value="－" />
				<input class="text_box" name="goodnum" type="number" ng-model="postModel.aeiAmount"></input>
				<input class="add" type="button" ng-click="postModel.aeiAmount=postModel.aeiAmount+1" value="＋" />
			</a>
			<label class="item item-textarea">
				<span class="input-label margin-bottom-6">备注说明</span>
				<textarea id="comment" rows="5" placeholder="填写报销说明" ng-model="postModel.aeiRemarks" maxlength="255" autocomplete="off" autocorrect="off"></textarea>
				<p class="float-right textarea-sub">{{postModel.aeiRemarks.length || 0}}/255</p>
			</label>
			<div class="item item-input upload-label no-thin-border">
				<span class="input-label">上传报销图片（不限制）</span>
			</div>
			<div class="item item-input marginTop marginBottom multiple-label row">
				<!--<span>最多上传6张</span><br/>-->
				<div class="multiple-div col-33" ng-repeat="file in postModel.aeiImgUrl">
					<div class="img-span">
						<img ng-src="{{file | formatDbImgUrl}}" />
						<span class="icon-common_prompt_cancel" ng-click="deleteImg($index)"></span>
					</div>
				</div>
				<div class="multiple-div col-33">
					<span class="icon-create_add_photo col-33" ngf-multiple="true" ngf-change="uploadFiles($files)" ngf-accept="'image/*'" ngf-fix-orientation="true" ngf-capture="'camera'" ngf-drop ngf-select ngf-resize="{width: 720, quality: 0.8, type: 'image/jpeg'}" ngf-resize-if="$width > 720 || $height > 1280">
                		<span class="path1"></span><span class="path2"></span><span class="path3"></span>
					</span>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>

<script type="text/javascript">
	function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {
		var params = $scope.pageParams();
		console.log("参数  " + JSON.stringify(params));
		$scope.model = {};
		$scope.postModel = {
			aeiImgUrl: [],
			auditStatus: 0,
			ubiId: 0,
			amount: 0,
			aeiAmount: 0
		};
		//获取单条报销详情
		$scope.getexpense = function() {
			ajaxPost.call(
				$scope, $http,
				API_appserverurl + '/api/activityexpensesinfo/getExpenses', {
					id: params.aeiId
				},
				'获取报销详情',
				function(data) {
					$timeout(function() {
						$scope.model.expense = data;
						//console.log("==============" + JSON.stringify(data));
						$scope.postModel.abiName = data.expenses.abi_name;
						$scope.postModel.abiCategory = data.expenses.abi_category;
						$scope.postModel.abiSponsor = data.expenses.abi_sponsor;
						$scope.postModel.aeiAmount = data.aeiAmount;
						$scope.postModel.aeiRemarks = data.aeiRemarks;
						$scope.postModel.aeiImgUrl = data.aeiImgUrl;
						$scope.postModel.id = params.aeiId; // data.id;\
						$scope.postModel.ubiId = data.ubiId;
						$scope.postModel.auditContent = data.auditContent;
						$scope.postModel.auditStatus = data.auditStatus;
						if($scope.postModel.aeiImgUrl) {
							$scope.postModel.aeiImgUrl = $scope.postModel.aeiImgUrl.split(",");
						}
						//console.log(JSON.stringify(data) + "报销数据");
					});
				},
				function(error) {
					//TODO
				});
		}
		$scope.getexpense();
		//上传图片
		$scope.uploadFiles = function(files) {
				console.log('uploadFiles');
				if(files && files.length) {
					zn.showWaiting();
					for(var i = 0; i < files.length; i++) {
						Upload.upload({
							url: API_imgbaseurl + '/api/file/imgUploadFile',
							data: {
								image: files[i]
							}
						}).then(function(response) {
							if(response.data && response.data != '') {
								$scope.postModel.aeiImgUrl.push(response.data);
								console.log(response.data);
							}
							if(i == (files.length - 1)) {
								zn.hideWaiting();
							}
						}, function(resp) {
							console.log('Error status: ' + resp.status);
							if(i == (files.length - 1)) {
								zn.hideWaiting();
							}
						}, function(evt) {
							//console.log('progress:' + JSON.stringify(evt));
						});
					}
				}
			}
			//删除图片
		$scope.deleteImg = function(index) {
				$scope.postModel.aeiImgUrl.splice(index, 1);
			}
			//提交报销
		$scope.submitNews = function() {
				if($scope.postModel.aeiAmount <= 0) {
					showError("请正确填写金额");
					return;
				}
				if($scope.postModel.aeiImgUrl.length <= 0) {
					showError("请添加报销发票图");
					return;
				}
				if($scope.postModel.aeiImgUrl.length > 6) {
					showError("报销发最多6张");
					return;
				}
				if(!$scope.postModel.aeiRemarks) {
					showError("请填写报销说明");
					return;
				}
				if($scope.postModel.aeiRemarks.length > 255){
					showError("报销说明文字过长");
					return;
				}
				ajaxPost.call(
					$scope, $http,
					API_appserverurl + '/api/activityexpensesinfo/editData',
					$scope.postModel,
					'活动报销提交',
					function(data) {
						console.log("成功！");
						$scope.showSubmitSuccess();
					},
					function(error) {
						console.log("失败！" + error);
					});
			}
			//提交成功
		$scope.showSubmitSuccess = function() {
			var myPopup = $ionicPopup.show({
				title: '<div style="position: relative;"><i style="top:0; right: 0;" class="icon-common_prompt_cancel"></i><div>',
				template: '<div style="text-align: center;">提交成功<div>',
				scope: $scope,
				buttons: [{
					text: '<b>查看此报销</b>',
					type: 'button',
					onTap: function(e) {
						$scope.postModel = {
							aeiImgUrl: [],
							auditStatus: 0,
							aeiAmount: 0,
							amount: 0
						};
						$scope.openWindow('expense_info', {
							id: params.aeiId
						});
						myPopup.close();
					}
				}, {
					text: '<b>继续申请</b>',
					type: 'button-positive',
					onTap: function(e) {
						$scope.postModel = {
							aeiImgUrl: [],
							auditStatus: 0,
							aeiAmount: 0,
							amount: 0
						};
						$scope.openWindow('apply_expense', {});
						myPopup.close();
					}
				}]
			});
		}
	}
</script>