<ion-view hide-back-button="true" hide-nav-bar="true" id="home" title="首页">
	<div class="bar bar-header bar-balanced bar-icon-top">
        <div class="home_search_div" ng-if="model.isLoad" ng-click="openWindow('activity_search')">
			<form class="home-search-form">
				<input class="topbar_search" type="text" value="搜索活动" readonly="readonly" />
			</form>
		</div>
		<span  ng-if="showSearchBox" class="ui inverted header">首页</span>
		<a class="home-header-item topbar_message" ng-click="openWindow('my_message')">
			<i class="icon-topbar_message"></i>
      		<div class="topbar_message_count" ng-if="revicemessages > 0"><span ng-bind="revicemessages>9?'..':revicemessages" style="margin-left: 4px;"></span></div>
		</a>
    </div>
	<ion-content lazy-scroll overflow-scroll="false" has-bouncing="true" class="no-header"
		on-scroll="onScroll($event)" scroll-event-interval="200">
		<ion-refresher pulling-text="下拉刷新" on-refresh="pulldownRefresher()"></ion-refresher>
		<div ng-repeat="$$value$$ in microPage.list" ng-style="{'padding': ($$value$$.option.padding||0)+'px 0', 'padding-bottom': '0', 'background-color': microPage.page.option.backColor}" class="">
			<div ng-include="'templates/plus/'+$$value$$.type + '.html'"></div>
		</div>
		<ion-infinite-scroll ng-if="model.isMore" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>