<div class="bar bar-header item-input-inset">
    <!--<button class="button icon-left ion-ios-search-strong button-clear button-small" ng-click="search(searchName)">-->
    <!--</button>-->
    <label class="item-input-wrapper">
        <i class="icon  ion-ios-search-strong placeholder-icon"></i>
        <input type="search" placeholder="搜索户外教育课程" ng-model="searchName" ng-change="search(searchName)">
    </label>

    <button>消息按钮</button>

</div>


  <div class = "home_header_slider">

	<ion-slide-box >
	  <ion-slide>
	    <div class="slide_item"><h1>BLUE</h1></div>
	  </ion-slide>
	  <ion-slide>
	    <div class="slide_item"><h1>YELLOW</h1></div>
	  </ion-slide>
	  <ion-slide on-slide-changed="slideHasChanged(index)">
	    <div class="slide_item"><h1>PINK</h1></div>
	  </ion-slide>
	</ion-slide-box>

  </div>	



<!-- 按钮 -->


<div class = "home_center_icon">

	<button class = "home_center_button"><img src="#"><hr/>师资培训</button>
	<button class = "home_center_button"><img src="#"><hr/>赛事</button>
	<button class = "home_center_button"><img src="#"><hr/>研学旅游</button>
	<button class = "home_center_button"><img src="#"><hr/>学习基地</button>

</div>

<div class = "home_center_double_div">
	<button class = "home_center_double_div_button">2016特警训练专辑</button>
	<button class = "home_center_double_div_button">户外知识普及</button>
</div>


<div class = "home_list_head_div"> 
	<span class = "home_list_head_left">推荐好课</span> <div class = "home_list_head_right_div"><button>全部课程</button><img src="#"></div>
</div>

<div class = "home_list">
	<ion-list >

	  <ion-item>

	  	<img class = "home_list_item_img" ng-src="hhttp://pic6.huitu.com/res/20130116/84481_20130116142820494200_1.jpg"> 

	  	<div class = "home_list_item_right_div">

			<h2>亲子沟通秘籍</h2>
		  	<span>北京</span><span>|</span><span>中国户外教育基地</span>
		  	<h2>12万人学过</h2>
			<span>开课时间:</span><span>8/12</span> <span>免费</span>
			
	  	</div>

	  </ion-item>
	</ion-list>
</div>






