<ion-view hide-back-button="false" id="honor_list">
	<ion-nav-title align-title="center">
		<span class="ui inverted header">荣誉</span>
	</ion-nav-title>
	<div class="tabs tabs-default tabs-top">
		<a ng-repeat="item in model.statusList" ng-click="selectByStatus($index)" class="tab-item {{item.cls}}" >
	    	{{item.label}}
	  	</a>
	</div>
	<ion-content lazy-scroll overflow-scroll="false" has-bouncing="true">
		<ion-refresher pulling-text="下拉刷新" on-refresh="pulldownRefresher()"></ion-refresher>
		<ion-list  show-delete="shouldShowDelete">
        	<ion-item ng-repeat="item in model.honorList" ng-init="item.abiStartTime=item.uhiDateStart;item.abiEndTime=item.uhiDateEnd">
        		<h2 ng-click="clickLook(item.id)"><a href="javascript:void(0)">{{item.uhiName}}</a></h2>
		    	<p ng-if="item.uhiLabel_model.sdiName == '校内职务'">起止时间：<a href="javascript:void(0)">{{item | dateregion}}</a></p>
		    	<p ng-if="item.uhiLabel_model.sdiName == '证书' || item.uhiLabel_model.sdiName == '奖励'">获取时间：<a href="javascript:void(0)">{{item.uhiDateStart | formatDate}}</a></p>
	    		<ion-option-button ng-if="model.selectStatus == 1" class="button-assertive" ng-click="cancelRelaase(item.id)">
	      			取消发布
	    		</ion-option-button>
	        </ion-item>
      	</ion-list>
	  	<div class="nodata_textdiv" ng-if="model.hasData==0">
	       	童鞋，你还木有该类信息哟~~！
	    </div>
	  	<ion-infinite-scroll ng-if="model.isMore" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>
<script type="text/javascript">
	function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {
		$scope.model = {
			limit: 5,
			page: 1,
			hasData: 1,
			honorList: [],
			selectStatus: 0,
			isMore: false,
			statusList: [{
				label: '待审核',
				cls: 'active'
			}, {
				label: '未通过',
				cls: ''
			}, {
				label: '已通过',
				cls: ''
			}]
		}
		//状态切换
		$scope.selectByStatus = function(index) {
			angular.forEach($scope.model.statusList, function function_name(item, key) {
				item.cls = '';
			});
			$scope.model.statusList[index].cls = 'active';
			$scope.model.selectStatus = index;
			$scope.model.page = 1;			
			$scope.getHonorData();
			$scope.$parent.scrollTop();
		}
		//获取荣誉列表
		$scope.getHonorData = function() {
			ajaxPost.call(
				$scope, $http,
				API_appserverurl + '/api/userhonorinfo/getHonorList', {
					//uuiId: uuiId,
					limit: $scope.model.limit,
					offset: ($scope.model.page - 1) * $scope.model.limit,
					status: $scope.model.selectStatus
				},
				'获取荣誉列表',
				function(data) {
					$timeout(function() {
						$timeout(function() {
							console.log(JSON.stringify(data) + "荣誉列表")
							console.log(data.totalCnt + "----------" + $scope.model.page * $scope.model.limit + "-----" + $scope.model.isMore);
							if (data && data.queryData && data.queryData.length > 0) {
								if ($scope.model.page == 1)
									$scope.model.honorList = [];
								angular.forEach(data.queryData, function(value, key) {
									$scope.model.honorList.push(value);
								});
								if(data.totalCnt > ($scope.model.page * $scope.model.limit)) {
									$scope.model.isMore = true;
								} else {
									$scope.model.isMore = false;
								}
								$scope.model.hasData = 1;
							} else {
								if ($scope.model.page == 1){
									$scope.model.honorList = [];
									$scope.model.hasData = 0;
								}
								$scope.model.isMore = false;
							}
						});
					});
				},
				function(error) {
					//TODO
				});
		}
		$scope.getHonorData();
		//下拉刷新
		$scope.pulldownRefresher = function() {
			$scope.model.page = 1;
			$scope.getHonorData();
			$scope.$broadcast('scroll.refreshComplete');
		};
		//上拉加载更多
		$scope.loadMore = function () {
			$scope.getHonorData($scope.model.page++);
			$scope.$broadcast('scroll.infiniteScrollComplete');
		}
		//点击查看
		$scope.clickLook = function(id) {
			console.log("id..........." + id);
			if ($scope.model.selectStatus == 2) {
				$scope.openWindow('honor_detail', {
					id: id
				});
			} else if($scope.model.selectStatus == 0 || $scope.model.selectStatus == 1){
				$scope.openWindow('honor_release', {
					id: id
				});
			}
		}
		//取消发布
		$scope.cancelRelaase = function(id) {
			var confirmPopup = $ionicPopup.confirm({
		        title: '删除',
		        template: '确定取消发布你的的荣誉？',
		        buttons: [{text: "取消"}, {
		          	text: '<b>确定</b>',
		          	type: 'button-positive',
		          	onTap: function (e) {
			            ajaxPost.call(
							$scope, $http,
							API_appserverurl + '/api/userhonorinfo/hideData', {
								id: id,
							},
							'取消发布新闻稿',
							function(data) {
								$scope.model.page = 1;
								$scope.getHonorData();
								showSuccess("取消发布成功");
							},
							function(error) {
								//TODO
							});
			            confirmPopup.close();
			            e.preventDefault();
		          }
		        }]
		    });
		}
	}
</script>
