



<div class = "login-input-background-out-div common-background">

	<div  class = "login-input-background-div common-background">

		<label class="item item-input common-top-radius">
          <span class="input-label">用户名：</span>
          <input type="text">
        </label>

        <div  class = "common-line"></div>

        <label class="item item-input common-bottom-radius">
          <span class="input-label">密&nbsp;&nbsp;&nbsp;&nbsp;码：</span>
          <input type="password">
        </label>

	</div>

	<button class = "green-button-style">登录</button>

	<div class = "common-background login-notice-div"><div class = "common-background common-float-left-style"><button>忘记密码</button></div> <div class = "common-background common-float-right-style"><button>注册新账号</button></div></div>

</div>
