<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="white">
		<title>消息</title>

		<!--Public Style-->
		<link href="styles/lib.css" rel="stylesheet" />
		<!--Public Style End-->

		<!--Style-->
		<link href="styles/app.css" rel="stylesheet" />
		<!--Style End-->

		<!--Public Script-->
		<script src="js/lib.min.js"></script>
		<script src="js/build.min.js"></script>

	</head>

	<body ng-app="znApp" animation="slide-left-right-ios7" ng-controller="rootCtrl" id="rootCtrl">
	    <ion-nav-bar class="bar-balanced">
	      <ion-nav-back-button>
	      </ion-nav-back-button>
	    </ion-nav-bar>
	    <!--
	      The views will be rendered in the <ion-nav-view> directive below
	      Templates are in the /templates folder (but you could also
	      have templates inline in this html file if you'd like).
	    -->
	 
	</body>
</html>
