<ion-view hide-back-button="true" hide-nav-bar="true" class="mine">
	<div class="bar bar-header item-input-inset">
		<h1 class="title">个人中心</h1>
	</div>
	<ion-content lazy-scroll overflow-scroll="false" has-bouncing="true" class="no-header" on-scroll="onScroll($event)" scroll-event-interval="200">
		<ion-refresher pulling-text="下拉刷新" on-refresh="pulldownRefresher()"></ion-refresher>
		<div class="list">
			<a class="item item-avatar" href="#/my_info">
	          	<img src="http://pic6.huitu.com/res/20130116/84481_20130116142820494200_1.jpg">
	          	<h2>Venkman</h2>
	          	<p>13066825363</p>
	          	<i class="icon icon-right"></i>
	        </a>
		</div>
		<div class="list left-space-list" >
			<a class="item item-icon-left item-icon-right" href="#/my_join">
	          	<i class="icon icon-course"></i>
	          	我参加的课程
	          	<i class="icon icon-right"></i>
	        </a>
			<!-- <a class="item item-icon-left item-icon-right" href="#/my_activity">
				<i class="icon icon-cert-solid"></i>
				申请认证
				<i class="icon icon-right"></i>
			</a> -->
			<a class="item item-icon-left item-icon-right" href="#/my_collection">
				<i class="icon icon-collect"></i>
				我的收藏
				<i class="icon icon-right"></i>
			</a>
		</div>
		<div class="list left-space-list">
			<a class="item item-icon-left item-icon-right" href="#/my_modify_pwd">
				<i class="icon icon-pwd"></i>
				修改密码
				<i class="icon icon-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" href="#/my_about">
				<i class="icon icon-about"></i>
				关于我们
				<i class="icon icon-right"></i>
			</a>
			<!-- <a class="item item-icon-left item-icon-right" href="#/my_activity">
				<i class="icon icon-help"></i>
				帮助中心
				<i class="icon icon-right"></i>
			</a> -->
			<a class="item item-icon-left item-icon-right" href="#/my_feedback">
				<i class="icon icon-"></i>
				意见反馈
				<i class="icon icon-right"></i>
			</a>
			<a class="item item-icon-left item-icon-right" href="#/login">
				<i class="icon icon-"></i>
				登录
				<i class="icon icon-right"></i>
			</a>
		</div>
	</ion-content>
</ion-view>
