
<div ng-include="src='templates/pages/common_nav.html'"></div>

<div  >
	<ion-list >

	  <ion-item class = "personal-course-item-div">

	  	

	  	<div class = "personal-course-top-div">
	  		<div class = "common-float-left-style">
	  			<span>开课时间</span>
	  			<span>10/12</span>
	  		</div> 
	  		<div class = "common-float-right-style">
	  			<span>已报名</span>
	  		</div> 
	  	</div>

	  	<div class = "personal-common-line"></div>

	  	<div class = "personal-course-center-div">

	  		<div class = "common-float-left-style">

	  			<img class = "mine-img-div" ng-src="http://pic6.huitu.com/res/20130116/84481_20130116142820494200_1.jpg"> 
	  		</div>

	  		<div class = "personal-course-center-right-div">
	  			
		  		<div class = "personal-course-center-right-top-div">	
		  			<h3>亚布力滑雪</h3>

		  			<span class = "personal-collection-item-darktext">深圳</span>
		  			<span class = "personal-collection-item-darktext">南澳基地</span>

		  			<h4 class = "personal-collection-item-darktext">1.2W人学过</h4>
		  		</div>

	  			<div class = "personal-course-center-right-bottom-div">
	  				<span class = "common-float-right-style">￥0.00</span>
	  			</div>

	  		</div>
	  	</div>
		
		<div class = "personal-common-line"></div>
		<div class = "personal-course-bottom-div"><button class = "personal-course-bottom-button">评论</button></div>

	  </ion-item>
	</ion-list>
</div>