<div ng-include="src='templates/pages/common_nav.html'"></div>



<div>

	<div  class = "personal-givemarks-top-div">

		<img class = "mine-img-div" ng-src="http://pic6.huitu.com/res/20130116/84481_20130116142820494200_1.jpg"> 

		<div class = "common-float-left-style">

			<h4>滑雪滑雪滑雪</h4>

			<div class="rating">
					<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
			</div>

		</div>
	</div>


	<div class = "personal-givemarks-bottom-div">

		<span>课程服务</span> <span class = "common-float-right-style">满意请给5星哦</span>
	</div>

	<div class = "personal-givemarks-margin-line"></div>


	<div class = "personal-givemarks-bottom-div">
		<div class = "common-float-left-style">
				<span>户外教育基地</span>
		</div>
		<div class = "common-float-right-style">

			<div class="rating">
				<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
			</div>
		</div>


	</div>

	<div class = "personal-givemarks-bottom-div">

		<div class = "common-float-left-style">
				<span>户外教育基地</span>
		</div>
		<div class = "common-float-right-style">

			<div class="rating">
				<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
			</div>
		</div>

	</div>


	<div class = "common-background">

		<div class = "common-20px-line"></div>

		<textarea placeholder = "写下您的体验跟感受来帮助其他小伙伴" class = "textarea-style">

		</textarea>

		<button class = "green-button-style">提交评论</button>

	</div>

	
</div>	