<div ng-include="src='templates/pages/common_nav.html'"></div>


<div  class = "personal-collection-div">
	<ion-list >

	  <ion-item class = "personal-collection-item">

	  	<img class = "mine-img-div" ng-src="http://pic6.huitu.com/res/20130116/84481_20130116142820494200_1.jpg"> 

	  	<div class = "personal-collection-item-right-div">


	  		<div class = "personal-collection-item-right-inner-div">

				<h3>帆船基本知识</h3>

				<div class = "common-float-left-style">
					<span class = "personal-collection-item-darktext">深圳</span>
					<span class = "personal-collection-item-darktext">南澳基地</span>
				</div>
				<div class = "common-float-right-style">
					<span class = "personal-collection-item-darkrighttext">1.2W学过</span>
				</div>
	  		</div>

	  	 	<div class = "personal-collection-item-bottom-div">

		  		<div class = "common-float-left-style"><span>开课时间</span><span>10/19</span></div>

		  		<div class = "common-float-right-style"><span>￥12.00</span></div>
	  		</div>	


	  	</div>

	

	  </ion-item>
	</ion-list>
</div>
