<div ng-include="src='templates/pages/common_nav.html'"></div>


<div  class = "personal-collection-div">
	<ion-list >

	  <ion-item class = "personal-collection-item">

	  	<img class = "personal-collection-item-img" ng-src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1486975048&di=3d2ee307469e4036853e853d41f8a569&src=http://img4.duitang.com/uploads/item/201412/16/20141216195606_UJdB3.thumb.700_0.jpeg"> 

	  	<div class = "common-float-left-style">


	  		<div class = "personal-collection-item-right-div">

				<h3>帆船基本知识</h3>

				<div class = "common-float-left-style">
					<span class = "personal-collection-item-darktext">深圳</span>
					<span class = "personal-collection-item-darktext">南澳基地</span>
				</div>
				<div class = "common-float-right-style">
					<span class = "personal-collection-item-darkrighttext">1.2W学过</span>
				</div>
	  		</div>

	  	 	<div class = "personal-collection-item-bottom-div">

		  		<div class = "common-float-left-style"><span>开课时间</span><span>10/19</span></div>

		  		<div class = "common-float-right-style"><span>￥12.00</span></div>
	  		</div>	


	  	</div>

	

	  </ion-item>
	</ion-list>
</div>
