<style>
 	.bar{
 		border-bottom:0px;
 	}
	.bar-subheader {
		top: 44px;
		display: block;
		height: 44px;
		text-align: center;
		background-color: #39d0e7;
		color: #fff;
		height: 12px;
		font-size: 6px;
		line-height: 12px;
		position: absolute;
		padding: 0;
		top: 31px;
	}
</style>
<ion-view hide-back-button="false" id="my_activity">
	<ion-nav-title align-title="center">
		<div ng-click="openMyModel()">
			<span class="ui inverted header" style="margin-top: 5px;display: block;">
				我的活动
				<div class="platform-ios bar bar-subheader" style="line-height: 14px;top: 25px;background-image: none;font-size: 8px;">
					<span style="color: #CCF8FF;">{{title}}</span>
					<span class="icon-topbar_arrow_down" ng-if="!showHonorModal"></span>
					<span class="icon-topbar_arrow_up" ng-if="showHonorModal"></span>
				</div>
			</span>
		</div>
	</ion-nav-title>
	
	<div id="honorModal" ng-if="showHonorModal" class="list">
		<div class="item select" ng-click="chooseActivity('我创建的活动')">
			<span>我创建的活动</span>
		</div>
		<div class="item select" ng-click="chooseActivity('我报名的活动')">
			<span>我报名的活动</span>
		</div>
		<div class="item select" ng-click="chooseActivity('我组织的活动')">
			<span>我组织的活动</span>
		</div>
		<div class="opacity" ng-click="chooseActivity('')"></div>
	</div>
	
	<!--创建活动的选择栏-->
	<div class="tabs tabs-default tabs-top" ng-if="type == 0" style="position:relative">
		<a ng-repeat="item in createList" ng-click="selectByCreateStatus($index)" class="tab-item {{item.cls}}">
			{{item.label}}
			<span class="icon-topbar_arrow_down" ng-if="$last && !showOpenModal"></span>
			<span class="icon-topbar_arrow_up" ng-if="$last && showOpenModal"></span>
		</a>
	</div>
	
	<div id="showOpenModal" ng-if="showOpenModal" class="list status" style="height: 100%;text-align: center;">
		<div class="item select" ng-click="chooseCreateActivity('未开始')">
			<span>未开始</span>
		</div>
		<div class="item select" ng-click="chooseCreateActivity('进行中')">
			<span>进行中</span>
		</div>
		<div class="item select" ng-click="chooseCreateActivity('已结束')">
			<span>已结束</span>
		</div>
		<div class="opacity" ng-click="chooseCreateActivity('')"></div>
	</div>
	
	<!--其他活动的选择栏-->
	<div class="tabs tabs-default tabs-top" ng-if="type != 0">
		<a ng-repeat="item in statusList" ng-click="selectByStatus($index)" class="tab-item {{item.cls}}">{{item.label}}</a>
	</div>
	
	<ion-content lazy-scroll overflow-scroll="false" has-bouncing="true" class="has-header">
		
		<ion-refresher pulling-text="下拉刷新" on-refresh="pulldownRefresh_()"></ion-refresher>
		
	    <div class="nodata_textdiv" ng-if="hasData==0">
	    	  <div ng-if="type==0">童鞋，你还没有创建活动哟~</div>
	    	  <div ng-if="type==1">童鞋，你还没有报名活动哟~</div>
	    	  <div ng-if="type==2">童鞋，你还没有参与活动哟~</div>
	    </div>
	    
		<div class="list" style="margin-top: 10px;padding-bottom: 0px;">
			<div ng-repeat="model in modelList" style="margin-bottom: 10px;">
				<div style="background-color: white;position: relative;" ng-click="toDetails(model)">
					<!--<div class="micropage-activity-image" image-lazy-src="{{model.imgUrl | formatDbImgUrl}}" image-lazy-background-image="true" style="background-repeat: no-repeat;background-size: 100%,auto;margin: 10px 10px;">
						<div class="icon-activity_ing" ng-if="status==3 && type==0"><span class="icon-activity_ing2" style="font-size: 45px"><span class="path1"></span><span class="path2"></span></span></div>
					</div>-->
					<div style="padding: 10px;padding-bottom: 0px;min-height: 120px;">
						<img style="width: 100%;min-height: 50px;height: auto;" 
						onerror="javascript:this.src='./img/my_list_default.png';" 
						image-lazy-src="{{model.imgUrl | formatDbImgUrl}}" 
						image-lazy-distance-from-bottom-to-load="100"
						/>
						<!--进行中-->
						<div class="icon-activity_ing" ng-if="status==3 && type==0" style="position: absolute;top: 0;"><span class="icon-activity_ing2" style="font-size: 45px"><span class="path1"></span><span class="path2"></span></span></div>
					</div>
					<!--<div class="signup" style="margin-right: 10px">
						<span class="abiEnrollmentNum ng-binding">{{model.abiEnrollmentNum || 0}} /</span>
						<span class="ng-binding">{{model.limitSignNum}}</span> 报名
					</div>-->
					<div style="padding-bottom: 0.3rem;padding-left: 10px;">
						<h3 style="padding: 10px 0 0 0;font-size: 16px;" class="ng-binding">{{model.abiName}}</h3>
						<div style="margin-bottom: 10px;">
							<span class="ng-binding">
			                	<span class="icon-home_add" style="color: #22B5FF;margin-right: 5px;"></span> 
			                	<span class="address">活动地点：{{model.abiGpsPlace}}</span>
							</span>
						</div>
						<div class="">
							<span class="ng-binding">
			               		<span class="icon-home_activity_del_time" style="color: #BD18FD;margin-right: 5px;"></span>
			               		<span class="address">活动时间：{{model.abiTime | dateregion}}</span>
							</span>
						</div>
					</div>
				</div>
				<!--我创建活动的状态 start-->
				<!--待审核-->
				<div class="comment border-top border-bottom" ng-if="status==0 && type==0" ng-click="toDetails(model)">
					<span class="icon-my_activity_look commentIcon"></span>
					<span class="title">点击查看</span>
				</div>
				<!--未通过-->
				<div class="comment border-top border-bottom" ng-if="status==1 && type==0 && model.abiStatus != 6"  ng-click="cancelActivity(model.id,model.abiName)" style="color:#ff4e64;">
					<span class="icon-my_activity_cancel commentIcon"></span>
					<span class="title">取消活动</span>
				</div>
				<div class="comment border-top border-bottom" ng-if="model.abiStatus == 6">
					<span class="title">活动已取消</span>
				</div>
				<!--已结束  有报销-->
				<div class="comment border-top border-bottom" ng-if="status==4 && type==0 && model.haveExpenses==1" style="height: 50px;">
					<div class="end" ng-click="addExpense(model.id,model.abiName)" style="border-right: 1px solid #DDDDDD;">
						<span class="icon-my_activity_wiped commentIcon"></span>
						<span class="title">申请报销</span>
					</div>
					<div class="end" ng-click="addNews(model.id,model.abiName)">
						<span class="icon-my_activity_news commentIcon"></span>
						<span class="title">发布新闻稿</span>
					</div>
				</div>
				<!--已结束  没有报销-->
				<div class="comment border-top border-bottom" ng-if="status==4 && type==0 && model.haveExpenses==0" ng-click="addNews(model.id,model.abiName)">
					<span class="icon-my_activity_news commentIcon"></span>
					<span class="title">发布新闻稿</span>
				</div>
				<!--我创建活动的状态 end-->
				
				<!--我报名活动的状态 start-->
				<!--未开始-->
				<div class="comment border-top border-bottom" ng-if="status==0 && type==1 && model.abiStatus != 6"  ng-click="cancelApply(model.id,model.abiName)" style="color:#ff4e64;">
					<span class="icon-my_activity_cancel commentIcon"></span>
					<span class="title">取消报名</span>
				</div>
				<!--已结束-->
				<div class="comment border-top border-bottom" ng-if="status==2 && type==1 || status==2 && type==2"  ng-click="commentActivity(model.id)">
					<span class="icon-Rectangle584 commentIcon"></span>
					<span class="title">评论</span>
				</div>
				<!--我报名活动的状态 end-->
				
				<!--我参与活动的状态 start-->
				<!--未开始-->
				<div class="comment border-top border-bottom" ng-if="status==0 && type==2 && model.abiStatus != 6"  ng-click="cancelJoin(model.id,model.abiName)" style="color:#ff4e64;">
					<span class="icon-my_activity_cancel commentIcon"></span>
					<span class="title">取消参与</span>
				</div>
				<!--我参与活动的状态 end-->
			</div>
			
		</div>
		
		<ion-infinite-scroll immediate-check="false" ng-if="moredata" on-infinite="pullupRefresh_()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>
<script type="text/javascript">

	var offset = 0;
	var limit = 10;
	var cancelJoin = null;
	var cancelApply = null;
	var cancelActivity = null;
	
	function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {
		
		$scope.title = "我创建的活动";
		$scope.type = 0;//活动类型
		$scope.status = 0;//活动状态
		$scope.hasData = 1;
		$scope.modelList =  [];
		
		$scope.statusList = [{
			label: '未开始',
			cls: 'active'
		}, {
			label: '进行中',
			cls: ''
		}, {
			label: '已结束',
			cls: ''
		}];
		
		$scope.createList = [{
			label: '待审核',
			cls: 'active'
		}, {
			label: '未通过',
			cls: ''
		}, {
			label: '已通过',
			cls: ''
		}];
		
		//下拉刷新
		$scope.pulldownRefresh_ = function() {
			$scope.init(1, 0);
			$scope.$broadcast('scroll.refreshComplete');
		}
		
		//上拉加载更多
		$scope.pullupRefresh_ = function() {
			$scope.moredata = false;
			if(offset!=0){
				$scope.init(2,offset);	
			}
			$scope.$broadcast('scroll.infiniteScrollComplete');
		}
		
		//到活动详情
		$scope.toDetails = function(activity){
			if($scope.type ==0 &&(activity.abiStatus==0 || activity.abiStatus==5)){//待审核，未开始,审核不通过
				$scope.openWindow("edit_activity",{abiId:activity.id})	
			}else{
				$scope.openWindow("activity_details",{id:activity.id})
			}
		}
		
		//取消活动
		$scope.cancelActivity = function(activityId,activityName){
			cancelActivity = $ionicPopup.show({
				title: '',
				template: '确认取消活动 '+activityName+' ？',
				scope: $scope,
				buttons: [{
					text: '取消 ',
					type: 'button',
					onTap: function(e) {
						cancelActivity.close();		
					}
				}, {
					text: '确认',
					type: 'button-positive',
					onTap: function(e) {
						ajaxPost.call($scope,$http,API_appserverurl + "/api/activitybaseinfo/cancelActivity",{
							id:activityId
						},"取消活动",function(ret){
							cancelActivity.close();
							$scope.init(0,0);
						});
					}
				}]
			});
		}
		
		//发布新闻稿
		$scope.addNews = function(activityId,activityName){
			$scope.openWindow('news_release',{
				id:"",
				abiId:activityId,
				abiName:activityName
			})
		}
		
		//申请报销
		$scope.addExpense = function(activityId,activityName){
			$scope.openWindow('apply_expense',{
				abiId:activityId,
			})
		}
		
		//取消报名
		$scope.cancelApply = function(activityId,activityName){
			cancelApply = $ionicPopup.show({
				title: '',
				template: '确认取消报名 '+activityName+' ？',
				scope: $scope,
				buttons: [{
					text: '取消 ',
					type: 'button',
					onTap: function(e) {
						cancelApply.close();		
					}
				}, {
					text: '确认',
					type: 'button-positive',
					onTap: function(e) {
						ajaxPost.call($scope,$http,API_appserverurl + "/api/activitycheckinfo/cancelCheck",{
							abiId:activityId
						},"取消报名",function(ret){
							cancelApply.close();
							$scope.init(0,0);
						});
					}
				}]
			});
		}
		
		//活动评论
		$scope.commentActivity =function(activityId){
			$scope.openWindow('comment_activity',{
				id:activityId
			})
		}
		
		//取消参与的活动
		$scope.cancelJoin = function(activityId,activityName){
			cancelJoin = $ionicPopup.show({
				title: '',
				template: '确认取消参与 '+activityName+' ？',
				scope: $scope,
				buttons: [{
					text: '取消 ',
					type: 'button',
					onTap: function(e) {
						cancelJoin.close();		
					}
				}, {
					text: '确认',
					type: 'button-positive',
					onTap: function(e) {
						ajaxPost.call($scope,$http,API_appserverurl + "/api/activitybaseinfo/cancelJoin",{
							abiId:activityId
						},"取消参与",function(ret){
							cancelJoin.close();		
							$scope.init(0,0);
						});					
					}
				}]
			});
		}
		
		//关闭取消活动弹出框
		$scope.closeHonorPopup = function() {
			cancelJoin.close();
			cancelApply.close();
			cancelActivity.close();
		}	
	
		//关闭 创建title选择
		$scope.chooseCreateActivity = function(title) {
			if(title !=""){
				$scope.createList[2].label = title;
				switch(title){
					case "未开始":
					$scope.status = 2;
						break;
					case "进行中":
					$scope.status = 3;
						break;
					case "已结束":
					$scope.status = 4;
						break;
						
				}
			}
			
			console.log("活动状态"+JSON.stringify($scope.status))
			console.log("活动类型"+JSON.stringify($scope.type))
			
			$scope.init(0,0);
			
			$scope.showOpenModal = false;
		}
		
		//关闭 title选择
		$scope.chooseActivity = function(title) {
			if(title !=""){
				$scope.title = title;
				switch(title){
					case "我创建的活动":
						$scope.type = 0;
						break;
					case "我报名的活动":
						$scope.type = 1;
						break;
					case "我组织的活动":
						$scope.type = 2;
						break;
				}
				$scope.status = 0;
				angular.forEach($scope.statusList, function function_name(item, key) {
					item.cls = '';
				});
				
				$scope.statusList[0].cls = 'active';
				
				angular.forEach($scope.createList, function function_name(item, key) {
					item.cls = '';
				});
				
				$scope.createList[0].cls = 'active';
				
				console.log("活动状态"+JSON.stringify($scope.status))
				console.log("活动类型"+JSON.stringify($scope.type))
				
				$scope.init(0,0);
			}
			$scope.showHonorModal = false;
		}
		
		//切换 其他 状态栏
		$scope.selectByStatus = function(index) {
			$scope.status = index;
			$scope.scrollTop();
			console.log("活动状态"+JSON.stringify($scope.status))
			console.log("活动类型"+JSON.stringify($scope.type))
			
			angular.forEach($scope.statusList, function function_name(item, key) {
				item.cls = '';
			});
			
			$scope.statusList[index].cls = 'active';
			
			$scope.init(0,0);
		}
		
		//切换 创建活动 状态栏
		$scope.selectByCreateStatus = function(index) {
			$scope.scrollTop();
			if(index<2){
				$scope.showOpenModal = false;
				$scope.status = index;
				
				angular.forEach($scope.createList, function function_name(item, key) {
					item.cls = '';
				});
				
				$scope.createList[index].cls = 'active';
				
				console.log("活动状态"+JSON.stringify($scope.status))
				console.log("活动类型"+JSON.stringify($scope.type))
				
				$scope.init(0,0);
			}else{
				angular.forEach($scope.createList, function function_name(item, key) {
					item.cls = '';
				});
				
				$scope.createList[2].cls = 'active';
				$scope.openModel();
			}
			
		}
		
		//打开 创建活动 未开始
		$scope.openModel = function () {
			$scope.showHonorModal= false;
		    $scope.showOpenModal = !$scope.showOpenModal;
		}
		
		//打开 其他活动 
		$scope.openMyModel = function () {
			$scope.showOpenModal = false;
			$scope.showHonorModal = !$scope.showHonorModal;
//		    $scope.openHonorModal();
		}
		
		/**
		* 初始化 获取 我的活动数据
		* type 0:初始化 1:下拉刷新 2：上拉加载
		*/
		$scope.init = function(type,skip){
			
			var data ={
				type:$scope.type,
				status:$scope.status
			};
			
			switch (type){
				case 0:
				case 1:
					$scope.modelList =[];
					$scope.moredata = true;
					offset = 0;
					$.extend(data,{limit:limit,skip:0});
					break;
				case 2:
					$.extend(data,{limit:limit,skip:skip});
					break;
			}
			
			console.log("参数："+JSON.stringify(data));
			ajaxPost.call($scope,$http,API_appserverurl + "/api/activitybaseinfo/getMyActivity",data,"获取活动",function(ret){
//				console.log("活动："+JSON.stringify(ret));
				if(ret.length==0){
					if($scope.modelList.length==0)
						$scope.hasData = 0;
					$scope.moredata = false;
				}else{
					offset += ret.length;
					$scope.modelList = $scope.modelList.concat(ret);
					$scope.hasData = 1;	
					$scope.moredata = true;
				}
			});
		}
		
		
		$scope.getMyActivity = function(){
			ajaxPost.call($scope,$http,API_appserverurl + "/api/activitybaseinfo/selectMyCreate",{},"获取我创建活动",function(ret){
//				console.log("初始化"+JSON.stringify(ret));
				if(ret==0){//没有创建活动
				 	$scope.type=1;
				 	$scope.title = "我报名的活动";
				}
				$scope.init(0,0);				
			});
		}
		
		
		$scope.getMyActivity();
	}
</script>