<ion-view hide-back-button="false" id="my_comment_info">
	<ion-nav-title align-title="center">
		<span class="ui inverted header">我的评论</span>
	</ion-nav-title>
	<ion-content overflow-scroll="false" has-bouncing="true" ng-controller="pageCtrl">
		<div class="list" style="top:0px;">
			<a class="item item-avatar" href="#">
				<img src="http://imgsrc.baidu.com/forum/w%3D580/sign=234e48bda964034f0fcdc20e9fc27980/79c28e94a4c27d1ebaaebda419d5ad6edfc438c7.jpg">
				<h2>李晨孟<span class="icon ion-chatbubble-working item-note"> 回复</span></h2>
				<p>2016-02-03</p>
			</a>
			<div class="item-text-wrap" style="">表现不错，看好你哦，加油！表现不错，看好你哦，加油！表现不错，看好你哦，加油看好你哦，加油！表现不错，看好你哦，加油看好你哦，加油！表现不错，看好你哦，加油看好你哦，加油！表现不错，看好你哦，加油！</div>
			<a class="item item-thumbnail-left" style="border-bottom: 0;" href="#">
				<img src="http://img1.imgtn.bdimg.com/it/u=96347927,1537669970&fm=21&gp=0.jpg">
				<h2>2016届设计艺术学院毕业设计展览</h2>
				<p><span class="step size-16">
      				<i class="icon ion-android-pin"></i>
    				</span> 活动地点：设计艺术学院主楼5F 308-314
				</p>
				<p><span class="step size-16"><i class="icon ion-android-time"></i></span>2016.05.15-2016.06-23</p>
			</a>
		</div>
		<div class="list">
			<p class="item" style="border-bottom: 0;">
				回复：
			</p>
			<textarea class="item-text-wrap"></textarea>
		</div>
	</ion-content>
</ion-view>