<ion-view hide-back-button="true" hide-nav-bar="true" id="my_feedback" class="my_feedback">
	<div class="bar bar-header item-input-inset">
		<h1 class="title">意见反馈</h1>
		<div class="return">
			<i class="icon-return" ng-click="goBack()"></i>
		</div>
	</div>
	<ion-content lazy-scroll overflow-scroll="false" has-bouncing="true" class="no-header" on-scroll="onScroll($event)" scroll-event-interval="200">
		<div class="list">
		 	<label class="item item-input">
		    	<textarea placeholder="有什么想说的，尽管来吐槽吧~"></textarea>
		  	</label>
		</div>
		<div class="confirm-submit">
			<button class="button button-block button-balanced">确认提交</button>
		</div>
	</ion-content>
</ion-view>
