<div class="login-input-background-out-div common-background">
	<div class="register-input-background-div common-background">
		<label class="item item-input peronal-modifyemail-inputdiv common-top-radius">
	      	<input type="text" placeholder= "手机号">
	      	<span class="close"></span>
	    </label>
		<div class="common-line"></div>
		<label class="item item-input">
	      	<input type="text" placeholder= "验证码">
	      	<div class = "register-code-div">
		        <span>|</span><span>获取验证码</span>
	      	</div>  
    	</label>
		<div class="common-line"></div>
		<label class="item item-input peronal-modifyemail-inputdiv common-bottom-radius">
      		<input type="text" placeholder= "新密码">
    	</label>
	</div>
	<!--   <div class = "register-notice-div common-background"><span>注册代表您已同意</span> <span class = "other-text-color">注册协议</span></div>
 -->
	<button class="green-button-style">重置密码</button>

</div>