<ion-view id="my_setting_base">
  <ion-nav-title align-title="center"><span class="ui inverted header">基本设置</span></ion-nav-title>
  <ion-content overflow-scroll="false" has-bouncing="true" class="has-header" style="background-color: #f8f8f8;">
    <div class="list" style="margin-top: 10px;" ng-if="model">

      <div class="item item-input item-toggle" style="height: 50px;">
        听筒模式
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="model.base_autoReceiver" ng-change="messageChange(1)">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-input item-toggle" style="height: 50px;">
        自动更新定位
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="model.base_autoLocation" ng-change="messageChange(2)">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>
    <div class="list">

      <a class="item item-input" style="height: 50px;" ng-href="" ng-click="clearCacheData()">
        清除缓存数据
      </a>

    </div>
  </ion-content>
</ion-view>
<script type="text/javascript">
  function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {

    $scope.messageChange = function (type) {
      switch (type) {
        case 1:
          sysConfigData.base_autoReceiver = $scope.model.base_autoReceiver ? true : false;
          break;
        case 2:
          sysConfigData.base_autoLocation = $scope.model.base_autoLocation ? true : false;
          break;
      }
      console.log(type + "----" + JSON.stringify($scope.model));
    }
    $scope.getLoadData = function () {
      $scope.model.base_autoReceiver = sysConfigData.base_autoReceiver;
      $scope.model.message_autoSound = sysConfigData.message_autoSound;
      $scope.model.message_autoVibrate = sysConfigData.message_autoVibrate;
    }
    $scope.getLoadData();

    $scope.clearCacheData = function () {
      var confirmPopup = $ionicPopup.confirm({
        title: '清除缓存数据',
        template: '确定清除缓存数据？',
        buttons: [{text: "取消"}, {
          text: '<b>确定</b>',
          type: 'button-positive',
          onTap: function (e) {
            zn.clearCache(function (status) {
              var alertPopup = $ionicPopup.alert({
                title: '提示',
                template: '成功清理缓存数据'
              });
              alertPopup.then(function (res) {
//                console.log('Thank you for not eating my delicious ice cream cone');
              });
            }, function (status) {
              var alertPopup = $ionicPopup.alert({
                title: '提示',
                template: '清理缓存数据失败'
              });
              alertPopup.then(function (res) {
//                console.log('Thank you for not eating my delicious ice cream cone');
              });
            });
            confirmPopup.close();
            e.preventDefault();
          }
        }]
      });
    }
  }

</script>
