<ion-view id="my_sysmsg_detail">
	<ion-nav-title align-title="center"><span class="ui inverted header">消息详情</span></ion-nav-title>
	<ion-content overflow-scroll="false" has-bouncing="true" class="has-header" style="background-color: white;">
		<ion-refresher pulling-text="下拉刷新" on-refresh="pulldownRefresh_()"></ion-refresher>
		<div class="msgcontent">
			<div>
				<p class="msgtitle" ng-bind-html ="model.nniTitle"> </p>
				<p class="msgtime" ng-bind-html ="getDate(model.createDate)"> </p>
			</div>
			<div class="msgpic" ng-repeat="item in model.imgUrls">
				<img image-lazy-src="{{item | formatImgUrl}}" style="width: 100%;" alt="">
			</div>
			<div class="msgdetail" ng-bind-html="model.nniContent|unsafe"></div>
		</div>
	</ion-content>
</ion-view>
<script type="text/javascript">
	function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {
		$scope.model = null;
		$scope.msgDetail = function(type) {
			var keyPar = $scope.pageParams();
			printLog("页面参数=" + JSON.stringify(keyPar));
			var data = {
				id: keyPar.id
			}
			ajaxPost.call($scope, $http, API_appserverurl + "/api/notifynewsinfo/getMsgDetail", data, "信息详情",
				function(ret) {
					printLog("return Data=" + JSON.stringify(ret));
					$scope.model = ret;
					$scope.model.imgUrls =null;
					 if(ret.nniImgUrl!=null)
					  $scope.model.imgUrls= ret.nniImgUrl.split(",");
				},
				function(err) {
					printLog("错误信息：" + JSON.stringify(err));
				}, false, false, false, true);
			if(type)
				$scope.$broadcast('scroll.refreshComplete');
		}
		$scope.add0 = function(m) { 
			return m < 10 ? '0' + m : m
		}
		$scope.getDate = function(date) {
			if (date != null) {
				var time = new Date(date);
				var y = time.getFullYear();
				var m = time.getMonth() + 1;
				var d = time.getDate();
				var h = time.getHours();
				var mm = time.getMinutes();
				var s = time.getSeconds();
				var d = y + '-' + $scope.add0(m) + '-' + $scope.add0(d) + ' ' + $scope.add0(h) + ':' + $scope.add0(mm) + ':' + $scope.add0(s);
				return d;
			}
			return "";
		}
		$scope.pulldownRefresh_=function(){
			$scope.msgDetail(1);
		}
	  $scope.msgDetail(); 
	}
</script>