<ion-view hide-back-button="false" id="my_setting_password">
  <ion-nav-title align-title="center"><span class="ui inverted header">修改密码</span></ion-nav-title>
  <ion-content overflow-scroll="false" has-bouncing="true" class="has-header" style="background-color: #f8f8f8;">
    <div class="list" ng-class="{'clkcheckform':clkcheckform}" style="margin-top: 15px; margin-bottom: 25px;">
      <label class="item item-input">
        <span class="input-label">当前密码</span>
        <input type="password" placeholder="请输入当前密码" ng-model="model.password" maxlength="12" ng-minlength="8" ng-maxlength="12" required>
      </label>
      <label class="item item-input">
        <span class="input-label">新密码</span>
        <input type="password" placeholder="请输入新密码" ng-model="model.newpassword" maxlength="12" ng-minlength="8" ng-maxlength="12" required>
      </label>
      <label class="item item-input">
        <span class="input-label">确认新密码</span>
        <input type="password" placeholder="请确认输入新密码" ng-class="{'ng-invalid':model.password2!=model.newpassword}" ng-model="model.password2" maxlength="12" ng-minlength="8" ng-maxlength="12" required>
      </label>
    </div>
      <div class="list" style="margin: 0 20px;">
      <a class="button button-full button-blue" ng-href="" ng-click="passwordData()">提交</a >
    </div>
  </ion-content>
</ion-view>
<script type="text/javascript">
  function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {
    $scope.model = {};
    $scope.passwordData = function () {
      $scope.clkcheckform = true;
      var errinfo = '';
      if (!_.isString($scope.model.password) || $scope.model.password == null || $scope.model.password == '' || $scope.model.password.length < 8) {
        errinfo += ',当前密码不能为空且长度在8到12位';
      }
      if (!_.isString($scope.model.newpassword) || $scope.model.newpassword == null || $scope.model.newpassword == '' || $scope.model.newpassword.length < 8) {
        errinfo += ',新密码不能为空且长度在8到12位';
      }
      if ($scope.model.password2 != $scope.model.newpassword) {
        errinfo += ',确认新密码必须与新密码一致';
      }
      if (errinfo == '') {
        var confirmPopup = $ionicPopup.confirm({
          title: '修改密码',
          template: '确定修改密码？',
          buttons: [{text: "取消"}, {
            text: '<b>确定</b>',
            type: 'button-positive',
            onTap: function (e) {
              ajaxPost.call($scope, $http, API_appserverurl + "/api/user/passwordData", $scope.model, "修改密码",
                function (json) {
                  $ionicHistory.goBack();
                });
              confirmPopup.close();
              e.preventDefault();
            }
          }]
        });
      } else {
        showError(errinfo.substring(1));
      }
    }
  }

</script>
