<ion-view hide-back-button="false" id="news_release">
	<ion-nav-buttons side="right" ng-click="activitySearch()">
		<span class="release_submit" ng-click="submitNews()">
			<a class="button button-blue btnsubmit" ng-href="" ng-click="submitNews()" ng-bind="postModel.id?'重新提交':'提交'"></a>
		</span>
	</ion-nav-buttons>
	<ion-nav-title align-title="center">
		<span class="ui inverted header">
			<span ng-if="!isNewsEdit">发布新闻稿</span>
			<span ng-if="isNewsEdit">编辑新闻稿</span>
		</span>
	</ion-nav-title>
	<ion-content overflow-scroll="false" has-bouncing="true" has-footer="false">
		<div class="list">
			<label class="item item-input reject-reason" ng-if="postModel.auditStatus == 1 && postModel.auditContent">
	    		<span>驳回理由：{{postModel.auditContent}}</span>
	  		</label>
			<label class="item item-input no-margin-bottom thin-border-left-16">
    			<span class="input-label">活动名称</span>
    			<span ng-bind="postModel.abiName" ng-show="postModel.abiName || (model.activityList && model.activityList.length==1)"></span>
	    		<select ng-model="postModel.abiId" ng-show="!postModel.abiName && model.activityList && model.activityList.length>1"
	    			ng-options="option.id as option.abiName for option in model.activityList">
			    </select>
			    <span class="icon-topbar_arrow_down" style="position: absolute; right: 16px; top: 18px; color: #39D0E7;"></span>
			    <!--<span class="pulldown-trigon"></span>-->
	  		</label>
			<label class="item item-input">
    			<span class="input-label">新闻稿名</span>
	    		<input type="text" placeholder="请输入新闻稿名" ng-model="postModel.aniTitle">
	  		</label>
			<label class="item item-input item-stacked-label item-textarea">
	  			<span class="input-label margin-bottom-6">内容</span>
			    <textarea placeholder="请填写新闻稿内容" rows="6" ng-model="postModel.aniContent" maxlength="2500" autocomplete="off" autocorrect="off"></textarea>
			    <p class="float-right textarea-sub">{{postModel.aniContent.length || 0}}/2500</p>
			</label>
			<div class="item item-input upload-label">
				<span class="input-label">上传新闻稿图片（不限制）</span>
			</div>
			<div class="item item-input marginTop marginBottom multiple-label row">
				<!--<span>最多上传6张</span><br/>-->
				<div class="multiple-div col-33" ng-repeat="file in postModel.aniImgUrl">
					<div class="img-span">
						<img ng-src="{{file | formatDbImgUrl}}" />
						<span class="icon-common_prompt_cancel" ng-click="deleteImg($index)"></span>
					</div>
				</div>
				<div class="multiple-div col-33">
					<span class="icon-create_add_photo col-33" ngf-multiple="true" ngf-change="uploadFiles($files)" ngf-accept="'image/*'" ngf-fix-orientation="true" ngf-capture="'camera'" ngf-drop ngf-select ngf-resize="{width: 720, quality: 0.8, type: 'image/jpeg'}" ngf-resize-if="$width > 720 || $height > 1280">
                		<span class="path1"></span><span class="path2"></span><span class="path3"></span>
	  				</span>
				</div>
			</div>
			<!--<button class="button button-full button-calm" ng-click="submitNews()">
			  	提交
			</button>-->
		</div>
	</ion-content>
</ion-view>
<script type="text/javascript">
	var filesInt = 0;
	function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {
		console.log("me:" + uuiId);
		var params = $scope.pageParams();
		console.log("参数                " + JSON.stringify(params));
		$scope.model = {};
		$scope.postModel = {
			aniImgUrl: [],
			auditStatus: 0,
			aniWeight: 0,
			aniTitleCorlor: '#000000'
		};
		//上传图片
		$scope.uploadFiles = function(files) {
			console.log('uploadFiles');
			if (files && files.length) {
				zn.showWaiting();
				filesInt = 0;
				for (var i = 0; i < files.length; i++) {
					Upload.upload({
						url: API_imgbaseurl + '/api/file/imgUploadFile',
						data: {
							image: files[i]
						}
					}).then(function(response) {
						if (response.data && response.data != '') {
							$scope.postModel.aniImgUrl.push(response.data);
							console.log(response.data);
						}
						filesInt++;
						if(filesInt == (files.length - 1)){
							zn.hideWaiting();
						}
					}, function(resp) {
						console.log('Error status: ' + resp.status);
						filesInt++;
						if(filesInt == (files.length - 1)){
							zn.hideWaiting();
						}
					}, function(evt) {
						//console.log('progress:' + JSON.stringify(evt));
					});
				}
			}
		}
		//删除图片
		$scope.deleteImg = function(index) {
			$scope.postModel.aniImgUrl.splice(index, 1);
		}
		//获取全部我的活动
		$scope.model.activityList = [{
			id: "0",
			abiName: "请选择活动"
		}];
		$scope.getActivityList = function(index) {
			ajaxPost.call(
				$scope, $http,
				API_appserverurl + '/api/activitybaseinfo/getData', {
					createId: uuiId,
					auditStatus: 2,
					isEnd: '1'
				},
				'获取我的活动',
				function(data) {
					$timeout(function() {
						console.log(JSON.stringify(data));
						if (data && data.length > 0) {
							angular.forEach(data, function(value, key) {
								if(!value.activityNews || value.activityNews.length == 0){
									$scope.model.activityList.push(value);									
								}
								if(params.abiId == value.id){
									$scope.postModel.abiId = value.id;
								}
							});
						} else {
							showInfo("童鞋，暂时没有活动可添加新闻稿");
							$ionicHistory.goBack();
							$scope.postModel.abiId = $scope.model.activityList[0].id;
						}
						console.log(JSON.stringify($scope.model.activityList) + $scope.model.activityList.length);
						if(!$scope.postModel.abiId){
							$scope.postModel.abiId = $scope.model.activityList[0].id;
						}
					});
				},
				function(error) {
					$scope.postModel.abiId = $scope.model.activityList[0].id;
				});
		}
		$scope.getActivityList();
		//提交荣誉
		$scope.submitNews = function() {
			if ($scope.postModel.abiId <= 0) {
				showError("请选择活动名称");
				return;
			}
			if (!$scope.postModel.aniTitle) {
				showError("请填写新闻稿名称");
				return;
			}
			if (!$scope.postModel.aniContent) {
				showError("请填写新闻稿内容");
				return;
			}
			if ($scope.postModel.aniImgUrl.length <= 0) {
				showError("请添加图片");
				return;
			}
			console.log(JSON.stringify($scope.postModel));
			var url = "";
			if(params.id){
				url = '/api/activitynewsinfo/editData';
			} else {
				url = '/api/activitynewsinfo/addData';
			}
			ajaxPost.call(
				$scope, $http,
				API_appserverurl + url,
				$scope.postModel,
				'提交荣誉',
				function(data) {
					console.log("提交成功" + JSON.stringify(data));
					$scope.showSubmitSuccess(data.id);
				},
				function(error) {

				});
		}
		var myPopup = null;
		//提交成功
		$scope.showSubmitSuccess = function(id) {
			myPopup = $ionicPopup.show({
				title: '',
				template: '<i ng-click="closeHonorPopup()" class="icon-common_prompt_cancel"></i>'
					+'<div class="submit-success-div">'
					+'<span class="icon-common_success_star_bg">'
                	+'<span class="path1"></span><span class="path2"></span>'
                	+'<span class="path3"></span><span class="path4">'
                	+'</span><span class="path5"></span>'
                	+'</span><br/><div class="desc">提交成功</div><div>',
				scope: $scope,
				buttons: [{
					text: '查看新闻搞 ',
					type: 'button',
					onTap: function(e) {
						if(!params.id){
							$scope.resetModel();							
						}
						$scope.openWindow('news_detail', {id: id});
					}
				}, {
					text: '继续发布',
					type: 'button-positive',
					onTap: function(e) {
						$scope.resetModel();
						if(params.abiName){
							$scope.openWindow('add_activity');
						} else {
							myPopup.close();							
						}
					}
				}]
			});
		}
		//关闭成功弹出框
		$scope.closeHonorPopup = function() {
			if(!params.id){
				$scope.resetModel();							
			}
			myPopup.close();
		}
		//重置数据
		$scope.resetModel = function () {
			$scope.postModel = {
				aniImgUrl: [],
				auditStatus: 0
			};
			$scope.postModel.abiId = $scope.model.activityList[0].id;
		}
		//获取未发布的新闻稿详情
		$scope.getNews = function() {
			if(params.abiName){
				$scope.postModel.id = params.id;
				$scope.postModel.abiName = params.abiName;
			}
			if(params.id){
				$scope.$parent.isNewsEdit = true;
				ajaxPost.call(
				$scope, $http,
				API_appserverurl + '/api/activitynewsinfo/getNews', {
					id: params.id
				},
				'获取新闻稿详情',
				function(data) {
					$timeout(function() {
						$scope.model.news = data;
						$scope.postModel.aniImgUrl = data.aniImgUrl;
						$scope.postModel.auditStatus = data.auditStatus;
						$scope.postModel.aniWeight = data.aniWeight;
						$scope.postModel.aniTitleCorlor = data.aniTitleCorlor;
						$scope.postModel.aniTitle = data.aniTitle;
						$scope.postModel.aniContent = data.aniContent;
						$scope.postModel.auditContent = data.auditContent;
						$scope.postModel.id = params.id;
						$scope.postModel.abiName = data.news.abi_name;
						
						if($scope.postModel.aniImgUrl){
							$scope.postModel.aniImgUrl = $scope.postModel.aniImgUrl.split(",");
						}
						console.log(JSON.stringify(data) + "新闻稿");
					});
				},
				function(error) {
					//TODO
				});
			}
		}
		$scope.getNews();
	}
</script>