<ion-view hide-back-button="false" id="news_list" class="news_all">
	<ion-nav-title align-title="center">
		<span class="ui inverted header">活动新闻</span>
	</ion-nav-title>
	<ion-content lazy-scroll overflow-scroll="false" has-bouncing="true">
		<ion-refresher pulling-text="下拉刷新" on-refresh="pulldownRefresher()"></ion-refresher>
		<ion-list  show-delete="shouldShowDelete">
        	<ion-item class="item item-thumbnail-left" ng-repeat="item in model.newsList">
        		<img image-lazy-src="{{item.aniImgUrl | formatDbImgUrl}}" 
					 image-lazy-distance-from-bottom-to-load="100"
					 ng-click="clickLook(item.id, item.abiId.id)">
				<h2 ng-click="clickLook(item.id, item.abiId.id)">{{item.aniTitle}}</h2>
				<p><span class="icon-my_news_add"></span>&nbsp;活动地点：{{item.news.abi_gps_place}}</p>
				<p>
					<span class="icon-my_news_time"></span>&nbsp;活动时间：<a href="javascript:void(0)" style="color: #555555;">{{item.news | dateregion}}</a>
				</p>
				<p>
					<span class="icon-my_news_number"></span>&nbsp;活动人数：{{item.news.abi_sign_num}}
				</p>
	        </ion-item>
      	</ion-list>
		<div class="nodata_textdiv" ng-if="model.hasData==0">
	       	童鞋，你还木有该类信息哟~~！
	    </div>
		<ion-infinite-scroll ng-if="model.isMore" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
	</ion-content>
</ion-view>
<script type="text/javascript">
	function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {
		$scope.model = {
			limit: 5,
			page: 1,
			hasData: 1,
			newsList: [],
			isMore: false
		}
		//获取新闻稿列表
		$scope.getNewsData = function() {
			ajaxPost.call(
				$scope, $http,
				API_appserverurl + '/api/activitynewsinfo/getNewsList', {
					//					uuiId: uuiId,
					limit: $scope.model.limit,
					offset: ($scope.model.page - 1) * $scope.model.limit,
					status: 2
				},
				'获取新闻稿列表',
				function(data) {
					$timeout(function() {
						$timeout(function() {
							console.log(data.totalCnt + "----------" + $scope.model.page * $scope.model.limit + "-----" + $scope.model.isMore);
							if (data && data.queryData && data.queryData.length > 0) {
								if ($scope.model.page == 1)
									$scope.model.newsList = [];
								angular.forEach(data.queryData, function(value, key) {
									$scope.model.newsList.push(value);
								});
								if (data.totalCnt > ($scope.model.page * $scope.model.limit)) {
									$scope.model.isMore = true;
								} else {
									$scope.model.isMore = false;
								}
								$scope.model.hasData = 1;
							} else {
								if ($scope.model.page == 1){
									$scope.model.newsList = [];
									$scope.model.hasData = 0;
								}
								$scope.model.isMore = false;
							}
						});
					});
				},
				function(error) {
					//TODO
				});
		}
		$scope.getNewsData();
		//下拉刷新
		$scope.pulldownRefresher = function() {
			$scope.model.page = 1;
			$scope.getNewsData();
			$scope.$broadcast('scroll.refreshComplete');
		};
		//上拉加载更多
		$scope.loadMore = function() {
			$scope.getNewsData($scope.model.page++);
			$scope.$broadcast('scroll.infiniteScrollComplete');
		}
		//点击查看
		$scope.clickLook = function(id, abiId) {
			console.log("id..........." + id + "活动ID" + abiId);
			$scope.openWindow('news_detail', {
				id: id
			});
		}
	}
</script>