

  <div ng-include="src='templates/pages/common_nav.html'"></div>

<div>

	<div class = "personal-firstitem"><img class = "personal-headicon" src="http://pic6.huitu.com/res/20130116/84481_20130116142820494200_1.jpg"><span class = "personal-text">面朝大海</span></div>
	<div class = "personal-commonline"></div>
</div>

<div>
	<div class = "personal-commonitem">

	<span class = "personal-common-text">我参加的课程</span>
	</div>

	<div class = "common-line"></div>
</div>


<div>
	<div class = "personal-commonitem">

	<span class = "personal-common-text">我的收藏</span>
	</div>
	<div class = "common-margin-line"></div>
</div>



<div>
	<div class = "personal-commonitem">

	<span class = "personal-common-text">个人资料</span>
	</div>

	<div class = "common-margin-line"></div>
</div>



<div>
	<div class = "personal-commonitem">

	<span class = "personal-common-text">修改密码</span>
	</div>
	<div class = "common-line"></div>
</div>

<div class = "personal-20px-div"></div>


<div>
	<div class = "personal-commonitem">

	<span class = "personal-common-text">关于我们</span>
	</div>

	<div class = "common-line"></div>
</div>


<div>
	<div class = "personal-commonitem">

	<span class = "personal-common-text">帮助中心</span>
	</div>
	<div class = "common-margin-line"></div>
</div>



<div>
	<div class = "personal-commonitem">

	<span class = "personal-common-text">意见反馈</span>
	</div>

	<div class = "common-line"></div>
</div>