<ion-view id="sys_news_list">
	<ion-nav-title align-title="center"><span class="ui inverted header">官方通知</span></ion-nav-title>
	<ion-content overflow-scroll="false" has-bouncing="true" class="has-header" style="background-color: #f8f8f8;">
		<div class="nodata_textdiv" ng-if="hasData==0">
			童鞋，你还木有该类信息哟~~！
		</div>
		<ion-refresher pulling-text="下拉刷新" on-refresh="pulldownRefresh_()"></ion-refresher>
		<!--<div class="list1">
			<div class="item1" ng-repeat="item in data">
				<div class="content" ng-click="goToDetail(item.id)">
					<div class="title">
						标题：{{item.nniTitle}}
					</div>
					<div class="content1">
						<p>发布时间：{{getDate(item.createDate)}}</p>
						简要描述：{{item.nniDescription}}
					</div>
				</div>
				<div>
				</div>
			</div>
		</div>-->

		<div class="list1">
			<div class="item1" ng-repeat="item in data">
				<div class="headtime" align="center">
					<span ng-bind-html="getDate(item.createDate)"></span>
				</div>
				<div class="content" ng-click="goToDetail(item.id)">
					<div class="title">
						<span ng-bind-html="item.nniTitle"></span>
						<p style=" margin-top: 5px;"><span ng-bind-html="getShortDate(item.createDate)" class="shortdate"></span></p>
					</div>
					<div ng-if="item.imgUrls!=null&&item.imgUrls.length!=0">
						<img image-lazy-src="{{item.imgUrls[0] | formatImgUrl}}" style="width: 100%;" alt="">
					</div>
					<div class="content1" ng-bind-html="item.nniDescription">
					</div>
				</div>
				<div>
				</div>
			</div>
		</div>
		<ion-infinite-scroll immediate-check="false" ng-if="moredata" on-infinite="pullupRefresh_()" distance="1%"></ion-infinite-scroll>

	</ion-content>
</ion-view>
<script type="text/javascript">
	var offset = 0;
	var limit = 10;

	function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {
		$scope.data = [];
		$scope.nniType = null;
		$scope.globalTitle = null;
		$scope.hasData = 1;
		$scope.moredata = false;
		/**
		 * 页面初始化
		 */
		$scope.init = function() {
				$scope.getSysMsgList(0, 0);
			}
			/**获取系统信息列表
			 * @param  int type  0初始化 1下拉刷新 2加载更多
			 * @param int coffset 已加载条数
			 */
		$scope.getSysMsgList = function(type, coffset) {
				var data = {
					offset: coffset,
					limit: limit
				}
				ajaxPost.call($scope, $http, API_appserverurl + "/api/notifynewsinfo/getSysMsgList", data, "系统消息列表",
					function(ret) {
						if(ret && ret.length > 0) {
							switch(type) {
								case 0:
									$scope.data = ret;
									offset = ret.length;
									break;
								case 1:
									$scope.data = ret;
									offset = ret.length;
									$scope.$broadcast('scroll.refreshComplete');
									break;
								case 2:
									offset += ret.length;
									$.each(ret, function(j, item) {
										$scope.data.push(item);
									});
									$scope.$broadcast('scroll.infiniteScrollComplete');
									break;
							}
							if(ret.length < limit)
								$scope.moredata = false;
							else
								$scope.moredata = true;
						} else {
							switch(type) {
								case 0:
									$scope.data = [];
									$scope.moredata = false;
									$scope.hasData = 0;
									break;
								case 1:
									$scope.data = [];
									$scope.hasData = 0;
									$scope.moredata = false;
									$scope.$broadcast('scroll.refreshComplete');
									break;
								case 2:
									$scope.moredata = false;
									$scope.$broadcast('scroll.infiniteScrollComplete');
									break;
							}
						}
						printLog("return Data=" + JSON.stringify(ret));
						printLog("总记录数：##############################" + offset);

					},
					function(err) {
						printLog("错误信息：" + JSON.stringify(err));
					}, false, false, false, true);
			}
			//下拉刷新
		$scope.pulldownRefresh_ = function() {
				$scope.getSysMsgList(1, 0);
			}
			//上拉加载更多
		$scope.pullupRefresh_ = function() {
			$scope.getSysMsgList(2, offset);
		}
		$scope.goToDetail = function(id) {
				$scope.openWindow('my_sysmsg_detail', {
					id: id
				});
			}
			//时间格式化
		$scope.add0 = function(m) {
			return m < 10 ? '0' + m : m
		}
		$scope.getDate = function(date) {
			if(date != null) {
				var time = new Date(date);
				var y = time.getFullYear();
				var m = time.getMonth() + 1;
				var d = time.getDate();
				var h = time.getHours();
				var mm = time.getMinutes();
				var s = time.getSeconds();
				var d = y + '-' + $scope.add0(m) + '-' + $scope.add0(d) + ' ' + $scope.add0(h) + ':' + $scope.add0(mm) + ':' + $scope.add0(s);
				return d;
			}
			return "";
		}
		$scope.getShortDate = function(date) {
			if(date != null) {
				var time = new Date(date);
				var m = time.getMonth() + 1;
				var d = time.getDate();
				var d = $scope.add0(m) + '月' + $scope.add0(d) + '日';
				return d;
			}
			return "";
		}
		$scope.init();
	}
</script>