<ion-view hide-back-button="true" hide-nav-bar="true" id="user_home">
  <ion-content lazy-scroll overflow-scroll="false" has-bouncing="true" style="background-color: #f8f8f8;">
    <ion-refresher pulling-text="下拉刷新" on-refresh="getLoadData(1)"></ion-refresher>
    <div class="fl" ng-style="{'background':'#F2F2F2 url('+(model.imgUrl|formatImgUrl)+') center top / 100% 550px no-repeat'}">
      <div class="fl" style="background: url('./img/rectangle.png') repeat-x left top;min-height: 100vh;width: 100vw;">
        <div class="clear" style="position: relative;">
          <div class="account_top_body">
            <div style="position: relative; width: 100%;margin-bottom: 20px;">
              <img class="ui centered tiny image circular" style="height: 80px;"
                   image-lazy-src="{{model.imgUrl|formatImgUrl}}">
          <span class="badge badge-assertive" style="position: absolute; bottom: 0px; margin-left: 50%; left: 35px;display: none;"
                ng-bind-html="model.uuiGrade||'Lv.1'"></span>
            </div>
            <div class="clear text-center" style="color: #fff;">
              <p ng-bind-html="model.uuiName"></p>
              <p ng-bind-html="model.uuiSignature||'你若安好，便是晴天！'"></p></div>
            <div class="account_top_edit" ng-click="goBack()" style="font-size: 26px;left:0px;">
          <span class="icon-common_back_sb">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span>
                </span>
            </div>
          </div>
        </div>
        <div style="border-radius: 4px 4px 0 0; margin: 0 10px; ">
          <div class="list" style="padding-top: 0px;">

				   <div class="shadow" style="min-height: 280px;background-color: white;border-radius: 5px;padding-top: 50px;" ng-if="hasData==0">
	          <div class="nodata_textdiv"  style="margin-top: 0px;">
	            <div>该童鞋还没有创建活动哟~</div>
	          </div>
				   </div>

          <div ng-repeat="model in activityList" style="margin-bottom: 15px;">
            <div class="shadow" style="background-color: white;border-radius: 5px;">
              <!--<div ng-click="toDetails(model.abiNum)" class="micropage-activity-image" image-lazy-src="{{model.imgUrl | formatDbImgUrl}}" image-lazy-background-image="true" style="background-repeat: no-repeat;background-size: 100%,auto;margin: 10px 10px;"></div>-->
              <div style="margin: 10px 0px 10px 0px;min-height: 120px;">
                <img ng-click="toDetails(model.abiNum)" style="width: 100%;min-height: 50px;height: auto;border-radius: 5px;"
                     image-lazy-src="{{model.imgUrl | formatDbImgUrl}}" 
                     onerror="javascript:this.src='./img/my_list_default.png';"
                     image-lazy-distance-from-bottom-to-load="100"
                     />
              </div>
              <div style="padding-bottom: 0.3rem;padding-left: 10px;">
                <h3 style="padding: 10px 0 0 0" class="ng-binding">{{model.abiName}}</h3>
                <div style="margin-bottom: 10px;">
							<span class="ng-binding">
			          <span class="icon-home_add" style="color: #22B5FF;margin-right: 5px;"></span>
			          <span class="address">活动地点：{{model.abiGpsPlace}}</span>
							</span>
                </div>
                <div class="">
							<span class="ng-binding">
			          <span class="icon-home_activity_del_time" style="color: #BD18FD;margin-right: 5px;"></span>
			          <span class="address">活动时间： {{model.abiTime | dateregion}}</span>
							</span>
                </div>
              </div>
            </div>
          </div>

        </div>
        </div>
        <ion-infinite-scroll immediate-check="false" ng-if="moredata" on-infinite="pullupRefresh_()"
                             distance="1%"></ion-infinite-scroll>
      </div>
    </div>
  </ion-content>
</ion-view>
<script type="text/javascript">

  var offset = 0;
  var limit = 10;

  function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {

    $scope.goBack = function () {
      $ionicHistory.goBack();
    }
    $scope.hasData = 1;
    $scope.formatImgUrl = formatImgUrl;
    $scope.model = {};
    $scope.activityList = [];

    //上拉加载更多
    $scope.pullupRefresh_ = function () {
      $scope.moredata = false;
      $scope.getUserActivity(2, offset);
      $scope.$broadcast('scroll.infiniteScrollComplete');
    }

    /**
     * 初始化 获取 用户的活动数据
     * type 0:初始化 1:下拉刷新 2：上拉加载
     */
    $scope.getUserActivity = function (type, skip) {
      var data = {
        userId: $scope.model.uuiId
      };

      switch (type) {
        case 0:
        case 1:
          $scope.activityList = [];
          $scope.moredata = true;
          offset = 0;
          $.extend(data, {limit: limit, skip: 0});
          break;
        case 2:
          $.extend(data, {limit: limit, skip: skip});
          break;
      }
      console.log("参数：" + JSON.stringify(data));

      ajaxPost.call($scope, $http, API_appserverurl + "/api/activitybaseinfo/getActivityByUser", data, "获取用户的活动", function (ret) {
        if (ret.length == 0) {
          if ($scope.activityList.length == 0)
            $scope.hasData = 0;
          $scope.moredata = false;
        } else {
          offset += ret.length;
          $scope.activityList = $scope.activityList.concat(ret);
          $scope.hasData = 1;
          $scope.moredata = true;
        }
      });

    }

    $scope.getLoadData = function (retype) {
      if (!$scope.model.uuiId) {
        var keyPar = $scope.pageParams();
        if (_.isObject(keyPar) && !_.isUndefined(keyPar.uuiId)) {
          $scope.model.uuiId = keyPar.uuiId;
        }
      }
      $scope.isRefreshData = (retype == 1 ? true : false);
      ajaxPost.call($scope, $http, API_appserverurl + "/api/user/getOtherUser", {uuiId: $scope.model.uuiId}, "用户信息", function (ret) {
        if (!ret) {
          return $scope.openWindow('login');
        }
        if (!ret.imgUrl)
          ret.imgUrl = (ret.uuiSex == 0 ? './img/my_portrait_bg_girl.png' : './img/my_portrait_bg_boy.png');
        ret.uuiId = ret.id;
        $scope.model = ret;
        $scope.getUserActivity(0, 0);
        if ($scope.isRefreshData) {
          $scope.$broadcast('scroll.refreshComplete');
          $scope.isRefreshData = false;
        }
      }, function (err) {
        if ($scope.isRefreshData) {
          $scope.$broadcast('scroll.refreshComplete');
          $scope.isRefreshData = false;
        }
      });

    }


//    $scope.setBgImgUrl = function () {
//      var _img = formatImgUrl($scope.model.imgUrl, 960 / 4);
//      if ($scope.bg_img == _img)
//        return;
//      $scope.bg_img = _img;
//      renderImage(_img, 'account_canvas_userhome', 6);
//    }

    $scope.getLoadData();
  }

</script>
