<ion-view id="user_registerbyurl">
  <ion-nav-title align-title="center"><span class="ui inverted header">授权</span></ion-nav-title>
  <ion-content overflow-scroll="false" has-bouncing="true" class="has-header nohasfooterscroll">
    <iframe id="frmUstcticket" ng-src="{{iframeurl}}"
            style="width: 100%; height: 100%; min-height: 500px;" frameborder="0"></iframe>
  </ion-content>
</ion-view>
<script type="text/javascript">
  var obj_$scope = null;
  function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading, $stateParams, $sce) {

    if (sysConfigData.sys.mq.client_id == '')
      sysConfigData.sys.mq.client_id = Number(moment().format('x')).toString(16).toUpperCase() + randomcode(3);
//    $scope.iframeurl = $sce.trustAsResourceUrl(lochref + '?ticket=ST-d146d20f4011023af532429d5442ade7');
    $scope.iframeurl = $sce.trustAsResourceUrl("http://120.24.152.27:9082/joincas/validate?returnUrl=" + encodeURIComponent(API_webserverurl + '/page/main/joininustc?clientId=' + sysConfigData.sys.mq.client_id + '&ubiId=' + ubiId) + '&t=' + (new Date().getTime()));
    console.log('$scope.iframeurl:' + $scope.iframeurl);
    $scope.model = {};
    obj_$scope = $scope;

    $scope.getJoinUstc = function (modeldata) {
      ajaxPost.call($scope, $http, API_appserverurl + "/api/user/getJoinUstc", modeldata, "登录权限确认",
        function (ret) {
          db.add('user_registerbyurl_ticket', ret);
          $scope.openWindow('user_register');
        });
    }

    $scope.getHashTicket = function () {
      if (sysConfigData.sys.mq.isfirstsub && mq && mq.isMQConnected) {
        sysConfigData.sys.mq.isfirstsub = false;
        console.log('MQ订阅：User/Register/' + ubiId + '/' + sysConfigData.sys.mq.client_id);
//        mq.Publish('User/Register/' + ubiId + '/' + sysConfigData.sys.mq.client_id, {ticket:"111111111"});
        mq.SubscribeCB('User/Register/' + ubiId + '/' + sysConfigData.sys.mq.client_id, function (ret) {
          console.log('SubscribeCB:' + JSON.stringify(ret))
          if (_.isObject(ret)) {
            sysConfigData.sys.mq.ticket = JSON.parse(ret.payload).ticket;
          }
        });
      }

      if (sysConfigData.sys.mq.ticket != '') {
        $scope.getJoinUstc({ticket: sysConfigData.sys.mq.ticket})
//        var tickhash = angular.element('#frmUstcticket')[0].contentWindow.location.hash;
        console.log('tickhash:' + angular.element('#frmUstcticket').attr('src'))
//        if (tickhash) {
//
//        } else {
//
//        }
        sysConfigData.sys.mq.ticket = '';
      } else {
        $timeout(function () {
          $scope.getHashTicket();
        }, 500);
      }
    }
    $scope.getHashTicket();
  }
  function getJoinutcInfo(modeldata) {
    console.log('getJoinutcInfo=' + JSON.stringify(modeldata));
//    debugger;
    obj_$scope.getJoinUstc(modeldata);
  }
  //  $(function () {
  //    $('#facultyDropdown').dropdown();
  //  });
</script>
