<ion-view id="user_register">
  <ion-nav-title align-title="center"><span class="ui inverted header">注册</span></ion-nav-title>
  <ion-content overflow-scroll="false" has-bouncing="true" class="has-header nohasfooterscroll" style="background-color: #fff;">
    <div class="list" ng-class="{'clkcheckform':clkcheckform}" style="margin: 10px 16px 0 0;">

        <div class="item item-input firstnobottomitem"><input type="text" class="input-default-cls" style="border-radius: 3px;padding-left:16px;" placeholder="请输入姓名" ng-readonly="model.ticket" ng-model="model.ucuName" maxlength="20" ng-minlength="1" ng-maxlength="20" ng-required="true" tabindex="1"></div>
        <div class="item item-input firstnobottomitem"><input type="text" class="input-default-cls" style="border-radius: 3px;padding-left:16px;" placeholder="请输入身份证号" ng-model="model.ucuIdcard" maxlength="20" ng-minlength="5" ng-maxlength="20" ng-required="true" tabindex="2"></div>
        <div class="item item-input firstnobottomitem"><input type="text" class="input-default-cls" style="border-radius: 3px;padding-left:16px;" placeholder="请输入学号" ng-readonly="model.ticket" ng-model="model.gradeCode" maxlength="10" ng-minlength="5" ng-maxlength="10" ng-required="true" tabindex="3"></div>
        <label class="item item-input item-select arrow_down" style="background-color: #f8f8f8;height: 34px;    margin: 6px 0 6px 16px;border-radius: 3px;">
          <select ng-model="model.uoiId" class="input-default-cls" ng-required="true" tabindex="4" style="width: 100%;max-width: 100%;direction: ltr;">
            <option value="">请选择院系</option>
            <option ng-repeat="item in facultyData" value="{{item.id}}">{{item.fullName}}</option>
          </select>
          <span class="icon-topbar_arrow_down" style="position: absolute; right: 16px; top: 10px; color: #39D0E7;"></span>
        </label>
        <div class="item item-input firstnobottomitem"><input type="email" class="input-default-cls" style="border-radius: 3px;padding-left:16px;" placeholder="请输入邮箱地址" ng-readonly="model.ticket" ng-model="model.ucuMail" tabindex="5" ng-maxlength="100"></div>
        <div class="item item-input firstnobottomitem" style="padding-top: 20px;">
          <div class="fl text-center" style="width: 50%;" ng-click="changeUcuSex(1)">
                <span class="icon-register_boy_choice" style="font-size: 5em;" ng-if="model.ucuSex==1">
                  <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                  class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span
                  class="path8"></span><span class="path9"></span><span class="path10"></span><span
                  class="path11"></span><span class="path12"></span><span class="path13"></span><span
                  class="path14"></span><span class="path15"></span><span class="path16"></span><span
                  class="path17"></span><span class="path18"></span><span class="path19"></span><span
                  class="path20"></span><span class="path21"></span><span class="path22"></span><span
                  class="path23"></span><span class="path24"></span><span class="path25"></span><span
                  class="path26"></span><span class="path27"></span><span class="path28"></span><span
                  class="path29"></span><span class="path30"></span>
                  </span>
                <span class="icon-register_boy" style="font-size: 5em;" ng-if="model.ucuSex!=1">
                  <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                  class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span
                  class="path8"></span><span class="path9"></span><span class="path10"></span><span
                  class="path11"></span><span class="path12"></span><span class="path13"></span><span
                  class="path14"></span><span class="path15"></span><span class="path16"></span><span
                  class="path17"></span><span class="path18"></span><span class="path19"></span><span
                  class="path20"></span><span class="path21"></span><span class="path22"></span><span
                  class="path23"></span><span class="path24"></span>
                  </span>
          </div>
          <div class="fl text-center" style="width: 50%;" ng-click="changeUcuSex(0)">
              <span class="icon-register_girl_choice" style="font-size: 5em;" ng-if="model.ucuSex==0">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                class="path4"></span><span class="path5"></span><span class="path6"></span><span
                class="path7"></span><span class="path8"></span><span class="path9"></span><span
                class="path10"></span><span class="path11"></span><span class="path12"></span><span
                class="path13"></span><span class="path14"></span><span class="path15"></span><span
                class="path16"></span><span class="path17"></span><span class="path18"></span><span
                class="path19"></span><span class="path20"></span><span class="path21"></span><span
                class="path22"></span>
                </span>
              <span class="icon-register_girl" style="font-size: 5em;" ng-if="model.ucuSex!=0">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                class="path4"></span><span class="path5"></span><span class="path6"></span><span
                class="path7"></span><span class="path8"></span><span class="path9"></span><span
                class="path10"></span><span class="path11"></span><span class="path12"></span><span
                class="path13"></span><span class="path14"></span><span class="path15"></span><span
                class="path16"></span><span class="path17"></span><span class="path18"></span><span
                class="path19"></span><span class="path20"></span><span class="path21"></span>
                </span>
          </div>
        </div>
        <div class="item item-input firstnobottomitem">
          <div class="fl text-center" style="width: 50%;" ng-click="changeUcuSex(1)">
                <span class="icon-common_radiobuton_selected2" style="font-size: 16px;" ng-if="model.ucuSex==1">
                <span class="path1"></span><span class="path2"></span>
                </span>
            <span class="icon-common_radiobuton2" style="font-size: 16px;color: #999;" ng-if="model.ucuSex!=1"></span>
            <span ng-style="{color:model.ucuSex==1?'#39d0e7':''}">男</span>
          </div>
          <div class="fl text-center" style="width: 50%;" ng-click="changeUcuSex(0)">
                <span class="icon-common_radiobuton_selected2" style="font-size: 16px;" ng-if="model.ucuSex==0">
                <span class="path1"></span><span class="path2"></span>
                </span>
            <span class="icon-common_radiobuton2" style="font-size: 16px;color: #999;" ng-if="model.ucuSex!=0"></span>
            <span ng-style="{color:model.ucuSex==0?'#39d0e7':''}">女</span>
          </div>
        </div>

        <div class="item firstnobottomitem" style="padding-right: 0;">
          <a class="button button-full button-blue" ng-click="checkuserData()">下一步</a>
        </div>

    </div>
  </ion-content>
</ion-view>
<script type="text/javascript">
  function pageCtrl($scope, $http, $rootScope, $ionicHistory, $timeout, $ionicModal, $ionicPopup, EventBus, $ionicPopover, Upload, $ionicLoading) {
    $scope.model = {};

    $scope.getLoadData = function () {
      $ionicHistory.removeBackView();

      db.get('user_registerbyurl_ticket', function (dbmodel) {
        console.log('user_registerbyurl_ticket:' + JSON.stringify(dbmodel));
        if (_.isObject(dbmodel) && _.isString(dbmodel.ticket)) {
          $timeout(function () {
            $scope.model.ticket = dbmodel.ticket;
            $scope.model.gradeCode = dbmodel.zjhm;
            $scope.model.ucuName = dbmodel.name;
            $scope.model.ucuMail = dbmodel.email;
          }, 10);
        }
        db.del('user_registerbyurl_ticket');
      });
      ajaxPost.call($scope, $http, API_appserverurl + "/api/user/getUniversityList", {}, "",
        function (json) {
          console.log(JSON.stringify(json));
          $scope.facultyData = json;
//          $timeout(function () {
//            $('#facultyDropdown').dropdown();
//          }, 100)
        });
    }

    $scope.changeUcuSex = function (sex) {
      if ($scope.model.ucuSex != sex) {
        $scope.model.ucuSex = sex;
      }
    }

    $scope.checkuserData = function () {
      $scope.clkcheckform = true;
      var errinfo = '';
      if (!_.isString($scope.model.ucuName) || $scope.model.ucuName == '') {
        errinfo += ',姓名不能为空';
      }
      if (!_.isString($scope.model.ucuIdcard) || $scope.model.ucuIdcard == '') {
        errinfo += ',身份证号不能为空';
      } else if (!IdentityCodeValid($scope.model.ucuIdcard)) {
        errinfo += ',身份证号格式不正确';
      }
      if (!_.isString($scope.model.gradeCode) || $scope.model.gradeCode == '') {
        errinfo += ',学号不能为空';
      }
      if (!$scope.model.uoiId) {
        errinfo += ',院系不能为空';
      }
      if ($scope.model.ucuMail && !EmailValid($scope.model.ucuMail)) {
        errinfo += ',邮箱地址格式不正确';
      }
      if (angular.isUndefined($scope.model.ucuSex)) {
        errinfo += ',性别不能为空';
      }
      if (errinfo == '') {

        var confirmPopup = $ionicPopup.confirm({
          title: '注册校验',
          template: '确定提交资料正确无误？',
          buttons: [{text: "取消"}, {
            text: '<b>确定</b>',
            type: 'button-positive',
            onTap: function (e) {
              ajaxPost.call($scope, $http, API_appserverurl + "/api/user/checkuserData", $scope.model, "注册校验",
                function (json) {
                  $scope.openWindow('user_create', {uciKey: json});
                });
              confirmPopup.close();
              e.preventDefault();
            }
          }]
        });
      } else {
        showError(errinfo.substring(1));
      }
    }

    $scope.getLoadData();
  }

  //  $(function () {
  //    $('#facultyDropdown').dropdown();
  //  });
</script>
