/*
 说明：私有布局样式，
 1. 比如某一页特有的样式
 2. 或者改写了第三方组件，但却不能通用
 重要：请在页面根Div写上一个特有的Class，在这里写出来的CSS需要从这个特有的Class开始写
 * */

.clear {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}
.none{ display: none;}
.shadow{box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);}
.ui.form input:focus:not([type]),
.ui.form input[type="text"]:focus,
.ui.form input[type="email"]:focus,
.ui.form input[type="search"]:focus,
.ui.form input[type="password"]:focus,
.ui.form input[type="date"]:focus,
.ui.form input[type="datetime-local"]:focus,
.ui.form input[type="tel"]:focus,
.ui.form input[type="time"]:focus,
.ui.form input[type="url"]:focus,
.ui.form input[type="number"]:focus {
	background-color: #f8f8f8;
}

.ui.form textarea:focus {
	background-color: #f8f8f8;
}

.ui.form select {
	border-width: 0px;
}

.ui.form input.input-default-cls,
.input-default-cls {
	background-color: #f8f8f8 !important;
	border-width: 0px;
	color: #333 !important;
}

.page-font-color {
	color: #39d0e7;
}

.ui.basic.label {
	background-color: #f8f8f8;
	border-width: 0px;
	color: #999;
}

a.btn-check-sms {
	color: #999;
	padding: 0 10px;position: absolute;right: 0;top: 12px;    font-size: 14px;
}

.btn-check-sms.border-left:before {
  left: -10px;
	margin-right: 10px;
}

.item_common_arrow_right {
	color: #c7c7cc;
}

.item_input_text_right {
	float: right;
	width: 100%;
	padding-right: 15px;
	color: #9B9B9B;
	text-align: right;
	line-height: 34px;font-size: 13px;
}
a.item_input_text_right:hover{
  color: #222222;
}

/*homepage*/
#home .home-header-item{
	text-align: center;
	position: relative;
	width: 40px;
}
#home .home-header-item .bar-title{
	font-size: 10px;
	width: 100%;
    color: #fff;
    line-height: 12px;
    white-space: nowrap;
}
#home .bar.bar-header.bar-stable{
	padding: 5px 10px;
}

#home .bar.bar-header.bar-stable .icon-home_scan {
	font-size: 1.4rem;
    position: relative;
    top: 0.2rem;
    color: #fff;
}

#home .bar.bar-header.bar-stable .icon-topbar_search_grey {
	font-size: 1.4rem;
	position: relative;
	top: 0.2rem;
}

#home .bar.bar-header.bar-stable .topbar_message {
	position: relative;
}

#home .bar.bar-header.bar-stable .topbar_message_count {
	position: absolute;
	text-align: center;
	top: 0px;
	right: 0;
	background-color: white;
	border-radius: 1rem;
	width: 1rem;
	height: 1rem;
	line-height: 1rem;
}

#home .bar.bar-header.bar-stable .topbar_message_count span {
	color: red;
	font-size: 1rem;
}

#home .bar.bar-header.bar-stable .cancel-search {
	line-height: 2rem;
}

#home .bar.bar-header.bar-stable .icon-topbar_message {
	font-size: 1.4rem;
	position: relative;
	top: 0.2rem;
	color: #fff;
}

#home .bar.bar-header.bar-stable .title.title-center.header-item {
	margin: 0;
	left: 45px !important;
	right: 49px !important;
}

#home .bar.bar-header.bar-stable .title.title-center.header-item>span> {
	height: 100%;
	width: 100%;
}

.home_search_div {
	display: block;
    width: 100%;
    margin: 0 10px;
    position: relative;
    padding-top: 4px;
}


.home_header_slider{

	height: 150px;

}

.home_header_slider .slide_item{

	height: 150px;

}

.home_center_icon{
	
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

	overflow: hidden;
	height: 80px;
}

.home_center_icon .home_center_button{

	width: 24%;
	height: 50px;

	padding-left: 2px;
	padding-right: 2px;
}

.home_center_double_div{

	padding: 20px;
	height: 100px;

	overflow: hidden;
}

.home_center_double_div_button{

	width: 50%;
	height: 100%;
	float: left;
}

.home_list_head_div{

	height: 40px;

}

.home_list_head_left{

	padding-left: 20px;
	float: left;
	
	line-height:40px;
	height: 40px;
}

.home_list_head_right_div{

	padding-right: 20px;
	float: right;
	line-height:40px;
	height: 40px;
}

.home_list{

	width: 100%;

}


.home_list_item_img{

	float: left;
	width: 40px;
	height: :40px;

}

.home_list_item_right_div{

	height: :40px;
	
}




/*个人中心*/
.personal-firstitem{

	height: 80px;
}

.personal-commonitem{

	height: 50px;
}



.personal-firstitem .personal-headicon{
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 60px;
	height: 60px;

}

.personal-firstitem .personal-text{

	float: left;
	padding-left: 20px;
	padding-right: 30px;
	line-height: 80px;
	height: 80px;

}

.personal-commonitem .personal-common-text{

	height: 50px;
	padding-left: 20px;
	padding-right: 30px;
	line-height: 50px;
}

.personal-20px-div{

	background: #eeeeee;
	height: 20px;

}

.personal-collection-div{
	height: 100%;
	width: 100%;

	background: #eeeeee;

}

.personal-collection-div .personal-collection-item{

	height: 130px;

	padding: 10px;

}


.personal-collection-div .personal-collection-item-right-div{

	height: 105px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}


.personal-collection-div .personal-collection-item-right-div .personal-collection-item-right-inner-div{

	height: 75px;

	overflow: hidden;
}


.personal-collection-div .personal-collection-item .personal-collection-item-img{

	width: 65px;
	margin-bottom: 10px;
	float: left;

}


.personal-collection-item-right100-div{

	float: left;
	min-width: 100%;
}

.personal-collection-item-darktext{

	color: #999999;
	font-size: 14px;
	line-height: 25px;

}

.personal-collection-item-redtext{

	color: #e55507;
	font-size: 14px;
	line-height: 25px;

}



.personal-collection-div .personal-collection-item .personal-collection-item-bottom-div{

	height: 20px;
	float: none;
}


/*意见反馈*/


.persona-feedback-div{

	background: #eeeeee;
	min-width: 100%;
	min-height: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*课程*/

.personal-course-item-div{


	height: 205px;
	width: 100%;
	padding: 0px;

}

.personal-course-item-div .personal-course-top-div{

	height: 30px;
	width: 100%;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

}

.personal-course-item-div .personal-course-center-div{

	height: 125px;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 15px;

}

.personal-course-item-div .personal-course-center-right-div{

	height: 95px;
	min-width: 55%;
	overflow: hidden;
	float: left;

}


.personal-course-item-div .personal-course-center-right-top-div{

	height: 75px;

}

.personal-course-item-div .personal-course-center-right-bottom-div{

	height: 20px;

}

.personal-course-item-div .personal-course-bottom-div{

	height: 50px;
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;


}

.personal-course-item-div .personal-course-bottom-button{

	height: 25px;
	width: 60px;
	color: #ffffff;
	background: #3bac0d;
	border: #3bac0d;
	font-size: 10px;
	float: right;
	margin-top: 13px;
	margin-bottom: 12.5px;
}


.personal-givemarks-top-div{

	height: 110px;
	width: 100%;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
}

.personal-givemarks-bottom-div{

	height: 40px;
	width: 100%;
	padding-left: 10px;
	padding-right: 20px;
}

.personal-givemarks-bottom-div span{


	height: 40px;
	line-height: 40px;
	color: #333333;
	font-size: 14px;

}


.personal-givemarks-margin-line{


	height: 1px;
	margin-left: 10px;
	margin-right: 10px;
	background: #eeeeee;
	margin-top: 10px;
	margin-bottom: 10px;
}

.personal-modifypassword-div{

	width: 100%;
	height: 100%;
	background: #eeeeee;
}


.peronal-modifyemail-inputdiv{

	padding-left: 20px;
	padding-right: 20px;
}


.common-nav-background{

	background: #fafafa;

	height: 44px;


}


.common-nav-back-div{

	height: 44px;
	padding-top: 12px;
	padding-bottom: 12px;
	background: none;
}

.common-nav-back-div .navspan{

	height: 20px;
	line-height: 20px;
}


.login-input-background-out-div{

	margin-top: 50px;
}

.login-input-background-div{

	height: 95px;
	width: 85%;
	border-radius: 5px;
	display: block;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;

}


.login-notice-div{

	height: 30px;
	width: 85%;

	display: block;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;

}

.login-notice-div button{

	color: #666666;
}

.login-input-background-div label{

	color: #666666;
}

.login-input-background-div input{

	color: #666666;
}


.register-code-div{

	height: 40px;
	color: #3bac0d;
	font-size: 16px;

	padding-right: 15px;
}


.register-code-div span{

	line-height: 40px;
	padding: 5px;



}

.register-notice-div{


	margin-top: 10px;
	text-align: center;

}

.register-notice-div .other-text-color{

	color: #3bac0d;
}
