/*
 说明：公共布局样式，比如页的Header、Footer等等大多数页面一致的样式，请放在这里
 * */


/*列表样式*/


/*显示toast样式*/

input{

	padding-left: 30px;
	height: 50px;
	width: 100%;
	background: #ffffff;
	font-size: 14px;
	color: #666666;
}

body{

	background: #eeeeee;
}

div{

	background: #ffffff;
}

h4{
	font-size: 18px;
	color: #000000;
}


.ht-info-box {
	position: fixed;
	bottom: 120px;
	z-index: 99999;
	width: 100%;
	max-width: 100%;
	filter: alpha(Opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7
}

.ht-info-text {
	position: relative;
	color: #fff;
	border-radius: 100px;
	padding: 10px 20px;
	background-color: #000;
	display: table;
	min-width: 20px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto
}

.aShow {
	opacity: 0.7;
	z-index: 99999;
	animation: ht-show 1s;
	-moz-animation: ht-show 1s;
	-webkit-animation: ht-show 1s;
	-o-animation: ht-show 1s
}

.aHide {
	opacity: 0;
	z-index: -1;
	animation: ht-hide 0.5s;
	-moz-animation: ht-hide 0.5s;
	-webkit-animation: ht-hide 0.5s;
	-o-animation: ht-hide 0.5s
}

.txt-error {
	color: #FFFF00;
}

.txt-success {
	color: #fff;
}


/*显示toast样式*/

.copyright {
	text-align: center;
	padding: 15px 8px;
	clear: both;
	display: block;
	clear: both;
	background-color: #fff;
	margin: 10px 0;
	position: relative;
}

.copyright a {
	display: block;
	height: 47px;
}

.copyright img {
	background: none;
	height: 100%;
}


/*LEFT border*/

.border-left:before {
	content: '';
	position: absolute;
	background: #D2D2D2;
	top: 0;
	bottom: 1px;
	width: 1px;
	-webkit-transform: scaleX(0.5);
	transform: scaleX(0.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}


/*RIGHT border*/

.border-right:after {
	content: '';
	position: absolute;
	background: #D2D2D2;
	top: 0;
	bottom: 1px;
	width: 1px;
	-webkit-transform: scaleX(0.5);
	transform: scaleX(0.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	right: 0;
}


/*TOP border*/

.border-top:before {
	content: '';
	position: absolute;
	left: 0;
	background: #D2D2D2;
	right: 1px;
	height: 1px;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}


/*BOTTOM border*/

.border-bottom:after {
	content: '';
	position: absolute;
	left: 0;
	background: #D2D2D2;
	right: 1px;
	height: 1px;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	bottom: 0;
}

.list .item,.popup .popup-buttons,.popup .popup-head{
  border-color: transparent;
  margin: 0;
  border-width: 0px; color: #222222;
  border-style: none; position: relative;
}
.list .item:after,.popup .popup-head:after{
  content: '';
  position: absolute;
  left: 0;
  background: #D2D2D2;
  right: 1px;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  bottom: 0;
  z-index: 14;
}
.list .item:first-child:before,.popup .popup-buttons:before{
  content: '';
  position: absolute;
  left: 0;
  background: #D2D2D2;
  right: 1px;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  top: 0;
  z-index: 14;
}

.list .item:first-child:before{
	height: 0px;
	/*content: '';*/
	/*position: absolute;*/
	/*left: 0;*/
	/*background: #D2D2D2;*/
	/*right: 1px;	*/
	/*-webkit-transform: scaleY(0.5);*/
	/*transform: scaleY(0.5);*/
	/*-webkit-transform-origin: 0 0;*/
	/*transform-origin: 0 0;*/
	/*top: 0;*/
	/*z-index: 14;*/
}
.list .item.item-input.item-icon-left{
	height: 50px;
	background: #ffffff;
}
/*item-input*/
.list .item-input:not(:last-child):after{
	left: 15px;
}
.list .item.firstnotopitem:first-child:before,.list .item.firstnobottomitem:after{
	height: 0px;
}
.list .item.item-select.arrow_down:after{
  left: auto; right: -16px; background:none;
}
.bar.bar-stable,
.bar.bar-positive {
	border-color: #b8b8b8;
	background-color: #39d0e7;
	background-image: none;
	color: #fff;
}

.bar.bar-stable .title {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}


/*
 底部导航图标大小
 * */

.tab-nav.tabs .tab-item .icon {
	height: 30px;
	font-size: 26px;
	line-height: 32px;
}

.tabs {
	background-color: rgba(255, 255, 255, 1);
	/*background-image: -webkit-linear-gradient(#f8f8f8, #f8f8f8 50%, transparent 50%);
	background-image: -moz-linear-gradient(#f8f8f8, #f8f8f8 50%, transparent 50%);
	background-image: -o-linear-gradient(#f8f8f8, #f8f8f8 50%, transparent 50%);
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#f8f8f8), color-stop(0.5, #f8f8f8), color-stop(0.5, transparent));
	background-image: linear-gradient(#f8f8f8, #f8f8f8 50%, transparent 50%);*/
	background-image: none;
	color: #222;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active,
ion-tabs.tabs-color-active-positive .tab-item.active,
ion-tabs.tabs-color-active-positive .tab-item.activated {
	color: #39d0e7;
}

ion-tabs.tabs-color-active-positive .tab-item {
	color: #222;
}

.bar-stable .button:hover {
	color: #fff;
}

.main-container {
	margin-left: 1em !important;
	margin-right: 1em !important;
	padding: 2em 0em 3em;
}

.ui.form input:not([type]),
.ui.form input[type=text],
.ui.form input[type=email],
.ui.form input[type=search],
.ui.form input[type=password],
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=tel],
.ui.form input[type=time],
.ui.form input[type=url],
.ui.form input[type=number] {
	height: auto;
	display: inline;
}

.ui.default.dropdown:hover>.text,
.ui.default.dropdown>.text,
.ui.dropdown:hover>.default.text,
.ui.dropdown>.default.text {
	color: rgba(140, 140, 140, 0.87);
}

.ui.inverted.header,
.bar.bar-positive .title {
	color: #fff;
	font-size: 22px;
	font-weight: bold;
}

.ui.search.dropdown {
	border-width: 0px;
	background-color: #f8f8f8;
}

a.button.button-blue {
  border-color: transparent;
  background-color: #39d0e7;
  color: #fff; min-height: 40px; line-height: 40px; border: none;border-radius: 2px;
}

a.button.button-blue.active,
a.button.button-blue.activated {
	background-color: #39d0e7;
}

.ui.small.image,
.ui.small.images .image,
.ui.small.images img,
.ui.small.images svg {
	height: 150px;
}

.card,
.list-inset {
	margin: 20px 20px 0 20px;
}

.bar .button.button-icon .icon:before,
.bar .button.button-icon.icon-left:before,
.bar .button.button-icon.icon-right:before,
.bar .button.button-icon:before,
.bar button.button-icon .icon:before,
.bar button.button-icon.icon-left:before,
.bar button.button-icon.icon-right:before,
.bar button.button-icon:before {
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}

.list {
	padding-bottom: 0px;
}

.item-radio .radio-icon {
  width: auto;
  color: #39d0e7;
  font-size: 16px;font-weight: normal;
  font-family: 'icomoon' !important;
}
.ion-checkmark:before {
  content: "\f122";
}

.item-radio input:checked + .radio-content .item-content {
	background-color: #fff;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.item-stacked-label {
	padding-right: 16px;
	background-color: white;
}

.item-stacked-label input,
.item-stacked-label textarea {
	background-color: #f2f2f2;
	padding: 10px 10px;
}

.keyboard-up ion-content.scroll-content,
.keyboard-open ion-content.scroll-content {
	/*min-height: 100% !important;*/
	/*height: 100% !important;*/
}


/*.keyboard-up ion-content.scroll-content, .keyboard-open ion-content.scroll-content,body{*/


/*min-height: 100vh !important; height: 100vh !important;*/


/*}*/

.clkcheckform .ng-invalid {
	/*border-bottom: 1px solid #ff0000 !important;*/
}

.micropage-activity-image {
	padding-bottom: 52%;
	background-size: 100% auto;
	-webkit-background-size: 100% auto;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	position: relative;
}

.multiple-label.row {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	text-align: center;
}

.multiple-label.row> .multiple-div.col-33 {
	height: 75px;
	width: 75px;
	margin-bottom: 10px;
  	position: relative;
}

.multiple-label.row> .multiple-div.col-33 img {
	height: 100%;
	width: 100%;
}

.multiple-label.row> .multiple-div.col-33 .icon-common_prompt_cancel {
	position: absolute;
	right: 2px;
  	top: 2px;
	color: #CCCCCC;
}

.multiple-label.row .multiple-div.col-33 .icon-create_add_photo {
	font-size: 75px;
	position: absolute;
  	left: 15%;
}
.nohasfooterscroll .scroll {
  padding-bottom: 0px;
}
.popup {
	position: relative;
}
.popup-body {
	text-align: center;
  	font-size: 1rem;
}
.popup-body .icon-common_prompt_cancel {
	position: absolute;
  	right: 0;
  	top: 0;
  	color: #DDDDDD;
  	font-size: 1.5rem;
  	padding: 3px 3px 0 0;
}
.popup-body .icon-common_success_star_bg,
.popup-body .icon-my_comment_success {
	font-size: 128px;
}
.nodata_textdiv {
  text-align: center;
  color: #BBBBBB;
  height: 10px;
  font-size: 14px;
  margin-bottom: 20px;
  background: url("../img/null.png") no-repeat center top;
  background-size: 40% auto;
  padding-top: 33%;
  margin-top: 35%;
}
.list .item-icon-left .icon{
  font-size: 30px;
}
.item-icon-left .icon, .item-icon-right .icon{
  font-size: 30px;
}
.item-icon-right .icon {
  right: -5px;
}
.list {
  margin-bottom: 10px;
}
.item h2 {
	font-size: 16px;
	padding: 3px 0;
}
.item h2 a{
	font-size: 16px;
	color: #4A4A4A;
}
.item p {
	font-size: 12px;
	padding: 3px 0;
	color: #4A4A4A;
}
.item p a{
	font-size: 12px;
	color: #4A4A4A;
}
ion-content {
	background-color: #F8F8F8;
}
ion-list .list{
	padding-top: 10px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.tab-nav.tabs{
	height: 60px;
	background: url(../img/bar-bg.png) repeat-x scroll top center;
	background-size: auto 60px;
	padding-top: 10px;
	background-color: transparent;
}
.tab-nav.tabs .tab-item.add{
	color: white;
	opacity: 0.9;
    margin-top: 4px;
}

.popup-container.active .popup{
  border-radius: 6px;
}

.ui.inverted.header, .bar.bar-positive .title{
	font-size: 18px;
}
.margin-top-10 {
	margin-top: 10px !important;
}
.margin-bottom-10 {
	margin-bottom: 10px !important;
}
.margin-bottom-10:after {
	left: -16px !important;
}
.no-thin-border:before {
	height: 0 !important;
}
.no-thin-border:after {
	height: 0 !important;
}
.no-thin-border-after:after {
	height: 0 !important;
}
.no-padding {
	padding: 0 !important;
}
.popup {
	background-color: white !important;
}
.popup-head {
	display: none;
}
.popup-body {
	min-height: 80px;
	position: relative;
}
.popup-body>span {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	bottom: 0;
}
.popup-buttons .button {
	background-color: transparent;
}
.popup-buttons .button.button-positive {
	background-color: transparent;
	color: #5890FF;
}
.button.button-positive.active, .button.button-positive.activated {
	background-color: transparent;
}
.popup-buttons .button:after,.popup-buttons .button.button-positive:after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.popup-buttons {
	padding: 0 10px;
	min-height: 45px;
}
.popup-buttons .button:last-child:after {
	content: '';
	position: absolute;
	background: #D2D2D2;
	top: 0;
	bottom: 0;
	width: 1px;
	-webkit-transform: scaleX(0.5);
	transform: scaleX(0.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	right: 0;
}
.custom-ellipsis{
	text-overflow: ellipsis;
  	overflow: hidden;
  	white-space: nowrap;
}
.release-all {
	width: 100%;
	height: 100%;
	z-index: 12;
	position: absolute;
  	left: 0;
  	top: 0;
  	right: 0;
  	bottom: 0;
}
ion-modal-view .row.row-icon>.col>span,
ion-modal-view .row.row-first>.col>span,
ion-modal-view .row.row-second>.col>span,
ion-modal-view .row.row-close>.col>span,
.release-all .row.row-icon>.col>span,
.release-all .row.row-first>.col>span,
.release-all .row.row-second>.col>span,
.release-all .row.row-close>.col>span {
	font-size: 3.6rem;
	text-align: center;
}
ion-modal-view .row.row-icon>.col,
ion-modal-view .row.row-first>.col,
ion-modal-view .row.row-second>.col,
ion-modal-view .row.row-close>.col,
.release-all .row.row-icon>.col,
.release-all .row.row-first>.col,
.release-all .row.row-second>.col,
.release-all .row.row-close>.col {
	text-align: center;
	color: gray;
}
ion-modal-view {
	opacity: 0.9;
	/*background: url(../img/home_bg.png) no-repeat scroll center center;*/
	background-size: cover;
	background-color: #FDFDFD;
}

ion-modal-view .row-icon,
.release-all .row-icon {
	position: fixed;
	bottom: 109px;}

ion-modal-view .row-close,
.release-all .row-close {
	position: relative;
	top: 200px;
}
ion-modal-view .add-close,
.release-all .add-close {
	position: fixed;
	bottom: 0px;
	/*-ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg); */
}
ion-modal-view .row .icon-upper,
.release-all .row .icon-upper {
	position: relative;
	bottom: 3.5rem;
}
.release-all .row.add-close .icon-common_share_canel {
	font-size: 3rem !important;
}
.release-all .row .icon-upper.offset-right {
	right: 2%;
}
.release-all .row .icon-upper.offset-left {
	left: 2%;
}
ion-modal-view .row .col p,
.release-all .row .col p {
	padding: 0.3rem;
	line-height: normal;
	color: #333333;
}

.icon-topbar_share {
	font-size: 1.5rem;
  	color: #92E8F5;
  	position: relative;
  	top: 0.3rem;
}

ion-modal-view > .share-icon,
.release-all > .share-icon {
	position: relative;
	top: 50vw;
}
ion-modal-view > .share-icon .row-first,
.release-all > .share-icon .row-first {
	padding: 5px 5px 20px 5px !important;
}
.no-margin-bottom {
	margin-bottom: 0 !important;
}
.bar-background-image {
	background-image: url('../img/home_banner_bg.png') !important;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: top;
}
.custom-backdrop {
	position: fixed;
  	top: 0;
	left: 0;
  	z-index: 11;
	width: 100%;
  	height: 100%;
  	background-color: rgba(255, 255, 255, 0.8);
  	visibility: hidden;
  	opacity: 1;
  	-webkit-transition: 0.1s opacity linear;
  	transition: 0.1s opacity linear;
}
.custom-popup-container {
	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	background: transparent;
  	display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-box;
  	display: -moz-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-box-pack: center;
  	-ms-flex-pack: center;
  	-webkit-justify-content: center;
  	-moz-justify-content: center;
  	justify-content: center;
  	-webkit-box-align: center;
  	-ms-flex-align: center;
  	-webkit-align-items: center;
  	-moz-align-items: center;
  	align-items: center;
  	z-index: 12;
  	visibility: visible;
}
.custom-popup-container .popup {
	background-color: white;
	border-radius: 6px;
}
.thin-border-left-16:before {
	left: 16px !important;
}
.thin-border-left-16:after {
	left: 16px !important;
}
.thin-border-right-16:before {
	right: 16px !important;
}
.thin-border-right-16:after {
	right: 16px !important;
}
.ion-ios-arrow-back:before {
  content: "\ea70" !important;
  font-family: 'icomoon' !important;
  color: #A0F2FF !important;
  font-size: 20px !important;
}
.ui.rating .active.icon {
	color: #38D5FF;
}
.ui.rating .icon {
	font-size: 36px;
}
.rating-div {
	text-align: center;
	padding: 15px 0;
}
.margin-bottom-6 {
	margin-bottom: 6px;
}
.scroll-bar-indicator
{
  display: none;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  opacity: 0.75;
  background-color: transparent;
  border: 1px solid white;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}
.blurPixel {
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}
.button.button-blue.btnsubmit{
  font-size: 18px;min-height: 32px;line-height: 32px;
}

.comment-bar .comment-bar-edit {
	font-size: 14px;
	color: #999999;
	padding-left: 10px;
	position: relative;
}
.comment-bar .comment-bar-edit:before {
	content: '';
	position: absolute;
	background: #D2D2D2;
	top: 0;
	bottom: 1px;
	width: 1px;
	left: 0;
	-webkit-transform: scaleX(0.5);
	transform: scaleX(0.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
.comment-bar .comment-bar-comment {
	font-size: 14px;
	color:#5890ff;
	padding-right: 10px;
}
.comment-bar .comment-bar-comment .icon-Rectangle-584 {
	padding-right: 5px;
	font-size: 16px;
	top: 2px;
	position: relative;
}
.comment-list {
	padding-bottom: 8px;
  	padding-left: 65px !important;
}
.comment-list.is-comment-edit {
  	padding-left: 95px !important;

}
.comment-list .comment-delete {
	position: absolute;
  	top: 20px;
  	left: 15px;
  	text-align: center;
}
.comment-list .comment-delete .icon-create_-activity_cancel {
	font-size: 20px;
}
.comment-list .comment-delete .icon-create_-activity_cancel .path1:before {
	color: #FF2E48;
}
.comment-list .comment-delete p {
	font-size: 12px;
	color: #999999;
	padding: 0;
}
.comment-list .comment-content:before {
	content: '';
	position: absolute;
	left: 0;
	background: #D2D2D2;
	right: 0;
	height: 1px;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	bottom: -10px;
}
.comment-list:last-child .comment-content:before {
	height: 0;
}
.comment-list img {
	height: 40px !important;
	width: 40px !important;
	min-height: 40px !important;
	min-width: 40px !important;
	left: 15px !important;
	margin-top: 3px !important;
	position: absolute !important;
}
.comment-list img.is-comment-edit {
  	left: 45px !important;

}
.comment-list h2 {
	color: #505050;
	font-size: 14px;
	position: relative;
	overflow: visible;
}
.comment-list h2 .ui.rating {
	padding-left: 10px;
}
.comment-list h2 .ui.rating .icon {
	font-size: 10px;
}
.comment-list h2 .comment-reply-sum {
	color: #BEBEBE;
	font-size: 12px;
	position: absolute;
	right: 0;

}
.comment-list h2 .icon-my_comment_del_reply {
	color: #BEBEBE;
	font-size: 22px;
	position: absolute;
  	bottom: 1px;
  	right: 20px;
}
.comment-list .comment-time {
	color: #CCCCCC;
	font-size: 12px;
}
.comment-list .comment-content {
	font-size: 14px;
	color: #333333;
	position: relative;
	overflow: visible;
}



.mine-img-div{

	height: 95px;
	width: 125px;

	float: left;
	margin-right: 10px;

}

/*通用*/

.common-float-left-style{

	float: left;

}


.common-float-right-style{

	float: right;

}

.common-color-33{


	color: #333333;
}

.common-color-66{


	color: #666666;
}

.common-panding-5{

	padding-left: 5px;
}

.common-margin-5{

	margin-left: 5px;
}

.common-margin-top-10{

	margin-top: 10px;
}

.common-font-size-13{

	font-size: 13px;
}

.common-font-size-14{

	font-size: 14px;
}

.common-background{

	background: #eeeeee;

}

.common-line{

	height: 1px;
	width: 100%;
	background: #eeeeee;

}

.common-top-radius{

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.common-bottom-radius{

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.common-20px-line{

	height: 20px;
	background: #eeeeee;
	
}


.common-margin-line{

	height: 1px;
	margin-left: 10px;
	margin-right: 10px;
	background: #eeeeee;

}


.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  height: 40px;
  line-height: 40px;
  padding: 0px;
}

.rating > span {
	  display: inline-block;
	  position: relative;
	  width: 1.1em;
	  color: #333333;
   	  border: #333333;
	  content: "\2605";
	  padding: 0px;
	  margin:0px;
}


.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: #fa6501;
   border: #fa6501;
}

.textarea-style{


	background: #ffffff;
	font-size: 14px;
	width: 100%;
	height: 150px;
	padding: 10px;
	border: #ffffff;

}


.green-button-style{

	width: 85%;
	height: 40px;
	color: #ffffff;
	border-radius: 5px;
	border: #3bac0d;
	display: block;
	background: #3bac0d;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}



/*关闭按钮 */
.close {

  position: relative;
  display:inline-block;

  overflow: hidden;
  border-radius:30px;
  background:#b2b2b2;
  opacity:0.5;
  width: 30px;
  height:30px;
  line-height:20px;
  font-size:10px;

}
.close:hover{
	cursor:pointer;
	opacity:1;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  width: 80%;
  top: 50%;
  left: 10%;
  height: 4px;
  margin-top: -2px;
  border-radius: 5px;
  background: #ffffff;
}
.close::before {
  transform: rotate(45deg);
}
.close::after {
  transform: rotate(-45deg);
}

/*关闭按钮 end*/

/*返回按钮 */

.left{
    width:20px;
    height:20px;
    position:absolute;
    left:0;
    z-index: 2;/*兼容ie8-*/
    border:1px solid blue;
}

.left-arrow1,.left-arrow2{
	width:0;
    height:0;
    display:block;
    position:absolute;
    left:0;
    top:12px;
    z-index:5;/*兼容ie8-*/
    border-top:10px transparent dashed;
    border-left:10px transparent dashed;
    border-bottom:10px transparent dashed;
    border-right:10px #000000 solid;
    overflow:hidden;

}

.left-arrow1{

    border-right:10px #000000 #fafafa;

}

.left-arrow2{

    left:1px;/*重要*/
    border-right:10px #fafafa solid;

}


/*标准标题字样---标题*/
.common-item-title-style{

	font-size: 18px;
	color: #000000;
}
/*返回按钮 end */
