<div class="activity" ng-style="{'heigth': $$value$$.option.heigth, 'border': ($$value$$.option.borderWidth||0)+'px solid #ddd'}" ng-init="getActivityByIds($$value$$)">
	<div ng-if="$$value$$.aList.length > 0" class="activity-list">
		<div class="theme">
			<span class="icon-home_hot" ng-style="{'color': $$value$$.iconColor}">
				<span class="path1"></span><span class="path2"></span>
			</span>
			<span class="desc">
		    	{{$$value$$.theme}}
		  	</span>
			<span ng-if="$$value$$.more == 0" class="more" ng-click="gotoActivityListPage('more')">
				更多
				<span class="icon-common_rightarrow"></span>
			</span>
		</div>
		<div class="activity-single">
			<div ng-repeat="item in $$value$$.aList" class="activity-loop">
				<div style="position: relative;min-height: 120px;">
					<img style="width: 100%;min-height: 50px;height: auto;" ng-click="gotoActivityDetail(item.id)" 
						image-lazy-src="{{item.imgUrl | formatDbImgUrl}}"
						onerror="javascript:this.src='./img/my_list_default.png';"
						image-lazy-distance-from-bottom-to-load="100"
						/>
					<!--<div class="micropage-activity-image" ng-click="gotoActivityDetail(item.id)" 
						image-lazy-src="{{formatActivityImgUrl(item.imgUrl) | formatDbImgUrl}}" image-lazy-background-image="true" style="background-repeat: no-repeat;"></div>-->
					<div class="signup"  ng-click="isEnroll(item)">
						<span class="abiEnrollmentNum">{{item.abiSignNum || 0}}/</span>
						<span>{{item.limitSignNum}}</span>
						<span>报名</span>
					</div>
					<div class="signup-no-back"  ng-click="isEnroll(item)">
						<span class="abiEnrollmentNum">{{item.abiSignNum || 0}}/</span>
						<span>{{item.limitSignNum}}</span>
						<span>报名</span>
					</div>
				</div>
				<div class="activity-desc">
					<div class="activity-title" ng-click="gotoActivityDetail(item.id)" >{{item.abiName}}</div>
					<div class="activity-place custom-ellipsis">
                			<span class="icon-home_add" style="color: #22B5FF;">
                			</span> 
                			活动地点：{{item.abiGpsPlace}}
					</div>
					<div class="activity-time">
                			<span class="icon-home_activity_del_time" style="color: #BD18FD;">
                			</span>
                			活动时间：{{item | dateregion}}
					</div>
					<!--ng-if="item.abiStatus == 1 && (item.abiEnrollmentNum != item.limitSignNum)"-->
				</div>
			</div>
		</div>
	</div>
	<div class="look-more border-top border-bottom" ng-click="gotoActivityListPage($$value$$)">
		查看更多...
	</div>
</div>
