<div class="bar bar-header item-input-inset">
    <!--<button class="button icon-left ion-ios-search-strong button-clear button-small" ng-click="search(searchName)">-->
    <!--</button>-->
    <label class="item-input-wrapper">
        <i class="icon  ion-ios-search-strong placeholder-icon"></i>
        <input type="search" placeholder="搜索户外教育课程" ng-model="searchName" ng-change="search(searchName)">
    </label>

    <button>消息按钮</button>

  
  <!-- binner -->

</div>


  <div class = "home_header_slider">

	<ion-slide-box >
	  <ion-slide>
	    <div class="slide_item"><h1>BLUE</h1></div>
	  </ion-slide>
	  <ion-slide>
	    <div class="slide_item"><h1>YELLOW</h1></div>
	  </ion-slide>
	  <ion-slide on-slide-changed="slideHasChanged(index)">
	    <div class="slide_item"><h1>PINK</h1></div>
	  </ion-slide>
	</ion-slide-box>

  </div>	



<!-- 按钮 -->


<div class = "home_center_icon">

	<button class = "home_center_button"><img src="#"><h4>师资培训</h4></button>
	<button class = "home_center_button"><img src="#"><h4>赛事</h4></button>
	<button class = "home_center_button"><img src="#"><h4>研学旅游</h4></button>
	<button class = "home_center_button"><img src="#"><h4>学习基地</h4></button>

</div>

<div class = "home_center_double_div">
	<button><h4>2016特警训练专辑</h4></button>
	<button><h4>户外知识普及</h4></button>
</div>



<div > 

	<span>推荐好课</span> <button>全部课程<img src="#"></button>
</div>


<ion-list>
  <ion-list>
  <ion-item>

  	<img class = "home_list_item_img" ng-src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1486975048&di=3d2ee307469e4036853e853d41f8a569&src=http://img4.duitang.com/uploads/item/201412/16/20141216195606_UJdB3.thumb.700_0.jpeg"> 

  	<div class = "home_list_item_right_div">

		<h2>亲子沟通秘籍</h2>

	  	<span>北京</span><span>|</span><span>中国户外教育基地</span>

	  	<h2>12万人学过</h2>

		<span>开课时间:</span><span>8/12</span> <span>免费</span>
		
  	</div>

  </ion-item>
</ion-list>


</ion-list>

